In [1]:
import json
import copy
import random
import numpy as np
import pandas as pd
import math
from datetime import datetime

In [43]:
time_slots = range(0, 65)
k = 5

In [116]:
lecturers = pd.DataFrame(np.array([['Kartelj'], ['Cukic'], ['Mitic'], ['Malkov']]),
                   columns=['name'])
preffered_timeslots = [[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],[],[],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]]
lecturers['preffered_timeslots'] = preffered_timeslots
not_preffered_timeslots = [[24,25,26,27,28,29,30,31,32,33,34,35],[],[],[36,37,38,39,40,41,42,43,44,45,46,47]]
lecturers['not_preffered_timeslots'] = not_preffered_timeslots
preffered_locations = [{'1', '2'},set(),set(),{'0'}]
lecturers['preffered_locations'] = preffered_locations
lecturers

,name,preffered_timeslots,not_preffered_timeslots,preffered_locations
0,Kartelj,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]","{2, 1}"
1,Cukic,[],[],{}
2,Mitic,[],[],{}
3,Malkov,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]",{0}

In [117]:
classes = pd.DataFrame(np.array([['Racunarske mreze', None, 2], ['Racunarske mreze - vezbe', 'racunari', 3], 
                                 ['Racunarska inteligencija', None, 2], ['Racunarska inteligencija - vezbe', 'racunari', 3], 
                                 ['Funkcionalno programiranje', None, 2], ['Funkcionalno programiranje - vezbe', 'racunari', 3],
                                 ['Programiranje za veb', None, 2], ['Programiranje za veb - vezbe', 'racunari', 3],
                                 ['Istrazivanje podataka 2', None, 2], ['Istrazivanje podataka 2 - vezbe', 'racunari', 3],
                                 ['Razvoj sofvtvera', None, 2], ['Razvoj softvera - vezbe', 'racunari', 3],
                                 ['Projektovanje baza podataka', None, 2], ['Projektovanje baza podataka - vezbe', 'racunari', 3],
                                ]), columns=['name', 'equipment', 'number_of_classes'])
classes

                                   name equipment number_of_classes
0                      Racunarske mreze      None                 2
1              Racunarske mreze - vezbe  racunari                 3
2              Racunarska inteligencija      None                 2
3      Racunarska inteligencija - vezbe  racunari                 3
4            Funkcionalno programiranje      None                 2
5    Funkcionalno programiranje - vezbe  racunari                 3
6                  Programiranje za veb      None                 2
7          Programiranje za veb - vezbe  racunari                 3
8               Istrazivanje podataka 2      None                 2
9       Istrazivanje podataka 2 - vezbe  racunari                 3
10                     Razvoj sofvtvera      None                 2
11              Razvoj softvera - vezbe  racunari                 3
12          Projektovanje baza podataka      None                 2
13  Projektovanje baza podataka - vezbe  racunari                 3

In [118]:
groups = pd.DataFrame(np.array([['4i', None, False, {'1', '2', '3', '4'}], ['4i1a', '4i', True, None], ['4i1b', '4i', True, None], ['4i2a', '4i', True, None], ['4i2b', '4i', True, None],
                                ['4r', None, False, {'6', '7', '8'}], ['r4gr1', '4r', True, None], ['r4gr2', '4r', True, None], ['r4gr3', '4r', True, None]
                               ]), columns=['name', 'parent', 'main', 'children'])
groups

    name parent   main      children
0     4i   None  False  {2, 1, 4, 3}
1   4i1a     4i   True          None
2   4i1b     4i   True          None
3   4i2a     4i   True          None
4   4i2b     4i   True          None
5     4r   None  False     {7, 6, 8}
6  r4gr1     4r   True          None
7  r4gr2     4r   True          None
8  r4gr3     4r   True          None

In [2]:
locations = pd.DataFrame(np.array([['Studentski trg'], ['Sv. Nikole'], ['Jagic']]), columns=['name'])
locations

             name
0  Studentski trg
1      Sv. Nikole
2           Jagic

In [3]:
location_distances = pd.DataFrame(np.array([['0', '1', 1], ['0', '2', 1], ['1', '2', 1]]), columns=['first', 'second', 'hours'])
location_distances

  first second hours
0     0      1     1
1     0      2     1
2     1      2     1

In [121]:
rooms = pd.DataFrame(np.array([['704', '0', 'racunari'], ['718', '0', 'racunari'], ['706', '0', None], ['821', '0', None],
                               ['BIM', '0', 'racunari'], ['RLAB', '0', 'racunari'], ['830', '0', None], ['N201', '1', 'racunari'],
                               ['N202', '1', 'racunari'], ['N253', '1', None], ['Jag1', '2', 'racunari'],
                               ['Jag2', '2', 'racunari'], ['Jag3', '2', None], ['Jag4', '2', None]
                              ]), columns=['name', 'location', 'equipment'])
rooms

    name location equipment
0    704        0  racunari
1    718        0  racunari
2    706        0      None
3    821        0      None
4    BIM        0  racunari
5   RLAB        0  racunari
6    830        0      None
7   N201        1  racunari
8   N202        1  racunari
9   N253        1      None
10  Jag1        2  racunari
11  Jag2        2  racunari
12  Jag3        2      None
13  Jag4        2      None

In [122]:
groups

    name parent   main      children
0     4i   None  False  {2, 1, 4, 3}
1   4i1a     4i   True          None
2   4i1b     4i   True          None
3   4i2a     4i   True          None
4   4i2b     4i   True          None
5     4r   None  False     {7, 6, 8}
6  r4gr1     4r   True          None
7  r4gr2     4r   True          None
8  r4gr3     4r   True          None

In [123]:
teaching_curriculum = pd.DataFrame(np.array([['0', '0', {'0'}, {'0','1','2','3','4'}], 
                                             ['0', '1', {'1', '2'}, {'0','1','2'}], 
                                             ['0', '1', {'3', '4'}, {'0','3','4'}], 
                                             ['3', '10', {'1', '2'}, {'0','1','2'}],
                                             ['3', '10', {'3', '4', '5'}, {'0','3','4','5','6','7','8'}], 
                                             ['3', '11', {'1'}, {'0','1'}], 
                                             ['3', '11', {'2'}, {'0','2'}], 
                                             ['3', '11', {'3', '5'}, {'0','3','5','6','7','8'}],
                                             ['3', '11', {'4'}, {'0','4'}], 
                                             ['2', '8', {'0'}, {'0','1','2','3','4'}], 
                                             ['2', '9', {'1', '2'}, {'0','1','2',}], 
                                             ['2', '9', {'3', '4'}, {'0','3','4'}]                                               
                                            ]), columns=['lecturer', 'class', 'groups', 'groups_to_check'])
teaching_curriculum

   lecturer class     groups        groups_to_check
0         0     0        {0}        {1, 0, 3, 2, 4}
1         0     1     {2, 1}              {2, 1, 0}
2         0     1     {4, 3}              {0, 4, 3}
3         3    10     {2, 1}              {2, 1, 0}
4         3    10  {5, 4, 3}  {7, 6, 0, 3, 5, 4, 8}
5         3    11        {1}                 {1, 0}
6         3    11        {2}                 {2, 0}
7         3    11     {5, 3}     {7, 6, 0, 3, 5, 8}
8         3    11        {4}                 {0, 4}
9         2     8        {0}        {1, 0, 3, 2, 4}
10        2     9     {2, 1}              {2, 1, 0}
11        2     9     {4, 3}              {0, 4, 3}

In [124]:
teaching_curriculum_copy = teaching_curriculum.copy()
teaching_curriculum_copy['lecturer'] = lecturers.iloc[teaching_curriculum_copy['lecturer'].tolist()].name.tolist()
teaching_curriculum_copy['class'] = classes.iloc[teaching_curriculum_copy['class'].tolist()].name.tolist()
teaching_curriculum_copy['groups'] = list(map(lambda gs: list(map(lambda g: groups.iloc[int(g)]['name'], gs)), teaching_curriculum_copy['groups'].tolist()))
teaching_curriculum_copy

,lecturer,class,groups,groups_to_check
0,Kartelj,Racunarske mreze,[4i],"{1, 0, 3, 2, 4}"
1,Kartelj,Racunarske mreze - vezbe,"[4i1b, 4i1a]","{2, 1, 0}"
2,Kartelj,Racunarske mreze - vezbe,"[4i2b, 4i2a]","{0, 4, 3}"
3,Malkov,Razvoj sofvtvera,"[4i1b, 4i1a]","{2, 1, 0}"
4,Malkov,Razvoj sofvtvera,"[4r, 4i2b, 4i2a]","{7, 6, 0, 3, 5, 4, 8}"
5,Malkov,Razvoj softvera - vezbe,[4i1a],"{1, 0}"
6,Malkov,Razvoj softvera - vezbe,[4i1b],"{2, 0}"
7,Malkov,Razvoj softvera - vezbe,"[4r, 4i2a]","{7, 6, 0, 3, 5, 8}"
8,Malkov,Razvoj softvera - vezbe,[4i2b],"{0, 4}"
9,Mitic,Istrazivanje podataka 2,[4i],"{1, 0, 3, 2, 4}"
10,Mitic,Istrazivanje podataka 2 - vezbe,"[4i1b, 4i1a]","{2, 1, 0}"
11,Mitic,Istrazivanje podataka 2 - vezbe,"[4i2b, 4i2a]","{0, 4, 3}"

In [56]:
#new data
df = pd.read_csv('./files/2022_2023.csv')

set_of_lecturers = set()
for i in range(df.shape[0]):
    if df.iloc[i]['Предавања'] == df.iloc[i]['Предавања']:
        set_of_lecturers.add(df.iloc[i]['Предавања'])
    if df.iloc[i]['Вежбе'] == df.iloc[i]['Вежбе']:
        set_of_lecturers.add(df.iloc[i]['Вежбе'])
lecturers = pd.DataFrame(set_of_lecturers, columns=["name"])
lecturers['preffered_timeslots'] = np.empty((len(lecturers), 0)).tolist()
lecturers['not_preffered_timeslots'] = np.empty((len(lecturers), 0)).tolist()
lecturers['preffered_locations'] = np.empty((len(lecturers), 0)).tolist()

set_of_classes = set()
for i in range(df.shape[0]):
    if (df.iloc[i]['Шифра'] == df.iloc[i]['Шифра']) and (df.iloc[i]['Фонд предавања'] == df.iloc[i]['Фонд предавања']):
        set_of_classes.add((df.iloc[i]['Шифра'], None, int(df.iloc[i]['Фонд предавања'])))
    if df.iloc[i]['Групе В'] == df.iloc[i]['Групе В'] and int(df.iloc[i]['Групе В']) > 0 and (df.iloc[i]['Фонд вежбе'] == df.iloc[i]['Фонд вежбе']):
        set_of_classes.add((str(df.iloc[i]['Шифра']) + ' - вежбе', None, int(df.iloc[i]['Фонд вежбе'])))
classes = pd.DataFrame(set_of_classes, columns=['name', 'equipment', 'number_of_classes'])

set_of_groups = set()
for i in range(df.shape[0]):
    if (df.iloc[i]['Ток'] == df.iloc[i]['Ток']):
        set_of_groups.add((df.iloc[i]['Ток']))
    if df.iat[i,13] == df.iat[i,13]:
        set_of_groups.add(df.iat[i,13])
groups = pd.DataFrame(set_of_groups, columns=['name'])
groups['parent'] = None

teaching_curriculum = pd.DataFrame([], columns=['lecturer', 'class', 'groups', 'groups_to_check'])
for i in range(df.shape[0]):
    if (df.iloc[i]['Шифра'] == df.iloc[i]['Шифра']) and (df.iloc[i]['Фонд предавања'] == df.iloc[i]['Фонд предавања']) and (df.iloc[i]['Ток'] == df.iloc[i]['Ток']) and (df.iloc[i]['Предавања'] == df.iloc[i]['Предавања']):
        teaching_curriculum.loc[len(teaching_curriculum.index)] = [str(lecturers[lecturers['name']==df.iloc[i]['Предавања']].index[0]), str(classes[classes['name'] == df.iloc[i]['Шифра']].index[0]), {str(groups[groups['name']==df.iloc[i]['Ток']].index[0])}, {str(groups[groups['name']==df.iloc[i]['Ток']].index[0])}]

In [56]:
groups

    name parent   main    children              focus
0    1o1    NaN  False  {'2', '1'}  {1o1, 1o1a, 1o1b}
1   1o1a    1o1   True         NaN        {1o1a, 1o1}
2   1o1b    1o1   True         NaN        {1o1, 1o1b}
3    1o2    NaN  False  {'5', '4'}  {1o2, 1o2a, 1o2b}
4   1o2a    1o2   True         NaN        {1o2, 1o2a}
..   ...    ...    ...         ...                ...
85    4v    NaN   True         NaN               {4v}
86    4m    NaN   True         NaN               {4m}
87    5m    NaN   True         NaN               {5m}
88    5l    NaN   True         NaN               {5l}
89    P1    NaN   True         NaN               {P1}

[90 rows x 5 columns]

In [55]:
teaching_curriculum = pd.read_csv('teaching_curriculum.csv', index_col=0)
groups = pd.read_csv('groups.csv', index_col=0)
lecturers = pd.read_csv('lecturers.csv', index_col=0)
classes = pd.read_csv('classes.csv', index_col=0)
rooms = pd.read_csv('rooms.csv', index_col=0)
teaching_curriculum['groups'] = teaching_curriculum['groups'].apply(eval)
teaching_curriculum['groups_to_check'] = teaching_curriculum['groups_to_check'].apply(eval)
groups['focus'] = groups['focus'].apply(eval)
lecturers['preffered_timeslots'] = lecturers['preffered_timeslots'].apply(eval)
lecturers['not_preffered_timeslots'] = lecturers['not_preffered_timeslots'].apply(eval)
lecturers['preffered_locations'] = lecturers['preffered_locations'].apply(eval)
teaching_curriculum['lecturer'] = teaching_curriculum['lecturer'].astype('str')
teaching_curriculum['class'] = teaching_curriculum['class'].astype('str')

In [53]:
classes

                name  equipment  number_of_classes
0               Р272        NaN                  2
1               РМ09        NaN                  3
2               Р210        NaN                  3
3               Р274        NaN                  3
4       Р309 - вежбе        NaN                  3
..               ...        ...                ...
143             Р309        NaN                  2
144            МФУБИ        NaN                  2
145             РМ18        NaN                  3
146  15-РМ06 - вежбе        NaN                  2
147              О12        NaN                  2

[148 rows x 3 columns]

In [4]:
print(type(teaching_curriculum.iat[0,1]))

<class 'str'>

In [5]:
teaching_curriculum

    lecturer class groups groups_to_check
0         15    55    {0}       {1, 2, 0}
1         37    18    {1}          {1, 0}
2         37    18    {2}          {2, 0}
3         21    18    {4}          {4, 3}
4         21    18    {5}          {5, 3}
..       ...   ...    ...             ...
249        9     7   {89}            {89}
250       45    79   {89}            {89}
251       10    47   {89}            {89}
252       45   104   {89}            {89}
253        9    45   {89}            {89}

[254 rows x 4 columns]

In [31]:
time_slots = range(0, 65)

In [5]:
def init_timetable():
    init = []
    for i in range(teaching_curriculum.shape[0]):
        init.append([rooms.iloc[i % len(rooms)].name, time_slots[i // len(rooms)]])
    timetable = pd.DataFrame(np.array(init), columns = ['room', 'time_slot'])
    return timetable

In [6]:
def are_classes_intersected(timetable,teaching_curriculum, i, j):
    first = timetable.iat[i, 1] + classes.iat[int(teaching_curriculum.iat[i, 1]), 2] <= timetable.iat[j, 1]
    second = timetable.iat[j, 1] + classes.iat[int(teaching_curriculum.iat[j, 1]), 2] <= timetable.iat[i, 1]
    return not (first or second)

def are_locations_intersected(timetable,teaching_curriculum, i, j):
    i_location = rooms.iat[int(timetable.iat[i,0]),1]
    j_location = rooms.iat[int(timetable.iat[j,0]),1]
    if (i_location == j_location) or ((timetable.iat[i, 1] // 13) != (timetable.iat[j, 1] // 13)):
        return False
    first_location = min(int(i_location), int(j_location))
    second_location = max(int(i_location), int(j_location))
    distance_in_hours = int(location_distances[(location_distances['first'] == str(first_location)) & (location_distances['second'] == str(second_location))].iat[0,2])
    first = abs(timetable.iat[i,1] + classes.iat[int(teaching_curriculum.iat[i, 1]), 2] - timetable.iat[j, 1]) >= distance_in_hours 
    second = abs(timetable.iat[j,1] + classes.iat[int(teaching_curriculum.iat[j,1]), 2] - timetable.iat[i, 1]) >= distance_in_hours
    return not (first and second)

def are_groups_intersected(teaching_curriculum, i, j):
    set1 = teaching_curriculum.iat[i,2]
    set2 = teaching_curriculum.iat[j,2]
    whole_set1 = teaching_curriculum.iat[i,3]
    whole_set2 = teaching_curriculum.iat[j,3]
    for el1 in set1:
        for el2 in set2:
            if el1 == el2 or el1 in whole_set2 or el2 in whole_set1:
                return True
    return False

In [9]:
calculate_soft_constraints(result_timetable, teaching_curriculum, [80,81])

NameError: name 'calculate_soft_constraints' is not defined

In [7]:
def calculate_soft_constraints(timetable, teaching_curriculum, indexes):
    list_of_timeslots = [set() for x in range(65)]
    for i in indexes:
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            list_of_timeslots[j].add(rooms.iat[int(timetable.iat[i,0]),1])
    count = 0
#     print('list', list_of_timeslots)
    last_set = set()
    last_index = 0
    for i in range(len(list_of_timeslots)):
        if i % 13 == 0:
            last_set = set()
        if last_set and last_index < i - 1 and list_of_timeslots[i]:
            count += 1
        if last_set and list_of_timeslots[i] and last_set.isdisjoint(list_of_timeslots[i]):
            count += 1
        if (list_of_timeslots[i]):
            last_set = list_of_timeslots[i]
            last_index = i
    return count

def calculate_lecturer_preferences(timetable, teaching_curriculum, indexes):
    list_of_timeslots = [False for x in range(65)]
    list_of_locations = set()
    lecturer = lecturers.iloc[int(teaching_curriculum.iat[indexes[0],0])]
    for i in indexes:
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        list_of_locations.add(rooms.iat[int(timetable.iat[i,0]),1])
        for j in range(timeslot, timeslot + num_of_classes):
            list_of_timeslots[j] = True
    count = 0
    if lecturer['preffered_locations'] and list_of_locations.difference(lecturer['preffered_locations']):
        count += 1
    for i in range(len(lecturer['not_preffered_timeslots'])):
        if list_of_timeslots[lecturer['not_preffered_timeslots'][i]]:
            count += 1
    if lecturer['preffered_timeslots']:
        for i in range(len(list_of_timeslots)):
            if list_of_timeslots[i] and i not in lecturer['preffered_timeslots']:
                count += 1
    return count

In [64]:
def lecturer_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if teaching_curriculum.iat[i,0] == teaching_curriculum.iat[j,0] and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

def lecturer_constraint_delta(timetable, teaching_curriculum, i):
    lecturer = teaching_curriculum.iat[i,0]
    teaching_curriculum_with_lecturer = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer]
    count = 0
    for j in teaching_curriculum_with_lecturer.index:
        if i != j:
            if (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [65]:
def group_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

def group_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    for j in range(teaching_curriculum.shape[0]):
        if i != j:
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [66]:
def room_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if timetable.iat[i,0] == timetable.iat[j,0] and are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

def room_constraint_delta(timetable, teaching_curriculum, i):
    room = timetable.iat[i,0]
    timetable_with_room = timetable[timetable['room'] == room]
    count = 0
    for j in timetable_with_room.index:
        if i != j:
            if are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

In [52]:
classes

                name  equipment  number_of_classes
0               Р272        NaN                  2
1               РМ09        NaN                  3
2               Р210        NaN                  3
3               Р274        NaN                  3
4       Р309 - вежбе        NaN                  3
..               ...        ...                ...
143             Р309        NaN                  2
144            МФУБИ        NaN                  2
145             РМ18        NaN                  3
146  15-РМ06 - вежбе        NaN                  2
147              О12        NaN                  2

[148 rows x 3 columns]

In [62]:
def equipment_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        if classes.iat[int(teaching_curriculum.iat[i,1]),1] == classes.iat[int(teaching_curriculum.iat[i,1]),1] and classes.iat[int(teaching_curriculum.iat[i,1]),1] is not None and classes.iat[int(teaching_curriculum.iat[i,1]),1] != rooms.iat[int(timetable.iat[i,0]),2]:
            count += 1
    return count

def equipment_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    if classes.iat[int(teaching_curriculum.iat[i,1]),1] == classes.iat[int(teaching_curriculum.iat[i,1]),1] and classes.iat[int(teaching_curriculum.iat[i,1]),1] is not None and classes.iat[int(teaching_curriculum.iat[i,1]),1] != rooms.iat[int(timetable.iat[i,0]),2]:
        count += 1
    return count

In [63]:
calculate_fittnes(result_timetable, teaching_curriculum)

lecturer count 0
group count 0
room count 0

(0, 0)

In [12]:
def lecturer_soft_constraint(timetable, teaching_curriculum):
    count = 0
    for i in lecturers.index:
        indexes = teaching_curriculum[teaching_curriculum['lecturer'] == str(i)].index
        if indexes.empty:
            continue
        count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
        count += calculate_lecturer_preferences(timetable, teaching_curriculum, indexes)
    return count

def lecturer_soft_constraint_delta(timetable, teaching_curriculum, i):
    lecturer_index = teaching_curriculum.iat[i,0]
    indexes = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer_index].index
    return calculate_soft_constraints(timetable, teaching_curriculum, indexes) + calculate_lecturer_preferences(timetable, teaching_curriculum, indexes)

In [16]:
indexes = teaching_curriculum[teaching_curriculum['lecturer'] == str(0)].index
indexes

Int64Index([62, 170, 192, 224], dtype='int64')

In [17]:
teaching_curriculum[teaching_curriculum['lecturer'] == str(2)]

    lecturer class    groups           groups_to_check
54         2    81  {50, 49}              {48, 50, 49}
55         2    81      {51}                  {51, 48}
131        2   112      {63}                  {62, 63}
137        2    77      {70}                  {68, 70}
207        2    40  {82, 79}  {81, 82, 84, 80, 79, 83}
214        2    91  {82, 79}  {81, 82, 84, 80, 79, 83}
227        2   117  {82, 79}  {81, 82, 84, 80, 79, 83}

In [18]:
teaching_curriculum['lecturer']

0      15
1      37
2      37
3      21
4      21
       ..
249     9
250    45
251    10
252    45
253     9
Name: lecturer, Length: 254, dtype: object

In [13]:
def groups_soft_constraint(timetable, teaching_curriculum):
    return 0
    count = 0
    for i in groups.index:
        if groups.iat[i,2] == True:
            indexes = teaching_curriculum[(teaching_curriculum['groups_to_check'].astype(str).str.contains(str(i)))].index
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

def groups_soft_constraint_delta(timetable, teaching_curriculum, i):
    return 0
    group_set = teaching_curriculum.iat[i,2]
    count = 0
    for el in group_set:
        if groups.iat[int(el),2] == True:
            indexes = teaching_curriculum[(teaching_curriculum['groups_to_check'].astype(str).str.contains(str(el)))].index                               
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
        else:
            children_groups = groups.iat[int(el),3]
            for j in children_groups:
                indexes = teaching_curriculum[(teaching_curriculum['groups_to_check'].astype(str).str.contains(str(j)))].index 
                count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

In [ ]:
calculate_fittnes(result_timetable, teaching_curriculum)

In [20]:
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))

NameError: name 'calculate_fittnes' is not defined

In [21]:
pd.set_option('display.max_rows', 300)
result_timetable

     room  time_slot
0       0          0
1       1          0
2       2          0
3       3          0
4       4          0
5       5          0
6       6          0
7       7          0
8       8          0
9       9          0
10     10          0
11     11          0
12     12          0
13     13          0
14     14          0
15     15          0
16     16          0
17     17          0
18     18          0
19     19          0
20     20          0
21     21          0
22     22          0
23     23          0
24     24          0
25     25          0
26     26          0
27      0          1
28      1          1
29      2          1
30      3          1
31      4          1
32      5          1
33      6          1
34      7          1
35      8          1
36      9          1
37     10          1
38     11          1
39     12          1
40     13          1
41     14          1
42     15          1
43     16          1
44     17          1
45     18          1
46     19          1
47     20          1
48     21          1
49     22          1
50     23          1
51     24          1
52     25          1
53     26          1
54      0          2
55      1          2
56      2          2
57      3          2
58      4          2
59      5          2
60      6          2
61      7          2
62      8          2
63      9          2
64     10          2
65     11          2
66     12          2
67     13          2
68     14          2
69     15          2
70     16          2
71     17          2
72     18          2
73     19          2
74     20          2
75     21          2
76     22          2
77     23          2
78     24          2
79     25          2
80     26          2
81      0          3
82      1          3
83      2          3
84      3          3
85      4          3
86      5          3
87      6          3
88      7          3
89      8          3
90      9          3
91     10          3
92     11          3
93     12          3
94     13          3
95     14          3
96     15          3
97     16          3
98     17          3
99     18          3
100    19          3
101    20          3
102    21          3
103    22          3
104    23          3
105    24          3
106    25          3
107    26          3
108     0          4
109     1          4
110     2          4
111     3          4
112     4          4
113     5          4
114     6          4
115     7          4
116     8          4
117     9          4
118    10          4
119    11          4
120    12          4
121    13          4
122    14          4
123    15          4
124    16          4
125    17          4
126    18          4
127    19          4
128    20          4
129    21          4
130    22          4
131    23          4
132    24          4
133    25          4
134    26          4
135     0          5
136     1          5
137     2          5
138     3          5
139     4          5
140     5          5
141     6          5
142     7          5
143     8          5
144     9          5
145    10          5
146    11          5
147    12          5
148    13          5
149    14          5
150    15          5
151    16          5
152    17          5
153    18          5
154    19          5
155    20          5
156    21          5
157    22          5
158    23          5
159    24          5
160    25          5
161    26          5
162     0          6
163     1          6
164     2          6
165     3          6
166     4          6
167     5          6
168     6          6
169     7          6
170     8          6
171     9          6
172    10          6
173    11          6
174    12          6
175    13          6
176    14          6
177    15          6
178    16          6
179    17          6
180    18          6
181    19          6
182    20          6
183    21          6
184    22          6
185    23          6
186    24          6
187    25          6
188    26          6
189     0          7
190     1          7
191     2          7
192     3          7
193     4          7
194     5          7
195     6          7
196     7          7
197     8          7
198     9          7
199    10          7
200    11          7
201    12          7
202    13          7
203    14          7
204    15          7
205    16          7
206    17          7
207    18          7
208    19          7
209    20          7
210    21          7
211    22          7
212    23          7
213    24          7
214    25          7
215    26          7
216     0          8
217     1          8
218     2          8
219     3          8
220     4          8
221     5          8
222     6          8
223     7          8
224     8          8
225     9          8
226    10          8
227    11          8
228    12          8
229    13          8
230    14          8
231    15          8
232    16          8
233    17          8
234    18          8
235    19          8
236    20          8
237    21          8
238    22          8
239    23          8
240    24          8
241    25          8
242    26          8
243     0          9
244     1          9
245     2          9
246     3          9
247     4          9
248     5          9
249     6          9
250     7          9
251     8          9
252     9          9
253    10          9

In [22]:
groups_soft_constraint_delta(timetable_v2, teaching_curriculum, 1)

NameError: name 'timetable_v2' is not defined

In [23]:
initTimetable = init_timetable()

In [24]:
calculate_fitness_delta(initTimetable, teaching_curriculum, 0)

NameError: name 'calculate_fitness_delta' is not defined

In [25]:
calculate_fittnes(initTimetable, teaching_curriculum)

NameError: name 'calculate_fittnes' is not defined

In [26]:
groups

,name,parent,main,children,focus
0,1o1,NaN,False,"{'1', '2'}","{1o1a, 1o1, 1o1b}"
1,1o1a,1o1,True,NaN,"{1o1a, 1o1}"
2,1o1b,1o1,True,NaN,"{1o1, 1o1b}"
3,1o2,NaN,False,"{'5', '4'}","{1o2b, 1o2, 1o2a}"
4,1o2a,1o2,True,NaN,"{1o2, 1o2a}"
5,1o2b,1o2,True,NaN,"{1o2b, 1o2}"
6,1o3,NaN,False,"{'8', '7'}","{1o3b, 1o3, 1o3a}"
7,1o3a,1o3,True,NaN,"{1o3, 1o3a}"
8,1o3b,1o3,True,NaN,"{1o3b, 1o3}"
9,1o4,NaN,False,"{'10', '11'}","{1o4b, 1o4, 1o4a}"
10,1o4a,1o4,True,NaN,"{1o4, 1o4a}"
11,1o4b,1o4,True,NaN,"{1o4b, 1o4}"
12,2m,NaN,False,"{'13', '14'}","{2mb, 2m, 2ma}"
13,2ma,2m,True,NaN,"{2ma, 2m}"
14,2mb,2m,True,NaN,"{2mb, 2m}"
15,2n,NaN,False,"{'16', '17'}","{2na, 2nb, 2n}"
16,2na,2n,True,NaN,"{2na, 2n}"
17,2nb,2n,True,NaN,"{2nb, 2n}"
18,2v,NaN,False,"{'19', '20'}","{2v, 2vb, 2va}"
19,2va,2v,True,NaN,"{2v, 2va}"
20,2vb,2v,True,NaN,"{2v, 2vb}"
21,2r1,NaN,False,"{'22', '23'}","{2r1, 2r1b, 2r1a}"
22,2r1a,2r1,True,NaN,"{2r1, 2r1a}"
23,2r1b,2r1,True,NaN,"{2r1, 2r1b}"
24,2r2,NaN,False,"{'26', '25'}","{2r2a, 2r2, 2r2b}"
25,2r2a,2r2,True,NaN,"{2r2, 2r2a}"
26,2r2b,2r2,True,NaN,"{2r2, 2r2b}"
27,2l1,NaN,False,"{'28', '32'}","{2l1, 2l1a, 2l2b}"
28,2l1a,2l1,True,NaN,"{2l1, 2l1a}"
29,2l1b,2l1,True,NaN,"{2l1, 2l1b}"
30,2l2,NaN,False,"{'32', '31'}","{2l2b, 2l2a, 2l2}"
31,2l2a,2l2,True,NaN,"{2l2a, 2l2}"
32,2l2b,2l2,True,NaN,"{2l2b, 2l2}"
33,3r,NaN,False,"{'35', '38', '34', '36', '37'}","{3r2, 3r3, 3r, 3ra, 3r1, 3rb}"
34,3r1,3r,True,NaN,"{3r1, 3r}"
35,3r2,3r,True,NaN,"{3r2, 3r}"
36,3r3,3r,True,NaN,"{3r3, 3r}"
37,3ra,3r,True,NaN,"{3r, 3ra}"
38,3rb,3r,True,NaN,"{3rb, 3r}"
39,3n,NaN,False,"{'40', '41'}","{3nb, 3na, 3n}"
40,3na,3n,True,NaN,"{3na, 3n}"
41,3nb,3n,True,NaN,"{3nb, 3n}"
42,4l,NaN,False,"{'43', '44'}","{4la, 4l, 4lb}"
43,4la,4l,True,NaN,"{4la, 4l}"
44,4lb,4l,True,NaN,"{4l, 4lb}"
45,4n,NaN,False,"{'47', '46'}","{4na, 4nb, 4n}"
46,4na,4n,True,NaN,"{4n, 4na}"
47,4nb,4n,True,NaN,"{4nb, 4n}"
48,4r,NaN,False,"{'50', '51', '49', '53', '52'}","{4r3, 4ra, 4r2, 4rb, 4r1, 4r}"
49,4r1,4r,True,NaN,"{4r1, 4r}"
50,4r2,4r,True,NaN,"{4r2, 4r}"
51,4r3,4r,True,NaN,"{4r, 4r3}"
52,4ra,4r,True,NaN,"{4r, 4ra}"
53,4rb,4r,True,NaN,"{4rb, 4r}"
54,1i1,NaN,False,"{'57', '55', '56'}","{1i1b, 1i1a, 1i1, 1i1v}"
55,1i1a,1i1,True,NaN,"{1i1a, 1i1}"
56,1i1b,1i1,True,NaN,"{1i1b, 1i1}"
57,1i1v,1i1,True,NaN,"{1i1, 1i1v}"
58,1i2,NaN,False,"{'59', '60', '61'}","{1i2a, 1i2v, 1i2, 1i2b}"
59,1i2a,1i2,True,NaN,"{1i2a, 1i2}"
60,1i2b,1i2,True,NaN,"{1i2b, 1i2}"
61,1i2v,1i2,True,NaN,"{1i2v, 1i2}"
62,2i1,NaN,False,"{'63', '64'}","{2i1b, 2i1a, 2i1}"
63,2i1a,2i1,True,NaN,"{2i1a, 2i1}"
64,2i1b,2i1,True,NaN,"{2i1b, 2i1}"
65,2i2,NaN,False,"{'66', '67'}","{2i2b, 2i2, 2i2a}"
66,2i2a,2i2,True,NaN,"{2i2a, 2i2}"
67,2i2b,2i2,True,NaN,"{2i2b, 2i2}"
68,3i1,NaN,False,"{'70', '69'}","{3i1a, 3i1b, 3i1}"
69,3i1a,3i1,True,NaN,"{3i1a, 3i1}"
70,3i1b,3i1,True,NaN,"{3i1b, 3i1}"
71,3i2,NaN,False,"{'73', '72'}","{3i2b, 3i2, 3i2a}"
72,3i2a,3i2,True,NaN,"{3i2, 3i2a}"
73,3i2b,3i2,True,NaN,"{3i2b, 3i2}"
74,4i,NaN,False,"{'77', '76', '75', '78'}","{4i2a, 4i, 4i1a, 4i2b, 4i1b}"
75,4i1a,4i,True,NaN,"{4i1a, 4i}"
76,4i1b,4i,True,NaN,"{4i, 4i1b}"
77,4i2a,4i,True,NaN,"{4i2a, 4i}"
78,4i2b,4i,True,NaN,"{4i, 4i2b}"
79,5i,NaN,False,"{'81', '80'}","{5i1, 5i, 5i2}"
80,5i1,5i,True,NaN,"{5i1, 5i}"
81,5i2,5i,True,NaN,"{5i, 5i2}"
82,5r,NaN,False,"{'84', '83'}","{5r1, 5r, 5r2}"
83,5r1,5r,True,NaN,"{5r1, 5r}"
84,5r2,5r,True,NaN,"{5r, 5r2}"
85,4v,NaN,True,NaN,{4v}
86,4m,NaN,True,NaN,{4m}
87,5m,NaN,True,NaN,{5m}
88,5l,NaN,True,NaN,{5l}
89,P1,NaN,True,NaN,{P1}

In [27]:
teaching_curriculum

    lecturer class        groups                               groups_to_check
0         15    55           {0}                                     {1, 2, 0}
1         37    18           {1}                                        {1, 0}
2         37    18           {2}                                        {2, 0}
3         21    18           {4}                                        {4, 3}
4         21    18           {5}                                        {5, 3}
5         37    18           {7}                                        {7, 6}
6         42    18           {8}                                        {8, 6}
7          7    18          {10}                                       {9, 10}
8          7    18          {11}                                       {11, 9}
9         27   123           {0}                                     {1, 2, 0}
10        25     9           {1}                                        {1, 0}
11        25     9           {2}                                        {2, 0}
12        25     9           {4}                                        {4, 3}
13        38     9           {5}                                        {5, 3}
14        44     9           {7}                                        {7, 6}
15        20     9           {8}                                        {8, 6}
16        44     9          {10}                                       {9, 10}
17        29     9          {11}                                       {11, 9}
18        40   109  {15, 12, 18}          {13, 15, 18, 16, 14, 12, 20, 17, 19}
19         6    12  {13, 16, 19}                      {13, 19, 16, 12, 15, 18}
20         6    12  {20, 17, 14}                      {14, 12, 15, 20, 17, 18}
21        32    12      {22, 28}                              {27, 22, 28, 21}
22        32    12      {29, 23}                              {29, 27, 21, 23}
23        32    12      {31, 25}                              {31, 25, 30, 24}
24        32    12      {32, 26}                              {32, 30, 24, 26}
25        13   106  {15, 42, 85}                  {43, 16, 17, 15, 42, 85, 44}
26        29    29  {15, 42, 85}                  {43, 16, 17, 15, 42, 85, 44}
27        45    68  {15, 12, 18}          {13, 15, 18, 16, 14, 12, 20, 17, 19}
28        14    87  {13, 16, 19}                      {13, 19, 16, 12, 15, 18}
29        14    87  {20, 17, 14}                      {14, 12, 15, 20, 17, 18}
30        14    87      {22, 28}                              {27, 22, 28, 21}
31        14    87      {29, 23}                              {29, 27, 21, 23}
32        32    87      {31, 25}                              {31, 25, 30, 24}
33        32    87      {32, 26}                              {32, 30, 24, 26}
34        22    38          {33}                      {36, 35, 33, 37, 38, 34}
35         4    80          {34}                                      {34, 33}
36         4    80          {35}                                      {33, 35}
37         4    80          {36}                                      {36, 33}
38        26    28          {33}                      {36, 35, 33, 37, 38, 34}
39        17    43      {34, 35}                                  {33, 34, 35}
40        17    43          {36}                                      {36, 33}
41        40    23      {42, 39}                      {43, 40, 42, 44, 41, 39}
42         8    49          {43}                                      {42, 43}
43         8    49          {44}                                      {42, 44}
44        52    39          {33}                      {36, 35, 33, 37, 38, 34}
45        30    10      {34, 35}                                  {33, 34, 35}
46        30    10          {36}                                      {36, 33}
47        13    35          {33}                      {36, 35, 33, 37, 38, 34}
48        30   110          {37}                                      {33, 37}
49        30   110          {38}                                      {38, 33}
50        26    27          {33}                      {36, 35, 33, 37, 38, 34}
51        17   114          {37}                                      {33, 37}
52        17   114          {38}                                      {38, 33}
53        53   125          {48}                      {53, 52, 48, 51, 50, 49}
54         2    81      {50, 49}                                  {48, 50, 49}
55         2    81          {51}                                      {51, 48}
56        41    73          {42}                                  {42, 43, 44}
57        29   147          {43}                                      {42, 43}
58        29   147          {44}                                      {42, 44}
59        41    24          {48}                      {53, 52, 48, 51, 50, 49}
60        44    14      {50, 49}                                  {48, 50, 49}
61        44    14          {51}                                      {51, 48}
62         0    33  {45, 86, 48}      {52, 48, 45, 86, 50, 49, 46, 53, 47, 51}
63        10   119          {49}                                      {48, 49}
64        10   119          {50}                                      {48, 50}
65        46   119          {51}                                      {51, 48}
66        27    97          {48}                      {53, 52, 48, 51, 50, 49}
67        25    15          {85}                                          {85}
68        26    71          {42}                                  {42, 43, 44}
69        11    17          {43}                                      {42, 43}
70        11    17          {44}                                      {42, 44}
71        15    90      {45, 48}          {52, 48, 45, 50, 49, 46, 53, 47, 51}
72        50    31          {52}                                      {52, 48}
73        50    31          {53}                                      {53, 48}
74        24   139          {48}                      {53, 52, 48, 51, 50, 49}
75        20   120          {52}                                      {52, 48}
76        20   120          {53}                                      {53, 48}
77        26    72      {48, 74}  {78, 52, 75, 48, 50, 49, 74, 53, 76, 51, 77}
78        27    82      {75, 76}                                  {76, 75, 74}
79        42    82      {78, 77}                                  {78, 77, 74}
80        51    61          {54}                              {54, 57, 55, 56}
81         1     8          {55}                                      {54, 55}
82         1     8          {56}                                      {54, 56}
83        10     8          {57}                                      {54, 57}
84        37     8          {59}                                      {58, 59}
85        11     8          {60}                                      {58, 60}
86        11     8          {61}                                      {58, 61}
87        40    30          {54}                              {54, 57, 55, 56}
88        43    44          {55}                                      {54, 55}
89        43    44          {56}                                      {54, 56}
90        43    44          {57}                                      {54, 57}
91        29    44          {59}                                      {58, 59}
92        29    44          {60}                                      {58, 60}
93        29    44          {61}                                      {58, 61}
94         3    57      {58, 54}              {57, 56, 54, 60, 59, 58, 61, 55}
95        51    19          {54}                              {54, 57, 55, 56}
96        37   145          {55}                                      {54, 55}
97        46   145          {56}                                      {54, 56}
98        37   145          {57}                                      {54, 57}
99        42   145          {59}                                      {58, 59}
100       11   145          {60}                                      {58, 60}
101       11   145          {61}                                      {58, 61}
102       53    75          {54}                              {54, 57, 55, 56}
103       21   130          {55}                                      {54, 55}
104       21   130          {56}                                      {54, 56}
105       21   130          {57}                                      {54, 57}
106       21   130          {59}                                      {58, 59}
107       43   130          {60}                                      {58, 60}
108       43   130          {61}                                      {58, 61}
109       45   108      {58, 54}              {57, 56, 54, 60, 59, 58, 61, 55}
110       26     0          {62}                                  {64, 62, 63}
111       31    53          {63}                                      {62, 63}
112       31    53          {64}                                      {62, 64}
113       31    53          {66}                                      {65, 66}
114       25    53          {67}                                      {65, 67}
115       16   128          {62}                                  {64, 62, 63}
116       20   140          {63}                                      {62, 63}
117       14   140          {64}                                      {62, 64}
118       25   140          {66}                                      {65, 66}
119       25   140          {67}                                      {65, 67}
120       41   105          {62}                                  {64, 62, 63}
121        8    85          {63}                                      {62, 63}
122       44    85          {64}                                      {62, 64}
123       44    85          {66}                                      {65, 66}
124       44    85          {67}                                      {65, 67}
125       22    20          {62}                                  {64, 62, 63}
126        4    74          {63}                                      {62, 63}
127        4    74          {64}                                      {62, 64}
128       31    74          {66}                                      {65, 66}
129       31    74          {67}                                      {65, 67}
130       16    96          {62}                                  {64, 62, 63}
131        2   112          {63}                                      {62, 63}
132       34   112          {64}                                      {62, 64}
133       34   112          {66}                                      {65, 66}
134       18   112          {67}                                      {65, 67}
135       53   100          {68}                                  {68, 70, 69}
136       46    77          {69}                                      {68, 69}
137        2    77          {70}                                      {68, 70}
138        8    77          {72}                                      {71, 72}
139        8    77          {73}                                      {71, 73}
140       22    65          {68}                                  {68, 70, 69}
141       54    22          {69}                                      {68, 69}
142       54    22          {70}                                      {68, 70}
143       54    22          {72}                                      {71, 72}
144       54    22          {73}                                      {71, 73}
145        9    83          {68}                                  {68, 70, 69}
146       11    63          {69}                                      {68, 69}
147       11    63          {70}                                      {68, 70}
148       34    63          {72}                                      {71, 72}
149       34    63          {73}                                      {71, 73}
150       51    51          {68}                                  {68, 70, 69}
151       54   121          {69}                                      {68, 69}
152       54   121          {70}                                      {68, 70}
153       39   121          {72}                                      {71, 72}
154       39   121          {73}                                      {71, 73}
155       35   141          {68}                                  {68, 70, 69}
156       12    86          {69}                                      {68, 69}
157       12    86          {70}                                      {68, 70}
158        1    86          {72}                                      {71, 72}
159        1    86          {73}                                      {71, 73}
160       52   113          {68}                                  {68, 70, 69}
161       36    42          {69}                                      {68, 69}
162       36    42          {70}                                      {68, 70}
163       10    42          {72}                                      {71, 72}
164       10    42          {73}                                      {71, 73}
165       15   143          {68}                                  {68, 70, 69}
166       50    16          {69}                                      {68, 69}
167       50    16          {70}                                      {68, 70}
168       47    16          {72}                                      {71, 72}
169       47    16          {73}                                      {71, 73}
170        0    99      {75, 76}                                  {76, 75, 74}
171       38    59          {75}                                      {75, 74}
172       38    59          {76}                                      {76, 74}
173       49    59          {77}                                      {77, 74}
174       49    59          {78}                                      {78, 74}
175       13    60      {75, 76}                                  {76, 75, 74}
176       36     6          {75}                                      {75, 74}
177       47     6          {76}                                      {76, 74}
178        7     6          {77}                                      {77, 74}
179        7     6          {78}                                      {78, 74}
180       19     3          {74}                          {78, 77, 75, 76, 74}
181       49   122          {74}                          {78, 77, 75, 76, 74}
182       35    58          {74}                          {78, 77, 75, 76, 74}
183       28   115      {75, 76}                                  {76, 75, 74}
184       28   115      {78, 77}                                  {78, 77, 74}
185       19     2          {74}                          {78, 77, 75, 76, 74}
186       18    76      {75, 76}                                  {76, 75, 74}
187       18    76      {78, 77}                                  {78, 77, 74}
188       24     4          {74}                          {78, 77, 75, 76, 74}
189       12   144          {75}                                      {75, 74}
190       12   144          {76}                                      {76, 74}
191       39   144      {78, 77}                                  {78, 77, 74}
192        0   135      {75, 76}                                  {76, 75, 74}
193        6    92          {75}                                      {75, 74}
194        7    92          {76}                                      {76, 74}
195        6    92          {77}                                      {77, 74}
196        7    92          {78}                                      {78, 74}
197       19    37          {74}                          {78, 77, 75, 76, 74}
198       36   134      {75, 76}                                  {76, 75, 74}
199       12   134      {78, 77}                                  {78, 77, 74}
200       52   129          {74}                          {78, 77, 75, 76, 74}
201        4    11      {75, 76}                                  {76, 75, 74}
202        4    11      {78, 77}                                  {78, 77, 74}
203       45   111          {74}                          {78, 77, 75, 76, 74}
204       27     1          {74}                          {78, 77, 75, 76, 74}
205       52    78          {74}                          {78, 77, 75, 76, 74}
206       51    88      {82, 79}                      {81, 82, 84, 80, 79, 83}
207        2    40      {82, 79}                      {81, 82, 84, 80, 79, 83}
208       41    48      {88, 87}                                      {88, 87}
209        8   107      {88, 87}                                      {88, 87}
210        8   107      {88, 87}                                      {88, 87}
211       16    69      {82, 79}                      {81, 82, 84, 80, 79, 83}
212       36    32      {82, 79}                      {81, 82, 84, 80, 79, 83}
213        5    41      {82, 79}                      {81, 82, 84, 80, 79, 83}
214        2    91      {82, 79}                      {81, 82, 84, 80, 79, 83}
215       35    98      {82, 79}                      {81, 82, 84, 80, 79, 83}
216       28    46      {82, 79}                      {81, 82, 84, 80, 79, 83}
217       23    66      {82, 79}                      {81, 82, 84, 80, 79, 83}
218       28    52      {82, 79}                      {81, 82, 84, 80, 79, 83}
219       48   133      {82, 79}                      {81, 82, 84, 80, 79, 83}
220       21    70      {80, 83}                              {82, 80, 79, 83}
221       10    70      {81, 84}                              {81, 79, 84, 82}
222       33   146      {82, 79}                      {81, 82, 84, 80, 79, 83}
223       28    95      {82, 79}                      {81, 82, 84, 80, 79, 83}
224        0    84      {82, 79}                      {81, 82, 84, 80, 79, 83}
225       29    25      {82, 79}                      {81, 82, 84, 80, 79, 83}
226       23   124      {82, 79}                      {81, 82, 84, 80, 79, 83}
227        2   117      {82, 79}                      {81, 82, 84, 80, 79, 83}
228       53    56      {82, 79}                      {81, 82, 84, 80, 79, 83}
229       31   142      {82, 79}                      {81, 82, 84, 80, 79, 83}
230       48   132      {82, 79}                      {81, 82, 84, 80, 79, 83}
231       44   101      {82, 79}                      {81, 82, 84, 80, 79, 83}
232       13   136          {89}                                          {89}
233        4   118          {89}                                          {89}
234       35    26          {89}                                          {89}
235       12     5          {89}                                          {89}
236       48   131          {89}                                          {89}
237       32    62          {89}                                          {89}
238       24    21          {89}                                          {89}
239       39    13          {89}                                          {89}
240       33   126          {89}                                          {89}
241       32   103          {89}                                          {89}
242       33   116          {89}                                          {89}
243       28   127          {89}                                          {89}
244       24   138          {89}                                          {89}
245        7   102          {89}                                          {89}
246       27    34          {89}                                          {89}
247       27    89          {89}                                          {89}
248        9    54          {89}                                          {89}
249        9     7          {89}                                          {89}
250       45    79          {89}                                          {89}
251       10    47          {89}                                          {89}

In [14]:
def calculate_fittnes(timetable, teaching_curriculum):
    first = lecturer_constraint(timetable, teaching_curriculum) + group_constraint(timetable, teaching_curriculum) + room_constraint(timetable, teaching_curriculum) + equipment_constraint(timetable, teaching_curriculum)
    second = lecturer_soft_constraint(timetable, teaching_curriculum)+ groups_soft_constraint(timetable, teaching_curriculum)
    return (first, second)

def calculate_fitness_delta(timetable, teaching_curriculum, i):
    first = lecturer_constraint_delta(timetable, teaching_curriculum, i) + group_constraint_delta(timetable, teaching_curriculum, i) + room_constraint_delta(timetable, teaching_curriculum, i) + equipment_constraint_delta(timetable, teaching_curriculum, i)
    second = lecturer_soft_constraint_delta(timetable, teaching_curriculum, i) + groups_soft_constraint_delta(timetable, teaching_curriculum, i)
    return (first, second)

In [29]:
pd.DataFrame(False, index=np.arange(lecturers.shape[0]), columns=time_slots)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
def create_constraint_matrixes(timetable, teaching_curriculum):
    lecturer_constraint_matrix = pd.DataFrame(False, index=np.arange(lecturers.shape[0]), columns=time_slots)
    groups_constraint_matrix = pd.DataFrame(False, index=np.arange(groups.shape[0]), columns=time_slots)
    rooms_constraint_matrix = pd.DataFrame(False, index=np.arange(rooms.shape[0]), columns=time_slots)
    for i in range(timetable.shape[0]):
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            lecturer_constraint_matrix.iat[int(teaching_curriculum.iat[i,0]),j] = True
            for group in teaching_curriculum.iat[i,2]:
                groups_constraint_matrix.iat[int(group),j] = True
            rooms_constraint_matrix.iat[int(timetable.iat[i,0]),j] = True
    return (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix)

In [31]:
groups

,name,parent,main,children,focus
0,1o1,NaN,False,"{'1', '2'}","{1o1a, 1o1, 1o1b}"
1,1o1a,1o1,True,NaN,"{1o1a, 1o1}"
2,1o1b,1o1,True,NaN,"{1o1, 1o1b}"
3,1o2,NaN,False,"{'5', '4'}","{1o2b, 1o2, 1o2a}"
4,1o2a,1o2,True,NaN,"{1o2, 1o2a}"
5,1o2b,1o2,True,NaN,"{1o2b, 1o2}"
6,1o3,NaN,False,"{'8', '7'}","{1o3b, 1o3, 1o3a}"
7,1o3a,1o3,True,NaN,"{1o3, 1o3a}"
8,1o3b,1o3,True,NaN,"{1o3b, 1o3}"
9,1o4,NaN,False,"{'10', '11'}","{1o4b, 1o4, 1o4a}"
10,1o4a,1o4,True,NaN,"{1o4, 1o4a}"
11,1o4b,1o4,True,NaN,"{1o4b, 1o4}"
12,2m,NaN,False,"{'13', '14'}","{2mb, 2m, 2ma}"
13,2ma,2m,True,NaN,"{2ma, 2m}"
14,2mb,2m,True,NaN,"{2mb, 2m}"
15,2n,NaN,False,"{'16', '17'}","{2na, 2nb, 2n}"
16,2na,2n,True,NaN,"{2na, 2n}"
17,2nb,2n,True,NaN,"{2nb, 2n}"
18,2v,NaN,False,"{'19', '20'}","{2v, 2vb, 2va}"
19,2va,2v,True,NaN,"{2v, 2va}"
20,2vb,2v,True,NaN,"{2v, 2vb}"
21,2r1,NaN,False,"{'22', '23'}","{2r1, 2r1b, 2r1a}"
22,2r1a,2r1,True,NaN,"{2r1, 2r1a}"
23,2r1b,2r1,True,NaN,"{2r1, 2r1b}"
24,2r2,NaN,False,"{'26', '25'}","{2r2a, 2r2, 2r2b}"
25,2r2a,2r2,True,NaN,"{2r2, 2r2a}"
26,2r2b,2r2,True,NaN,"{2r2, 2r2b}"
27,2l1,NaN,False,"{'28', '32'}","{2l1, 2l1a, 2l2b}"
28,2l1a,2l1,True,NaN,"{2l1, 2l1a}"
29,2l1b,2l1,True,NaN,"{2l1, 2l1b}"
30,2l2,NaN,False,"{'32', '31'}","{2l2b, 2l2a, 2l2}"
31,2l2a,2l2,True,NaN,"{2l2a, 2l2}"
32,2l2b,2l2,True,NaN,"{2l2b, 2l2}"
33,3r,NaN,False,"{'35', '38', '34', '36', '37'}","{3r2, 3r3, 3r, 3ra, 3r1, 3rb}"
34,3r1,3r,True,NaN,"{3r1, 3r}"
35,3r2,3r,True,NaN,"{3r2, 3r}"
36,3r3,3r,True,NaN,"{3r3, 3r}"
37,3ra,3r,True,NaN,"{3r, 3ra}"
38,3rb,3r,True,NaN,"{3rb, 3r}"
39,3n,NaN,False,"{'40', '41'}","{3nb, 3na, 3n}"
40,3na,3n,True,NaN,"{3na, 3n}"
41,3nb,3n,True,NaN,"{3nb, 3n}"
42,4l,NaN,False,"{'43', '44'}","{4la, 4l, 4lb}"
43,4la,4l,True,NaN,"{4la, 4l}"
44,4lb,4l,True,NaN,"{4l, 4lb}"
45,4n,NaN,False,"{'47', '46'}","{4na, 4nb, 4n}"
46,4na,4n,True,NaN,"{4n, 4na}"
47,4nb,4n,True,NaN,"{4nb, 4n}"
48,4r,NaN,False,"{'50', '51', '49', '53', '52'}","{4r3, 4ra, 4r2, 4rb, 4r1, 4r}"
49,4r1,4r,True,NaN,"{4r1, 4r}"
50,4r2,4r,True,NaN,"{4r2, 4r}"
51,4r3,4r,True,NaN,"{4r, 4r3}"
52,4ra,4r,True,NaN,"{4r, 4ra}"
53,4rb,4r,True,NaN,"{4rb, 4r}"
54,1i1,NaN,False,"{'57', '55', '56'}","{1i1b, 1i1a, 1i1, 1i1v}"
55,1i1a,1i1,True,NaN,"{1i1a, 1i1}"
56,1i1b,1i1,True,NaN,"{1i1b, 1i1}"
57,1i1v,1i1,True,NaN,"{1i1, 1i1v}"
58,1i2,NaN,False,"{'59', '60', '61'}","{1i2a, 1i2v, 1i2, 1i2b}"
59,1i2a,1i2,True,NaN,"{1i2a, 1i2}"
60,1i2b,1i2,True,NaN,"{1i2b, 1i2}"
61,1i2v,1i2,True,NaN,"{1i2v, 1i2}"
62,2i1,NaN,False,"{'63', '64'}","{2i1b, 2i1a, 2i1}"
63,2i1a,2i1,True,NaN,"{2i1a, 2i1}"
64,2i1b,2i1,True,NaN,"{2i1b, 2i1}"
65,2i2,NaN,False,"{'66', '67'}","{2i2b, 2i2, 2i2a}"
66,2i2a,2i2,True,NaN,"{2i2a, 2i2}"
67,2i2b,2i2,True,NaN,"{2i2b, 2i2}"
68,3i1,NaN,False,"{'70', '69'}","{3i1a, 3i1b, 3i1}"
69,3i1a,3i1,True,NaN,"{3i1a, 3i1}"
70,3i1b,3i1,True,NaN,"{3i1b, 3i1}"
71,3i2,NaN,False,"{'73', '72'}","{3i2b, 3i2, 3i2a}"
72,3i2a,3i2,True,NaN,"{3i2, 3i2a}"
73,3i2b,3i2,True,NaN,"{3i2b, 3i2}"
74,4i,NaN,False,"{'77', '76', '75', '78'}","{4i2a, 4i, 4i1a, 4i2b, 4i1b}"
75,4i1a,4i,True,NaN,"{4i1a, 4i}"
76,4i1b,4i,True,NaN,"{4i, 4i1b}"
77,4i2a,4i,True,NaN,"{4i2a, 4i}"
78,4i2b,4i,True,NaN,"{4i, 4i2b}"
79,5i,NaN,False,"{'81', '80'}","{5i1, 5i, 5i2}"
80,5i1,5i,True,NaN,"{5i1, 5i}"
81,5i2,5i,True,NaN,"{5i, 5i2}"
82,5r,NaN,False,"{'84', '83'}","{5r1, 5r, 5r2}"
83,5r1,5r,True,NaN,"{5r1, 5r}"
84,5r2,5r,True,NaN,"{5r, 5r2}"
85,4v,NaN,True,NaN,{4v}
86,4m,NaN,True,NaN,{4m}
87,5m,NaN,True,NaN,{5m}
88,5l,NaN,True,NaN,{5l}
89,P1,NaN,True,NaN,{P1}

In [32]:
groups.iat[1,1]

'1o1'

In [33]:
teaching_curriculum.iat[1,2]

{'1'}

In [16]:
def check_for_constraints(timetable, teaching_curriculum, constraint_matrixes, i, timeslot):
    (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix) = constraint_matrixes
    old_timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    old_place = range(old_timeslot, old_timeslot + num_of_classes)
    set_of_groups = set()
    for group in teaching_curriculum.iat[i,2]:
        set_of_groups.add(group)
        if groups.iat[int(group),1]:
            set_of_groups.add(groups[groups['name'] == groups.iat[int(group),1]].index[0])
    for j in range(timeslot, timeslot + num_of_classes):
        if j in old_place:
            continue
        if lecturer_constraint_matrix.iat[int(teaching_curriculum.iat[i,0]),j]:
            return True
        for group in set_of_groups:
            if groups_constraint_matrix.iat[int(group),j]:
                return True
        if rooms_constraint_matrix.iat[int(timetable.iat[i,0]),j]:
            return True
    return False

In [17]:
def check_for_constraints_room(timetable, teaching_curriculum, constraint_matrixes, i, room):
    (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix) = constraint_matrixes
    timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    for j in range(timeslot, timeslot + num_of_classes):
        if rooms_constraint_matrix.iat[int(room),j]:
            return True
    return False

In [36]:
constraint_matrixes = create_constraint_matrixes(result_timetable, teaching_curriculum)
check_for_constraints_room(result_timetable, teaching_curriculum, constraint_matrixes, int('2'), '0')

True

In [40]:
calculate_fittnes(result_timetable, teaching_curriculum)

(2560, 53)

In [41]:
result_timetable

     room  time_slot
0       0          0
1       1          0
2       2          0
3       3          0
4       4          0
5       5          0
6       6          0
7       7          0
8       8          0
9       9          0
10     10          0
11     11          0
12     12          0
13     13          0
14     14          0
15     15          0
16     16          0
17     17          0
18     18          0
19     19          0
20     20          0
21     21          0
22     22          0
23     23          0
24     24          0
25     25          0
26     26          0
27      0          1
28      1          1
29      2          1
30      3          1
31      4          1
32      5          1
33      6          1
34      7          1
35      8          1
36      9          1
37     10          1
38     11          1
39     12          1
40     13          1
41     14          1
42     15          1
43     16          1
44     17          1
45     18          1
46     19          1
47     20          1
48     21          1
49     22          1
50     23          1
51     24          1
52     25          1
53     26          1
54      0          2
55      1          2
56      2          2
57      3          2
58      4          2
59      5          2
60      6          2
61      7          2
62      8          2
63      9          2
64     10          2
65     11          2
66     12          2
67     13          2
68     14          2
69     15          2
70     16          2
71     17          2
72     18          2
73     19          2
74     20          2
75     21          2
76     22          2
77     23          2
78     24          2
79     25          2
80     26          2
81      0          3
82      1          3
83      2          3
84      3          3
85      4          3
86      5          3
87      6          3
88      7          3
89      8          3
90      9          3
91     10          3
92     11          3
93     12          3
94     13          3
95     14          3
96     15          3
97     16          3
98     17          3
99     18          3
100    19          3
101    20          3
102    21          3
103    22          3
104    23          3
105    24          3
106    25          3
107    26          3
108     0          4
109     1          4
110     2          4
111     3          4
112     4          4
113     5          4
114     6          4
115     7          4
116     8          4
117     9          4
118    10          4
119    11          4
120    12          4
121    13          4
122    14          4
123    15          4
124    16          4
125    17          4
126    18          4
127    19          4
128    20          4
129    21          4
130    22          4
131    23          4
132    24          4
133    25          4
134    26          4
135     0          5
136     1          5
137     2          5
138     3          5
139     4          5
140     5          5
141     6          5
142     7          5
143     8          5
144     9          5
145    10          5
146    11          5
147    12          5
148    13          5
149    14          5
150    15          5
151    16          5
152    17          5
153    18          5
154    19          5
155    20          5
156    21          5
157    22          5
158    23          5
159    24          5
160    25          5
161    26          5
162     0          6
163     1          6
164     2          6
165     3          6
166     4          6
167     5          6
168     6          6
169     7          6
170     8          6
171     9          6
172    10          6
173    11          6
174    12          6
175    13          6
176    14          6
177    15          6
178    16          6
179    17          6
180    18          6
181    19          6
182    20          6
183    21          6
184    22          6
185    23          6
186    24          6
187    25          6
188    26          6
189     0          7
190     1          7
191     2          7
192     3          7
193     4          7
194     5          7
195     6          7
196     7          7
197     8          7
198     9          7
199    10          7
200    11          7
201    12          7
202    13          7
203    14          7
204    15          7
205    16          7
206    17          7
207    18          7
208    19          7
209    20          7
210    21          7
211    22          7
212    23          7
213    24          7
214    25          7
215    26          7
216     0          8
217     1          8
218     2          8
219     3          8
220     4          8
221     5          8
222     6          8
223     7          8
224     8          8
225     9          8
226    10          8
227    11          8
228    12          8
229    13          8
230    14          8
231    15          8
232    16          8
233    17          8
234    18          8
235    19          8
236    20          8
237    21          8
238    22          8
239    23          8
240    24          8
241    25          8
242    26          8
243     0          9
244     1          9
245     2          9
246     3          9
247     4          9
248     5          9
249     6          9
250     7          9
251     8          9
252     9          9
253    10          9

In [18]:
def local_search(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in timeslot_range:
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness < calculate_fittnes(timetable, teaching_curriculum):
            print(best_fitness)
            timetable = best_timetable.copy()
        else:
            break
    return timetable

In [19]:
def local_search_v2(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    fitness = best_fitness
    helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
#             timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in time_slots:
                if timeslot % 13 + classes.iat[int(teaching_curriculum.iat[i,1]),2] > 12:
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                first_fitness_delta = 0
                first_fitness_delta += check_lecturer_constraint_delta(timetable, teaching_curriculum, helper_matrixes[0], i, timeslot)
                first_fitness_delta += check_groups_constraint_delta(timetable, teaching_curriculum, helper_matrixes[1], i, timeslot)
                first_fitness_delta += check_room_constraint_delta(timetable, teaching_curriculum, helper_matrixes[2], i, timeslot)
                first_fitness_delta += equipment_constraint_delta(timetable, teaching_curriculum, i)
                first_currfitness_delta = 0
                first_currfitness_delta += check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[0], i, timeslot)
                first_currfitness_delta += check_groups_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[1], i, timeslot)
                first_currfitness_delta += check_room_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[2], i, timeslot)
                first_currfitness_delta += equipment_constraint_delta(current_timetable, teaching_curriculum, i)
                if fitness[0] - first_fitness_delta + first_currfitness_delta > best_fitness[0]:
                    continue
                second_fitness_delta = 0
                second_fitness_delta += lecturer_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_fitness_delta += groups_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_currfitness_delta = 0
                second_currfitness_delta += lecturer_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                second_currfitness_delta += groups_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                fitness_delta = (first_fitness_delta, second_fitness_delta)
                current_fitness_delta = (first_currfitness_delta, second_currfitness_delta)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] == best_fitness[0]:
                    a = 'a'
                if current_fittness[0] > best_fitness[0]:
                    b = 'b'
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
                if best_fitness[1] < 0:
                    print('less than zero')
                    print(fitness[1], fitness_delta[1], current_fitness_delta[1])
                    print(i, timeslot, timetable.iat[i,1])
                    return current_timetable
                    break
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                first_fitness_delta = 0
                first_fitness_delta += check_lecturer_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[0], i, str(j))
                first_fitness_delta += check_groups_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[1], i, str(j))
                first_fitness_delta += check_room_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[2], i, str(j))
                first_fitness_delta += equipment_constraint_delta(timetable, teaching_curriculum, i)
                first_currfitness_delta = 0
                first_currfitness_delta += check_lecturer_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[0], i, str(j))
                first_currfitness_delta += check_groups_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[1], i, str(j))
                first_currfitness_delta += check_room_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[2], i, str(j))
                first_currfitness_delta += equipment_constraint_delta(current_timetable, teaching_curriculum, i)
                if fitness[0] - first_fitness_delta + first_currfitness_delta > best_fitness[0]:
                    continue
                second_fitness_delta = 0
                second_fitness_delta += lecturer_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_fitness_delta += groups_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_currfitness_delta = 0
                second_currfitness_delta += lecturer_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                second_currfitness_delta += groups_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                fitness_delta = (first_fitness_delta, second_fitness_delta)
                current_fitness_delta = (first_currfitness_delta, second_currfitness_delta)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] == best_fitness[0]:
                    a = 'a'
                if current_fittness[0] > best_fitness[0]:
                    b = 'b'
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
#                 if best_fitness[1] < 0:
#                     print('less than zero')
#                     print(fitness[1], fitness_delta[1], current_fitness_delta[1])
#                     break
        if best_fitness[0] < fitness[0] or (best_fitness[0] == fitness[0] and best_fitness[1] < fitness[1]):
            timetable = best_timetable.copy()
            fitness = best_fitness
            helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)
            full_fitness = calculate_fittnes(best_timetable, teaching_curriculum)
#             if (full_fitness[1] != best_fitness[1]):
#                 print('delta')
#                 print(best_fitness)
#                 print('full')
#                 print(full_fitness)
#                 break
            print(fitness)
        else:
            break
    return timetable

In [210]:
start = datetime.now()
global_count = 0
timetable_test = init_timetable()
timetable_test = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
tdsoftext = (end - start).total_seconds()

(2520, 53)
(2481, 53)
(2443, 53)
(2407, 51)
(2372, 51)
(2338, 51)
(2306, 49)
(2275, 48)
(2244, 47)
(2214, 47)
(2184, 47)
(2154, 47)
(2126, 47)
(2098, 47)
(2072, 47)
(2046, 48)
(2020, 49)
(1995, 49)
(1971, 49)
(1947, 49)
(1924, 48)
(1901, 48)
(1878, 48)
(1856, 48)
(1834, 48)
(1812, 48)
(1790, 48)
(1769, 48)
(1748, 48)
(1727, 48)
(1706, 48)
(1686, 48)
(1666, 48)
(1647, 46)
(1628, 45)
(1609, 44)
(1590, 43)
(1571, 43)
(1552, 43)
(1534, 42)
(1516, 41)
(1498, 41)
(1480, 41)
(1462, 41)
(1444, 41)
(1427, 39)
(1410, 38)
(1393, 38)
(1376, 38)
(1359, 39)
(1343, 37)
(1327, 36)
(1311, 36)
(1295, 36)
(1279, 37)
(1264, 36)
(1249, 35)
(1234, 35)
(1219, 35)
(1204, 35)
(1190, 35)
(1176, 35)
(1162, 35)
(1148, 35)
(1134, 35)
(1120, 35)
(1106, 35)
(1092, 36)
(1079, 34)
(1066, 34)
(1053, 34)
(1040, 34)
(1027, 34)
(1015, 32)
(1003, 32)
(991, 32)
(979, 32)
(967, 32)
(955, 32)
(944, 31)
(933, 31)
(922, 31)
(911, 31)
(900, 31)
(890, 29)
(880, 29)
(870, 29)
(860, 29)
(850, 29)
(840, 29)
(830, 29)
(820, 29)
(810, 29)
(801, 28)
(792, 28)
(783, 28)
(774, 28)
(765, 28)
(756, 28)
(747, 28)
(738, 28)
(729, 28)
(721, 27)
(713, 27)
(705, 27)
(697, 27)
(689, 27)
(681, 27)
(673, 27)
(665, 28)
(657, 30)
(650, 29)
(643, 28)
(636, 28)
(629, 28)
(622, 28)
(615, 28)
(608, 28)
(601, 28)
(594, 28)
(587, 28)
(580, 28)
(573, 28)
(566, 28)
(560, 27)
(554, 26)
(548, 25)
(542, 24)
(536, 24)
(530, 24)
(524, 24)
(518, 24)
(512, 24)
(506, 24)
(500, 24)
(494, 24)
(489, 22)
(484, 22)
(479, 22)
(474, 22)
(469, 22)
(464, 22)
(459, 22)
(454, 22)
(449, 22)
(444, 22)
(439, 22)
(434, 22)
(429, 22)
(425, 21)
(421, 21)
(417, 21)
(413, 21)
(409, 21)
(405, 21)
(401, 21)
(397, 21)
(393, 21)
(389, 21)
(385, 21)
(381, 21)
(377, 21)
(373, 21)
(369, 21)
(365, 22)
(362, 21)
(359, 21)
(356, 21)
(353, 21)
(350, 21)
(347, 21)
(344, 21)
(341, 21)
(338, 21)
(335, 21)
(332, 21)
(329, 21)
(326, 21)
(323, 21)
(320, 21)
(317, 23)
(315, 22)
(313, 21)
(311, 21)
(309, 21)
(307, 21)
(305, 21)
(303, 21)
(301, 21)
(299, 21)
(297, 21)
(295, 22)
(293, 24)
(292, 22)
(291, 21)
(290, 20)
(289, 19)
(288, 19)
(287, 19)
(286, 19)
(285, 19)
(284, 19)
(283, 19)
(282, 19)
(281, 19)
(280, 19)
(279, 19)
(278, 19)
(277, 19)
(276, 19)
(275, 19)
(274, 19)
(273, 19)
(272, 19)
(271, 19)
(270, 19)
(269, 20)
(269, 18)
(269, 16)
(269, 14)
(269, 13)
(269, 12)
(269, 11)
(269, 10)
(269, 9)
(269, 8)
(269, 7)
(269, 6)
(269, 5)

In [205]:
lecturer_soft_constraint(timetable_test, teaching_curriculum)

    lecturer class    groups                       groups_to_check
0         15    55       {0}                             {2, 1, 0}
71        15    90  {48, 45}  {50, 51, 47, 49, 52, 46, 53, 48, 45}
165       15   143      {68}                          {68, 70, 69}
Int64Index([0, 71, 165], dtype='int64')

53

In [206]:
lecturer_soft_constraint_delta(timetable_test, teaching_curriculum, 0)

indexes Int64Index([0, 71, 165], dtype='int64')

3

In [177]:
timetable_test.iat[0,1] = 0

In [173]:
timetable_test

     room  time_slot
0       0          3
1       1          0
2       2          0
3       3          0
4       4          0
5       5          0
6       6          0
7       7          0
8       8          0
9       9          0
10     10          0
11     11          0
12     12          0
13     13          0
14     14          0
15     15          0
16     16          0
17     17          0
18     18          0
19     19          0
20     20          0
21     21          0
22     22          0
23     23          0
24     24          0
25     25          0
26     26          0
27      0          1
28      1          1
29      2          1
30      3          1
31      4          1
32      5          1
33      6          1
34      7          1
35      8          1
36      9          1
37     10          1
38     11          1
39     12          1
40     13          1
41     14          1
42     15          1
43     16          1
44     17          1
45     18          1
46     19          1
47     20          1
48     21          1
49     22          1
50     23          1
51     24          1
52     25          1
53     26          1
54      0          2
55      1          2
56      2          2
57      3          2
58      4          2
59      5          2
60      6          2
61      7          2
62      8          2
63      9          2
64     10          2
65     11          2
66     12          2
67     13          2
68     14          2
69     15          2
70     16          2
71     17          2
72     18          2
73     19          2
74     20          2
75     21          2
76     22          2
77     23          2
78     24          2
79     25          2
80     26          2
81      0          3
82      1          3
83      2          3
84      3          3
85      4          3
86      5          3
87      6          3
88      7          3
89      8          3
90      9          3
91     10          3
92     11          3
93     12          3
94     13          3
95     14          3
96     15          3
97     16          3
98     17          3
99     18          3
100    19          3
101    20          3
102    21          3
103    22          3
104    23          3
105    24          3
106    25          3
107    26          3
108     0          4
109     1          4
110     2          4
111     3          4
112     4          4
113     5          4
114     6          4
115     7          4
116     8          4
117     9          4
118    10          4
119    11          4
120    12          4
121    13          4
122    14          4
123    15          4
124    16          4
125    17          4
126    18          4
127    19          4
128    20          4
129    21          4
130    22          4
131    23          4
132    24          4
133    25          4
134    26          4
135     0          5
136     1          5
137     2          5
138     3          5
139     4          5
140     5          5
141     6          5
142     7          5
143     8          5
144     9          5
145    10          5
146    11          5
147    12          5
148    13          5
149    14          5
150    15          5
151    16          5
152    17          5
153    18          5
154    19          5
155    20          5
156    21          5
157    22          5
158    23          5
159    24          5
160    25          5
161    26          5
162     0          6
163     1          6
164     2          6
165     3          6
166     4          6
167     5          6
168     6          6
169     7          6
170     8          6
171     9          6
172    10          6
173    11          6
174    12          6
175    13          6
176    14          6
177    15          6
178    16          6
179    17          6
180    18          6
181    19          6
182    20          6
183    21          6
184    22          6
185    23          6
186    24          6
187    25          6
188    26          6
189     0          7
190     1          7
191     2          7
192     3          7
193     4          7
194     5          7
195     6          7
196     7          7
197     8          7
198     9          7
199    10          7
200    11          7
201    12          7
202    13          7
203    14          7
204    15          7
205    16          7
206    17          7
207    18          7
208    19          7
209    20          7
210    21          7
211    22          7
212    23          7
213    24          7
214    25          7
215    26          7
216     0          8
217     1          8
218     2          8
219     3          8
220     4          8
221     5          8
222     6          8
223     7          8
224     8          8
225     9          8
226    10          8
227    11          8
228    12          8
229    13          8
230    14          8
231    15          8
232    16          8
233    17          8
234    18          8
235    19          8
236    20          8
237    21          8
238    22          8
239    23          8
240    24          8
241    25          8
242    26          8
243     0          9
244     1          9
245     2          9
246     3          9
247     4          9
248     5          9
249     6          9
250     7          9
251     8          9
252     9          9
253    10          9

In [182]:
teaching_curriculum

,lecturer,class,groups,groups_to_check
0,15,55,{0},"{0, 1, 2}"
1,37,18,{1},"{0, 1}"
2,37,18,{2},"{0, 2}"
3,21,18,{4},"{3, 4}"
4,21,18,{5},"{3, 5}"
5,37,18,{7},"{6, 7}"
6,42,18,{8},"{8, 6}"
7,7,18,{10},"{9, 10}"
8,7,18,{11},"{9, 11}"
9,27,123,{0},"{0, 1, 2}"
10,25,9,{1},"{0, 1}"
11,25,9,{2},"{0, 2}"
12,25,9,{4},"{3, 4}"
13,38,9,{5},"{3, 5}"
14,44,9,{7},"{6, 7}"
15,20,9,{8},"{8, 6}"
16,44,9,{10},"{9, 10}"
17,29,9,{11},"{9, 11}"
18,40,109,"{18, 12, 15}","{12, 13, 14, 15, 16, 17, 18, 19, 20}"
19,6,12,"{16, 19, 13}","{16, 18, 19, 12, 13, 15}"
20,6,12,"{17, 20, 14}","{17, 18, 20, 12, 14, 15}"
21,32,12,"{28, 22}","{27, 28, 21, 22}"
22,32,12,"{29, 23}","{29, 27, 21, 23}"
23,32,12,"{25, 31}","{24, 25, 30, 31}"
24,32,12,"{32, 26}","{32, 24, 26, 30}"
25,13,106,"{42, 85, 15}","{16, 17, 85, 42, 43, 44, 15}"
26,29,29,"{42, 85, 15}","{16, 17, 85, 42, 43, 44, 15}"
27,45,68,"{18, 12, 15}","{12, 13, 14, 15, 16, 17, 18, 19, 20}"
28,14,87,"{16, 19, 13}","{16, 18, 19, 12, 13, 15}"
29,14,87,"{17, 20, 14}","{17, 18, 20, 12, 14, 15}"
30,14,87,"{28, 22}","{27, 28, 21, 22}"
31,14,87,"{29, 23}","{29, 27, 21, 23}"
32,32,87,"{25, 31}","{24, 25, 30, 31}"
33,32,87,"{32, 26}","{32, 24, 26, 30}"
34,22,38,{33},"{33, 34, 35, 36, 37, 38}"
35,4,80,{34},"{33, 34}"
36,4,80,{35},"{33, 35}"
37,4,80,{36},"{33, 36}"
38,26,28,{33},"{33, 34, 35, 36, 37, 38}"
39,17,43,"{34, 35}","{33, 34, 35}"
40,17,43,{36},"{33, 36}"
41,40,23,"{42, 39}","{39, 40, 41, 42, 43, 44}"
42,8,49,{43},"{42, 43}"
43,8,49,{44},"{42, 44}"
44,52,39,{33},"{33, 34, 35, 36, 37, 38}"
45,30,10,"{34, 35}","{33, 34, 35}"
46,30,10,{36},"{33, 36}"
47,13,35,{33},"{33, 34, 35, 36, 37, 38}"
48,30,110,{37},"{33, 37}"
49,30,110,{38},"{33, 38}"
50,26,27,{33},"{33, 34, 35, 36, 37, 38}"
51,17,114,{37},"{33, 37}"
52,17,114,{38},"{33, 38}"
53,53,125,{48},"{48, 49, 50, 51, 52, 53}"
54,2,81,"{49, 50}","{48, 49, 50}"
55,2,81,{51},"{48, 51}"
56,41,73,{42},"{42, 43, 44}"
57,29,147,{43},"{42, 43}"
58,29,147,{44},"{42, 44}"
59,41,24,{48},"{48, 49, 50, 51, 52, 53}"
60,44,14,"{49, 50}","{48, 49, 50}"
61,44,14,{51},"{48, 51}"
62,0,33,"{48, 45, 86}","{45, 46, 47, 48, 49, 50, 51, 52, 53, 86}"
63,10,119,{49},"{48, 49}"
64,10,119,{50},"{48, 50}"
65,46,119,{51},"{48, 51}"
66,27,97,{48},"{48, 49, 50, 51, 52, 53}"
67,25,15,{85},{85}
68,26,71,{42},"{42, 43, 44}"
69,11,17,{43},"{42, 43}"
70,11,17,{44},"{42, 44}"
71,15,90,"{48, 45}","{45, 46, 47, 48, 49, 50, 51, 52, 53}"
72,50,31,{52},"{48, 52}"
73,50,31,{53},"{48, 53}"
74,24,139,{48},"{48, 49, 50, 51, 52, 53}"
75,20,120,{52},"{48, 52}"
76,20,120,{53},"{48, 53}"
77,26,72,"{48, 74}","{74, 75, 76, 77, 78, 48, 49, 50, 51, 52, 53}"
78,27,82,"{75, 76}","{74, 75, 76}"
79,42,82,"{77, 78}","{74, 77, 78}"
80,51,61,{54},"{56, 57, 54, 55}"
81,1,8,{55},"{54, 55}"
82,1,8,{56},"{56, 54}"
83,10,8,{57},"{57, 54}"
84,37,8,{59},"{58, 59}"
85,11,8,{60},"{58, 60}"
86,11,8,{61},"{58, 61}"
87,40,30,{54},"{56, 57, 54, 55}"
88,43,44,{55},"{54, 55}"
89,43,44,{56},"{56, 54}"
90,43,44,{57},"{57, 54}"
91,29,44,{59},"{58, 59}"
92,29,44,{60},"{58, 60}"
93,29,44,{61},"{58, 61}"
94,3,57,"{58, 54}","{54, 55, 56, 57, 58, 59, 60, 61}"
95,51,19,{54},"{56, 57, 54, 55}"
96,37,145,{55},"{54, 55}"
97,46,145,{56},"{56, 54}"
98,37,145,{57},"{57, 54}"
99,42,145,{59},"{58, 59}"
100,11,145,{60},"{58, 60}"
101,11,145,{61},"{58, 61}"
102,53,75,{54},"{56, 57, 54, 55}"
103,21,130,{55},"{54, 55}"
104,21,130,{56},"{56, 54}"
105,21,130,{57},"{57, 54}"
106,21,130,{59},"{58, 59}"
107,43,130,{60},"{58, 60}"
108,43,130,{61},"{58, 61}"
109,45,108,"{58, 54}","{54, 55, 56, 57, 58, 59, 60, 61}"
110,26,0,{62},"{64, 62, 63}"
111,31,53,{63},"{62, 63}"
112,31,53,{64},"{64, 62}"
113,31,53,{66},"{65, 66}"
114,25,53,{67},"{65, 67}"
115,16,128,{62},"{64, 62, 63}"
116,20,140,{63},"{62, 63}"
117,14,140,{64},"{64, 62}"
118,25,140,{66},"{65, 66}"
119,25,140,{67},"{65, 67}"
120,41,105,{62},"{64, 62, 63}"
121,8,85,{63},"{62, 63}"
122,44,85,{64},"{64, 62}"
123,44,85,{66},"{65, 66}"
124,44,85,{67},"{65, 67}"
125,22,20,{62},"{64, 62, 63}"
126,4,74,{63},"{62, 63}"
127,4,74,{64},"{64, 62}"
128,31,74,{66},"{65, 66}"
129,31,74,{67},"{65, 67}"
130,16,96,{62},"{64, 62, 63}"
131,2,112,{63},"{62, 63}"
132,34,112,{64},"{64, 62}"
133,34,112,{66},"{65, 66}"
134,18,112,{67},"{65, 67}"
135,53,100,{68},"{68, 69, 70}"
136,46,77,{69},"{68, 69}"
137,2,77,{70},"{68, 70}"
138,8,77,{72},"{72, 71}"
139,8,77,{73},"{73, 71}"
140,22,65,{68},"{68, 69, 70}"
141,54,22,{69},"{68, 69}"
142,54,22,{70},"{68, 70}"
143,54,22,{72},"{72, 71}"
144,54,22,{73},"{73, 71}"
145,9,83,{68},"{68, 69, 70}"
146,11,63,{69},"{68, 69}"
147,11,63,{70},"{68, 70}"
148,34,63,{72},"{72, 71}"
149,34,63,{73},"{73, 71}"
150,51,51,{68},"{68, 69, 70}"
151,54,121,{69},"{68, 69}"
152,54,121,{70},"{68, 70}"
153,39,121,{72},"{72, 71}"
154,39,121,{73},"{73, 71}"
155,35,141,{68},"{68, 69, 70}"
156,12,86,{69},"{68, 69}"
157,12,86,{70},"{68, 70}"
158,1,86,{72},"{72, 71}"
159,1,86,{73},"{73, 71}"
160,52,113,{68},"{68, 69, 70}"
161,36,42,{69},"{68, 69}"
162,36,42,{70},"{68, 70}"
163,10,42,{72},"{72, 71}"
164,10,42,{73},"{73, 71}"
165,15,143,{68},"{68, 69, 70}"
166,50,16,{69},"{68, 69}"
167,50,16,{70},"{68, 70}"
168,47,16,{72},"{72, 71}"
169,47,16,{73},"{73, 71}"
170,0,99,"{75, 76}","{74, 75, 76}"
171,38,59,{75},"{74, 75}"
172,38,59,{76},"{74, 76}"
173,49,59,{77},"{74, 77}"
174,49,59,{78},"{74, 78}"
175,13,60,"{75, 76}","{74, 75, 76}"
176,36,6,{75},"{74, 75}"
177,47,6,{76},"{74, 76}"
178,7,6,{77},"{74, 77}"
179,7,6,{78},"{74, 78}"
180,19,3,{74},"{74, 75, 76, 77, 78}"
181,49,122,{74},"{74, 75, 76, 77, 78}"
182,35,58,{74},"{74, 75, 76, 77, 78}"
183,28,115,"{75, 76}","{74, 75, 76}"
184,28,115,"{77, 78}","{74, 77, 78}"
185,19,2,{74},"{74, 75, 76, 77, 78}"
186,18,76,"{75, 76}","{74, 75, 76}"
187,18,76,"{77, 78}","{74, 77, 78}"
188,24,4,{74},"{74, 75, 76, 77, 78}"
189,12,144,{75},"{74, 75}"
190,12,144,{76},"{74, 76}"
191,39,144,"{77, 78}","{74, 77, 78}"
192,0,135,"{75, 76}","{74, 75, 76}"
193,6,92,{75},"{74, 75}"
194,7,92,{76},"{74, 76}"
195,6,92,{77},"{74, 77}"
196,7,92,{78},"{74, 78}"
197,19,37,{74},"{74, 75, 76, 77, 78}"
198,36,134,"{75, 76}","{74, 75, 76}"
199,12,134,"{77, 78}","{74, 77, 78}"
200,52,129,{74},"{74, 75, 76, 77, 78}"
201,4,11,"{75, 76}","{74, 75, 76}"
202,4,11,"{77, 78}","{74, 77, 78}"
203,45,111,{74},"{74, 75, 76, 77, 78}"
204,27,1,{74},"{74, 75, 76, 77, 78}"
205,52,78,{74},"{74, 75, 76, 77, 78}"
206,51,88,"{82, 79}","{80, 81, 82, 83, 84, 79}"
207,2,40,"{82, 79}","{80, 81, 82, 83, 84, 79}"
208,41,48,"{88, 87}","{88, 87}"
209,8,107,"{88, 87}","{88, 87}"
210,8,107,"{88, 87}","{88, 87}"
211,16,69,"{82, 79}","{80, 81, 82, 83, 84, 79}"
212,36,32,"{82, 79}","{80, 81, 82, 83, 84, 79}"
213,5,41,"{82, 79}","{80, 81, 82, 83, 84, 79}"
214,2,91,"{82, 79}","{80, 81, 82, 83, 84, 79}"
215,35,98,"{82, 79}","{80, 81, 82, 83, 84, 79}"
216,28,46,"{82, 79}","{80, 81, 82, 83, 84, 79}"
217,23,66,"{82, 79}","{80, 81, 82, 83, 84, 79}"
218,28,52,"{82, 79}","{80, 81, 82, 83, 84, 79}"
219,48,133,"{82, 79}","{80, 81, 82, 83, 84, 79}"
220,21,70,"{80, 83}","{80, 82, 83, 79}"
221,10,70,"{81, 84}","{81, 82, 84, 79}"
222,33,146,"{82, 79}","{80, 81, 82, 83, 84, 79}"
223,28,95,"{82, 79}","{80, 81, 82, 83, 84, 79}"
224,0,84,"{82, 79}","{80, 81, 82, 83, 84, 79}"
225,29,25,"{82, 79}","{80, 81, 82, 83, 84, 79}"
226,23,124,"{82, 79}","{80, 81, 82, 83, 84, 79}"
227,2,117,"{82, 79}","{80, 81, 82, 83, 84, 79}"
228,53,56,"{82, 79}","{80, 81, 82, 83, 84, 79}"
229,31,142,"{82, 79}","{80, 81, 82, 83, 84, 79}"
230,48,132,"{82, 79}","{80, 81, 82, 83, 84, 79}"
231,44,101,"{82, 79}","{80, 81, 82, 83, 84, 79}"
232,13,136,{89},{89}
233,4,118,{89},{89}
234,35,26,{89},{89}
235,12,5,{89},{89}
236,48,131,{89},{89}
237,32,62,{89},{89}
238,24,21,{89},{89}
239,39,13,{89},{89}
240,33,126,{89},{89}
241,32,103,{89},{89}
242,33,116,{89},{89}
243,28,127,{89},{89}
244,24,138,{89},{89}
245,7,102,{89},{89}
246,27,34,{89},{89}
247,27,89,{89},{89}
248,9,54,{89},{89}
249,9,7,{89},{89}
250,45,79,{89},{89}
251,10,47,{89},{89}
252,45,104,{89},{89}
253,9,45,{89},{89}

In [20]:
def local_search_v3(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    fitness = best_fitness
    constraint_matrixes = create_constraint_matrixes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in timeslot_range:
                if fitness[0] == 0 and check_for_constraints(timetable, teaching_curriculum, constraint_matrixes, int(i), timeslot):
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                if fitness[0] == 0 and check_for_constraints_room(timetable, teaching_curriculum, constraint_matrixes, int(i), str(j)):
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness[0] < fitness[0] or (best_fitness[0] == fitness[0] and best_fitness[1] < fitness[1]):
            print('delta')
            print(best_fitness)
            print('full')
            print(calculate_fittnes(best_timetable, teaching_curriculum))
            timetable = best_timetable.copy()
            fitness = best_fitness
            constraint_matrixes = create_constraint_matrixes(timetable, teaching_curriculum)
        else:
            break
    return timetable

In [33]:
def shaking(timetable, teaching_curriculum, k):
    time_table_shaking = timetable.copy()
    for j in range(k):
        random_timetable_index = random.choice(range(timetable.shape[0]))
        random_room_index = random.choice(range(rooms.shape[0]))
        random_timeslot = random.choice(time_slots)
        while(random_timeslot % 13 + classes.iat[int(teaching_curriculum.iat[random_timetable_index,1]),2] > 12):
            random_timeslot = random.choice(time_slots)
        time_table_shaking.iloc[random_timetable_index] = np.array([random_room_index, random_timeslot])
    return time_table_shaking

In [129]:
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))

init (2560, 5)

In [249]:
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable

init (62, 2)
iteration 0
(10, 18)
(8, 18)
(6, 20)
(5, 19)
(4, 18)
(3, 18)
(2, 18)
(1, 18)
(0, 18)
(0, 12)
(0, 11)
(0, 10)
(0, 9)
iteration 1
(5, 16)
(3, 18)
(2, 16)
(1, 16)
(0, 16)
(0, 10)
(0, 6)
iteration 2
(10, 23)
(7, 21)
(5, 20)
(4, 18)
(3, 17)
(2, 17)
(1, 17)
(0, 17)
(0, 14)
(0, 11)
(0, 7)
iteration 3
(6, 26)
(5, 20)
(4, 17)
(3, 14)
(2, 13)
(1, 13)
(0, 13)
(0, 7)
(0, 4)
iteration 4
(8, 19)
(6, 16)
(4, 14)
(2, 16)
(1, 16)
(0, 16)
(0, 11)
(0, 8)
(0, 6)
(0, 5)
iteration 5
(5, 35)
(4, 34)
(3, 33)
(2, 33)
(1, 33)
(0, 33)
(0, 25)
(0, 18)
(0, 15)
(0, 12)
(0, 10)
(0, 8)
(0, 7)
(0, 6)
(0, 5)
(0, 4)
(0, 2)
iteration 6
(6, 28)
(5, 25)
(4, 22)
(3, 21)
(2, 20)
(1, 20)
(0, 20)
(0, 11)
(0, 9)
(0, 8)
iteration 7
(3, 25)
(2, 24)
(1, 24)
(0, 24)
(0, 17)
(0, 11)
(0, 9)
(0, 8)
(0, 7)
(0, 6)
(0, 5)
(0, 4)
(0, 3)
iteration 8
(6, 21)
(4, 19)
(3, 19)
(2, 19)
(1, 19)
(0, 19)
(0, 17)
(0, 16)
(0, 15)
(0, 13)
(0, 11)
(0, 9)
(0, 8)
(0, 7)
iteration 9
(6, 16)
(4, 14)
(2, 15)
(1, 14)
(0, 14)
(0, 12)
(0, 11)
(0, 10)
(0, 9)
(0, 7)
(0, 4)

In [232]:
timetable.iloc[1].room

['0']

In [213]:
init_time = init_timetable()

In [214]:
shaking(init_time, teaching_curriculum)

time type <class 'int'>
room type <class 'int'>

    room  time_slot
0      0          0
1      1          0
2      2          0
3      3          0
4      4          0
5      5          0
6      2         12
7      7          0
8      8          0
9      9          0
10    10          0
11    11          0

In [228]:
timetable = shaking(timetable, teaching_curriculum)

time type <class 'int'>
room type <class 'int'>

In [211]:
timetable = local_search_v2(timetable, teaching_curriculum)

(40, 2)
(29, 2)
(21, 2)
(15, 2)
(11, 2)
(8, 2)
(5, 2)
(3, 2)
(2, 2)
(1, 2)
(0, 2)
(0, 1)

In [198]:
timetable

    room  time_slot
0      0         14
1     12          6
2      2         26
3      8         48
4      0         40
5      0         16
6      1          4
7      9         12
8     10         50
9      0          1
10     6         50
11     1         49

In [27]:
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2a, 4i2b]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2a, 4r, 4i2b]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4i2a, 4r]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2a, 4i2b]

In [28]:
lecturers

,name,preffered_timeslots,not_preffered_timeslots,preffered_locations
0,Kartelj,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]","{2, 1}"
1,Cukic,[],[],{}
2,Mitic,[],[],{}
3,Malkov,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]",{0}

In [29]:
calculate_fittnes(result_timetable, teaching_curriculum)

(0, 10)

In [445]:
start = datetime.now()
global_count = 0
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
tdsoftext = (end - start).total_seconds()

count 0
drugi count 1
count 1
drugi count 1
count 1
drugi count 2
(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [422]:
start = datetime.now()
global_count = 0
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
tdsoftext = (end - start).total_seconds()

(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [423]:
tdsoftext

48.075339

In [418]:
tdsoft

12.133904

In [410]:
tdrooms2

51.675677

In [397]:
tdgroups2

53.314199

In [386]:
tdgroups

72.694977

In [351]:
tdnewnew

85.288966

In [333]:
tdnew

91.944182

In [150]:
print('init', calculate_fittnes(timetable, teaching_curriculum))

IndexError: index 71 is out of bounds for axis 0 with size 12

In [168]:
start = datetime.now()
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

(2520, 0)
(2481, 0)
(2443, 0)
(2407, 0)
(2372, 0)
(2338, 0)
(2306, 0)
(2275, 0)
(2244, 0)
(2214, 0)
(2184, 0)
(2154, 0)
(2126, 0)
(2098, 0)
(2072, 0)
(2046, 0)
(2020, 0)
(1995, 0)
(1971, 0)
(1947, 0)
(1924, 0)
(1901, 0)
(1878, 0)
(1856, 0)
(1834, 0)
(1812, 0)
(1790, 0)
(1769, 0)
(1748, 0)
(1727, 0)
(1706, 0)
(1686, 0)
(1666, 0)
(1647, 0)
(1628, 0)
(1609, 0)
(1590, 0)
(1571, 0)
(1552, 0)
(1534, 0)
(1516, 0)
(1498, 0)
(1480, 0)
(1462, 0)
(1444, 0)
(1427, 0)
(1410, 0)
(1393, 0)
(1376, 0)
(1359, 0)
(1343, 0)
(1327, 0)
(1311, 0)
(1295, 0)
(1279, 0)
(1264, 0)
(1249, 0)
(1234, 0)
(1219, 0)
(1204, 0)
(1190, 0)
(1176, 0)
(1162, 0)
(1148, 0)
(1134, 0)
(1120, 0)
(1106, 0)
(1092, 0)
(1079, 0)
(1066, 0)
(1053, 0)
(1040, 0)
(1027, 0)
(1015, 0)
(1003, 0)
(991, 0)
(979, 0)
(967, 0)
(955, 0)
(944, 0)
(933, 0)
(922, 0)
(911, 0)
(900, 0)
(890, 0)
(880, 0)
(870, 0)
(860, 0)
(850, 0)
(840, 0)
(830, 0)
(820, 0)
(810, 0)
(801, 0)
(792, 0)
(783, 0)
(774, 0)
(765, 0)
(756, 0)
(747, 0)
(738, 0)
(729, 0)
(721, 0)
(713, 0)
(705, 0)
(697, 0)
(689, 0)
(681, 0)
(673, 0)
(665, 0)
(657, 0)
(650, 0)
(643, 0)
(636, 0)
(629, 0)
(622, 0)
(615, 0)
(608, 0)
(601, 0)
(594, 0)
(587, 0)
(580, 0)
(573, 0)
(566, 0)
(560, 0)
(554, 0)
(548, 0)
(542, 0)
(536, 0)
(530, 0)
(524, 0)
(518, 0)
(512, 0)
(506, 0)
(500, 0)
(494, 0)
(489, 0)
(484, 0)
(479, 0)
(474, 0)
(469, 0)
(464, 0)
(459, 0)
(454, 0)
(449, 0)
(444, 0)
(439, 0)
(434, 0)
(429, 0)
(425, 0)
(421, 0)
(417, 0)
(413, 0)
(409, 0)
(405, 0)
(401, 0)
(397, 0)
(393, 0)
(389, 0)
(385, 0)
(381, 0)
(377, 0)
(373, 0)
(369, 0)
(365, 0)
(362, 0)
(359, 0)
(356, 0)
(353, 0)
(350, 0)
(347, 0)
(344, 0)
(341, 0)
(338, 0)
(335, 0)
(332, 0)
(329, 0)
(326, 0)
(323, 0)
(320, 0)
(317, 0)
(315, 0)
(313, 0)
(311, 0)
(309, 0)
(307, 0)
(305, 0)
(303, 0)
(301, 0)
(299, 0)
(297, 0)
(295, 0)
(293, 0)
(292, 0)
(291, 0)
(290, 0)
(289, 0)
(288, 0)
(287, 0)
(286, 0)
(285, 0)
(284, 0)
(283, 0)
(282, 0)
(281, 0)
(280, 0)
(279, 0)
(278, 0)
(277, 0)
(276, 0)
(275, 0)
(274, 0)
(273, 0)
(272, 0)
(271, 0)
(270, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)
(269, 0)

KeyboardInterrupt:

In [170]:
best_timetable

NameError: name 'best_timetable' is not defined

In [110]:
td

6412.172493

In [99]:
td

59245.825527

In [58]:
create_helper_matrixes(timetable_v2, teaching_curriculum)

ValueError: invalid literal for int() with base 10: '{'

In [108]:
td

157.818532

In [223]:
td

97.26642

In [436]:
calculate_fittnes(timetable_v2, teaching_curriculum)

count 0
drugi count 1
count 1
drugi count 1
count 1
drugi count 2

(0, 2)

In [437]:
timetable_v2

   room  time_slot
0     0         12
1     1          3
2     0          0
3     3         14
4     4          3
5     5         16
6     1          0
7     7         26
8     8         29
9     9         48
10   10         36
11   11         39

In [389]:
start = datetime.now()
timetable_v3 = init_timetable()
timetable_v3 = local_search_v3(timetable_v3, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

(49, 7)
(37, 17)
(28, 22)
(21, 25)
(17, 26)
(14, 20)
(12, 20)
(11, 18)
(10, 18)
(9, 18)
(9, 15)
(9, 13)
(9, 12)
(9, 11)

In [68]:
calculate_fittnes(result_timetable, teaching_curriculum)

(0, 0)

In [70]:
result_timetable.to_csv('timetable.csv', index=True)

In [67]:
start = datetime.now()
k = 2
max_k = 10
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
while True:
    print('new iter')
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum, k)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable
        k = 2
        print('found better score', current_fitness)
    else:
        k += 1
        print('increased k', k)
        if k >= max_k:
            print('algorithm finished')
            break

end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

init (673, 9)
new iter
(632, 9)
(612, 10)
(593, 10)
(577, 8)
(561, 8)
(545, 8)
(530, 7)
(515, 6)
(501, 6)
(487, 6)
(473, 6)
(460, 6)
(447, 6)
(434, 6)
(422, 6)
(410, 6)
(399, 6)
(388, 6)
(378, 4)
(368, 4)
(358, 4)
(348, 4)
(339, 3)
(330, 3)
(321, 3)
(312, 3)
(303, 3)
(294, 3)
(285, 3)
(276, 3)
(268, 3)
(260, 3)
(252, 3)
(244, 3)
(236, 3)
(229, 2)
(222, 2)
(216, 2)
(210, 2)
(204, 2)
(198, 2)
(192, 2)
(186, 2)
(180, 2)
(174, 2)
(168, 2)
(162, 2)
(156, 2)
(151, 2)
(146, 2)
(141, 2)
(136, 2)
(131, 2)
(126, 2)
(121, 2)
(116, 2)
(111, 4)
(107, 2)
(103, 2)
(99, 2)
(95, 2)
(91, 2)
(87, 2)
(83, 2)
(79, 2)
(75, 2)
(71, 2)
(67, 2)
(63, 2)
(60, 1)
(57, 0)
(54, 0)
(51, 0)
(48, 0)
(45, 0)
(42, 0)
(39, 0)
(36, 0)
(33, 0)
(31, 0)
(29, 0)
(27, 0)
(25, 0)
(23, 0)
(21, 0)
(19, 0)
(17, 0)
(15, 0)
(13, 0)
(11, 0)
(9, 0)
(8, 0)
(7, 0)
(6, 0)
(5, 0)
(4, 0)
(3, 0)
(2, 0)
(1, 0)
(0, 0)
found better score (0, 0)

In [211]:
start = datetime.now()
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

init (2560, 53)
iteration 0
(2026, 51)
(1989, 51)
(1953, 51)
(1919, 51)
(1886, 51)
(1855, 49)
(1825, 47)
(1796, 46)
(1768, 45)
(1740, 45)
(1715, 45)
(1691, 45)
(1668, 45)
(1645, 46)
(1623, 46)
(1601, 46)
(1580, 46)
(1560, 46)
(1540, 46)
(1520, 46)
(1500, 46)
(1481, 46)
(1462, 46)
(1443, 46)
(1424, 46)
(1406, 45)
(1388, 44)
(1370, 44)
(1352, 44)
(1335, 42)
(1318, 40)
(1301, 39)
(1284, 39)
(1268, 37)
(1252, 36)
(1236, 36)
(1220, 36)
(1204, 36)
(1188, 36)
(1172, 37)
(1157, 36)
(1142, 36)
(1127, 36)
(1112, 36)
(1097, 37)
(1083, 35)
(1069, 35)
(1055, 35)
(1041, 35)
(1027, 35)
(1014, 33)
(1001, 32)
(988, 32)
(975, 32)
(962, 32)
(949, 32)
(936, 32)
(923, 34)
(911, 33)
(899, 33)
(887, 33)
(875, 33)
(864, 33)
(853, 33)
(842, 33)
(831, 33)
(820, 33)
(809, 33)
(799, 33)
(789, 33)
(779, 33)
(769, 33)
(759, 33)
(749, 33)
(740, 31)
(731, 31)
(722, 31)
(713, 31)
(704, 31)
(695, 31)
(686, 31)
(677, 31)
(669, 30)
(661, 30)
(653, 30)
(645, 30)
(637, 30)
(629, 30)
(621, 30)
(613, 31)
(606, 29)
(599, 27)
(592, 27)
(585, 27)
(578, 27)
(571, 27)
(564, 27)
(557, 27)
(550, 27)
(544, 25)
(538, 24)
(532, 24)
(526, 24)
(520, 24)
(514, 24)
(508, 24)
(502, 24)
(496, 24)
(490, 24)
(484, 25)
(478, 27)
(473, 26)
(468, 25)
(463, 24)
(458, 24)
(453, 24)
(448, 24)
(443, 24)
(438, 24)
(433, 24)
(428, 24)
(423, 24)
(418, 24)
(413, 24)
(408, 25)
(404, 24)
(400, 24)
(396, 24)
(392, 24)
(388, 24)
(384, 24)
(380, 24)
(376, 24)
(372, 25)
(368, 26)
(364, 28)
(360, 30)
(357, 28)
(354, 28)
(351, 28)
(348, 28)
(345, 28)
(342, 28)
(339, 28)
(336, 28)
(333, 28)
(330, 28)
(327, 28)
(324, 31)
(322, 29)
(320, 29)
(318, 29)
(316, 29)
(314, 29)
(312, 29)
(310, 29)
(308, 29)
(306, 29)
(304, 29)
(302, 29)
(300, 29)
(298, 29)
(296, 29)
(294, 30)
(293, 28)
(292, 26)
(291, 24)
(290, 22)
(289, 21)
(288, 20)
(287, 19)
(286, 19)
(285, 19)
(284, 19)
(283, 19)
(282, 19)
(281, 19)
(280, 19)
(279, 19)
(278, 19)
(277, 19)
(276, 19)
(275, 19)
(274, 20)
(273, 21)
(272, 23)
(272, 21)
(272, 19)
(272, 17)
(272, 15)
(272, 14)
(272, 13)
(272, 12)
(272, 11)
(272, 10)
(272, 9)
(272, 8)
(272, 7)
(272, 6)
(272, 5)
(272, 4)
(271, 4)
(271, 3)
iteration 1
(337, 23)
(331, 25)
(327, 25)
(324, 24)
(321, 24)
(318, 24)
(315, 24)
(313, 22)
(311, 21)
(309, 20)
(307, 20)
(305, 20)
(303, 20)
(301, 20)
(299, 20)
(297, 20)
(295, 21)
(293, 23)
(292, 21)
(291, 19)
(290, 18)
(289, 17)
(288, 16)
(287, 16)
(286, 16)
(285, 16)
(284, 16)
(283, 16)
(282, 16)
(281, 16)
(280, 16)
(279, 16)
(278, 16)
(277, 16)
(276, 16)
(275, 17)
(275, 15)
(275, 13)
(275, 12)
(275, 10)
(275, 9)
(275, 8)
(275, 7)
(275, 6)
iteration 2
(333, 24)
(328, 24)
(324, 22)
(320, 22)
(316, 22)
(313, 20)
(310, 19)
(307, 19)
(304, 20)
(302, 18)
(300, 16)
(298, 14)
(296, 12)
(294, 12)
(292, 12)
(290, 12)
(289, 10)
(288, 9)
(287, 9)
(286, 9)
(285, 9)
(284, 9)
(283, 9)
(282, 9)
(281, 9)
(280, 9)
(279, 9)
(278, 9)
(277, 9)
(276, 9)
(275, 9)
(274, 9)
(273, 11)
(272, 13)
(271, 15)
(271, 13)
(271, 11)
(271, 9)
(271, 8)
(271, 7)
(271, 6)
(271, 5)
(271, 4)
iteration 3
(325, 22)
(321, 22)
(318, 20)
(315, 20)
(312, 20)
(310, 18)
(308, 17)
(306, 17)
(304, 17)
(302, 17)
(300, 17)
(298, 17)
(296, 17)
(294, 17)
(292, 17)
(290, 17)
(288, 17)
(287, 16)
(286, 15)
(285, 14)
(284, 13)
(283, 13)
(282, 13)
(281, 13)
(280, 13)
(279, 13)
(278, 13)
(277, 13)
(276, 13)
(275, 13)
(274, 13)
(273, 13)
(272, 14)
(271, 15)
(270, 16)
(269, 18)
(269, 15)
(269, 13)
(269, 12)
(269, 11)
(269, 10)
(269, 9)
(269, 8)
(269, 7)
(269, 6)
(269, 5)
iteration 4
(331, 26)
(326, 26)
(321, 26)
(317, 24)
(313, 23)
(309, 23)
(306, 22)
(303, 22)
(300, 24)
(298, 21)
(296, 20)
(294, 19)
(292, 19)
(290, 19)
(288, 19)
(286, 19)
(284, 20)
(283, 18)
(282, 16)
(281, 14)
(280, 13)
(279, 13)
(278, 13)
(277, 13)
(276, 13)
(275, 13)
(274, 13)
(273, 13)
(272, 13)
(271, 13)
(270, 13)
(269, 13)
(268, 13)
(268, 11)
(268, 9)
(268, 8)
(268, 7)
iteration 5
(339, 20)
(334, 20)
(330, 18)
(326, 17)
(322, 17)
(319, 16)
(316, 16)
(313, 18)
(310, 20)
(308, 18)
(306, 17)
(304, 16)
(302, 16)
(300, 16)
(298, 16)
(296, 16)
(294, 16)
(292, 16)
(290, 16)
(288, 16)
(286, 16)
(284, 16)
(282, 17)
(280, 19)
(279, 19)
(278, 19)
(277, 19)
(276, 19)
(275, 19)
(274, 19)
(273, 19)
(272, 19)
(271, 19)
(270, 21)
(270, 19)
(270, 18)
(270, 17)
(270, 16)
(270, 15)
(270, 14)
(270, 13)
(270, 12)
(270, 11)
(270, 10)
(270, 9)
(270, 8)
(270, 7)
(270, 6)
(269, 7)
iteration 6
(330, 16)
(325, 16)
(320, 16)
(316, 14)
(312, 14)
(309, 14)
(306, 14)
(303, 14)
(300, 15)
(298, 13)
(296, 13)
(294, 13)
(292, 13)
(290, 13)
(288, 13)
(286, 13)
(284, 14)
(283, 12)
(282, 11)
(281, 10)
(280, 10)
(279, 10)
(278, 10)
(277, 10)
(276, 10)
(275, 10)
(274, 10)
(273, 10)
(272, 10)
(271, 10)
(270, 10)
(269, 10)
(269, 9)
(269, 8)
(269, 7)
(268, 7)
(268, 6)
iteration 7
(332, 24)
(327, 24)
(323, 24)
(319, 24)
(316, 22)
(313, 22)
(310, 22)
(307, 22)
(304, 22)
(301, 22)
(298, 22)
(295, 22)
(292, 24)
(290, 23)
(288, 22)
(286, 22)
(284, 24)
(282, 26)
(281, 24)
(280, 22)
(279, 20)
(278, 18)
(277, 17)
(276, 17)
(275, 17)
(274, 17)
(273, 17)
(272, 17)
(271, 17)
(270, 17)
(269, 17)
(268, 17)
(267, 17)
(267, 15)
(267, 13)
(267, 11)
(267, 9)
(267, 8)
(267, 7)
iteration 8
(319, 26)
(315, 24)
(311, 24)
(308, 23)
(305, 23)
(302, 23)
(299, 24)
(296, 26)
(294, 25)
(292, 24)
(290, 24)
(288, 24)
(286, 24)
(284, 24)
(282, 26)
(281, 24)
(280, 22)
(279, 21)
(278, 20)
(277, 20)
(276, 20)
(275, 20)
(274, 20)
(273, 20)
(272, 20)
(271, 20)
(270, 20)
(269, 20)
(268, 20)
(268, 18)
(268, 16)
(268, 14)
(268, 12)
(268, 10)
(268, 9)
(268, 8)
(268, 7)
(268, 6)
(268, 5)
(268, 4)
(267, 5)
iteration 9
(320, 22)
(317, 20)
(314, 19)
(311, 19)
(308, 19)
(305, 19)
(302, 19)
(300, 19)
(298, 19)
(295, 20)
(293, 18)
(291, 18)
(289, 18)
(287, 18)
(285, 18)
(283, 18)
(281, 18)
(279, 18)
(278, 16)
(277, 14)
(276, 12)
(275, 11)
(274, 11)
(273, 11)
(272, 11)
(271, 11)
(270, 11)
(269, 13)
(269, 11)
(269, 9)
(269, 7)
(269, 6)
(269, 5)
(269, 4)
(269, 3)
(269, 2)
(269, 1)

In [120]:
td

1946.039653

In [121]:
start = datetime.now()
k = 40
result_timetable2 = init_timetable()
print('init', calculate_fittnes(result_timetable2, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable2.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v3(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable2, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable2 = timetable
end = datetime.now()
 
# find difference loop start and end time and display
td2 = (end - start).total_seconds()

init (62, 2)
iteration 0
(4, 19)
(3, 19)
(2, 19)
(1, 21)
(0, 23)
(0, 21)
(0, 19)
(0, 18)
(0, 16)
(0, 15)
(0, 14)
iteration 1
(12, 29)
(10, 29)
(8, 30)
(7, 28)
(6, 27)
(5, 27)
(4, 27)
(3, 27)
(2, 27)
(1, 29)
(1, 27)
(1, 25)
(1, 24)
(1, 23)
(1, 22)
(1, 21)
iteration 2
(8, 34)
(6, 33)
(5, 32)
(4, 31)
(3, 31)
(2, 35)
(2, 29)
(2, 27)
(2, 26)
iteration 3
(4, 26)
(3, 24)
(2, 24)
(1, 24)
(0, 26)
(0, 24)
(0, 22)
(0, 20)
(0, 18)
(0, 17)
(0, 16)
(0, 15)
iteration 4
(3, 28)
(1, 37)
(0, 39)
(0, 37)
(0, 35)
(0, 33)
(0, 31)
(0, 29)
(0, 28)
(0, 27)
(0, 25)
(0, 20)
iteration 5
(7, 25)
(5, 27)
(4, 27)
(3, 27)
(2, 27)
(2, 25)
(2, 23)
(2, 21)
(2, 19)
(2, 17)
(2, 15)
(1, 18)
iteration 6
(8, 35)
(6, 44)
(5, 42)
(4, 40)
(3, 39)
(2, 38)
(1, 38)
(0, 38)
(0, 35)
(0, 32)
(0, 30)
(0, 28)
(0, 27)
(0, 26)
(0, 24)
iteration 7
(7, 34)
(6, 30)
(5, 28)
(4, 27)
(3, 27)
(2, 27)
(1, 29)
(0, 36)
(0, 33)
(0, 30)
(0, 28)
iteration 8
(5, 37)
(4, 35)
(3, 35)
(2, 35)
(1, 37)
(0, 41)
(0, 38)
(0, 36)
(0, 34)
(0, 32)
(0, 30)
(0, 28)
(0, 27)
(0, 26)
(0, 25)
(0, 24)
(0, 23)
iteration 9
(7, 26)
(5, 29)
(4, 27)
(3, 27)
(2, 27)
(1, 28)
(1, 23)
(1, 21)
(1, 19)
(1, 17)
(1, 15)
(1, 14)
(1, 13)

In [122]:
td2

1236.490169

In [126]:
pip install py-heat-magic

Collecting py-heat-magic
  Downloading py-heat-magic-0.0.2.tar.gz (3.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (1.24.1)
Collecting scipy
  Downloading scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
     --------------------------------------- 42.2/42.2 MB 10.4 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.6.3-cp311-cp311-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (8.7.0)
Collecting jupyter
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: pandas in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (1.5.2)
Collecting sympy
  Downloading sympy-1.11.1-py3-none-any.whl (6.5 MB)
     ---------------------------------------- 6.5/6.5 MB 10.9 MB/s eta 0:00:00
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     -------------------------------------- 154.7/154.7 kB 9.6 MB/s eta 0:00:00
Collecting py-heat
  Downloading py-heat-0.0.6.tar.gz (7.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: backcall in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.2.0)
Requirement already satisfied: decorator in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (2.13.0)
Requirement already satisfied: stack-data in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (5.8.0)
Requirement already satisfied: colorama in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.4.6)
Requirement already satisfied: notebook in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (6.5.2)
Collecting qtconsole
  Downloading qtconsole-5.4.0-py3-none-any.whl (121 kB)
     -------------------------------------- 121.0/121.0 kB 6.9 MB/s eta 0:00:00
Collecting jupyter-console
  Downloading jupyter_console-6.4.4-py3-none-any.whl (22 kB)
Requirement already satisfied: nbconvert in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (7.2.7)
Requirement already satisfied: ipykernel in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (6.19.4)
Collecting ipywidgets
  Downloading ipywidgets-8.0.4-py3-none-any.whl (137 kB)
     -------------------------------------- 137.8/137.8 kB 8.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp311-cp311-win_amd64.whl (163 kB)
     -------------------------------------- 163.6/163.6 kB 9.6 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     -------------------------------------- 965.4/965.4 kB 8.7 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->py-heat-magic) (22.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-cp311-cp311-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 9.9 MB/s eta 0:00:00
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->py-heat-magic) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from pandas->py-heat-magic) (2022.7)
Collecting pprofile
  Downloading pprofile-2.1.0.tar.gz (56 kB)
     ---------------------------------------- 56.7/56.7 kB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting mpmath>=0.19
  Downloading mpmath-1.2.1-py3-none-any.whl (532 kB)
     -------------------------------------- 532.6/532.6 kB 8.4 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->py-heat-magic) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython->py-heat-magic) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->py-heat-magic) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (1.6.4)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (7.4.8)
Requirement already satisfied: nest-asyncio in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (1.5.6)
Requirement already satisfied: psutil in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (5.9.4)
Requirement already satisfied: pyzmq>=17 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (24.0.1)
Requirement already satisfied: tornado>=6.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (6.2)
Collecting widgetsnbextension~=4.0
  Downloading widgetsnbextension-4.0.5-py3-none-any.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 10.0 MB/s eta 0:00:00
Collecting jupyterlab-widgets~=3.0
  Downloading jupyterlab_widgets-3.0.5-py3-none-any.whl (384 kB)
     -------------------------------------- 384.3/384.3 kB 8.1 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (4.11.1)
Requirement already satisfied: bleach in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.0.1)
Requirement already satisfied: defusedxml in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.1.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (2.1.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.7.2)
Requirement already satisfied: nbformat>=5.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (1.2.1)
Requirement already satisfied: argon2-cffi in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (21.3.0)
Requirement already satisfied: ipython-genutils in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.2.0)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.17.1)
Requirement already satisfied: prometheus-client in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.15.0)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.4.8)
Collecting qtpy>=2.0.1
  Downloading QtPy-2.3.0-py3-none-any.whl (83 kB)
     ---------------------------------------- 83.6/83.6 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: executing>=1.2.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (0.2.2)
Requirement already satisfied: entrypoints in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter->py-heat-magic) (0.4)
Requirement already satisfied: platformdirs>=2.5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert->jupyter->py-heat-magic) (2.6.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert->jupyter->py-heat-magic) (305)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (2.0.6)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.2.2)
Requirement already satisfied: fastjsonschema in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (4.17.3)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from terminado>=0.8.3->notebook->jupyter->py-heat-magic) (2.0.9)
Requirement already satisfied: argon2-cffi-bindings in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi->notebook->jupyter->py-heat-magic) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->nbconvert->jupyter->py-heat-magic) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from bleach->nbconvert->jupyter->py-heat-magic) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.19.3)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (3.6.2)
Requirement already satisfied: jupyter-events>=0.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.5.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.4.3)
Requirement already satisfied: websocket-client in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (1.4.2)
Requirement already satisfied: cffi>=1.0.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->py-heat-magic) (1.15.1)
Requirement already satisfied: idna>=2.8 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (1.3.0)
Requirement already satisfied: pycparser in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->py-heat-magic) (2.21)
Requirement already satisfied: python-json-logger in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.4.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (2.0.4)
Requirement already satisfied: pyyaml in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.4.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (6.0)
Requirement already satisfied: fqdn in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.5.1)
Requirement already satisfied: isoduration in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (2.3)
Requirement already satisfied: rfc3339-validator in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.1.4)
Requirement already satisfied: rfc3986-validator>0.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.1.1)
Requirement already satisfied: uri-template in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.2.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.12)
Requirement already satisfied: arrow>=0.15.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from isoduration->jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.2.3)
Installing collected packages: pprofile, nose, mpmath, widgetsnbextension, sympy, scipy, qtpy, pyparsing, pillow, kiwisolver, jupyterlab-widgets, fonttools, cycler, contourpy, matplotlib, py-heat, qtconsole, jupyter-console, ipywidgets, jupyter, py-heat-magic
  Running setup.py install for pprofile: started
  Running setup.py install for pprofile: finished with status 'done'
  Running setup.py install for py-heat: started
  Running setup.py install for py-heat: finished with status 'done'
  Running setup.py install for py-heat-magic: started
  Running setup.py install for py-heat-magic: finished with status 'done'
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 ipywidgets-8.0.4 jupyter-1.0.0 jupyter-console-6.4.4 jupyterlab-widgets-3.0.5 kiwisolver-1.4.4 matplotlib-3.6.3 mpmath-1.2.1 nose-1.3.7 pillow-9.4.0 pprofile-2.1.0 py-heat-0.0.6 py-heat-magic-0.0.2 pyparsing-3.0.9 qtconsole-5.4.0 qtpy-2.3.0 scipy-1.10.0 sympy-1.11.1 widgetsnbextension-4.0.5
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: pprofile is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  DEPRECATION: py-heat is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  DEPRECATION: py-heat-magic is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

In [127]:
%load_ext heat

In [130]:
%%heat
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)

NameError: name 'init_timetable' is not defined

In [131]:
pip install line_profiler

Collecting line_profiler
  Downloading line_profiler-4.0.2-cp311-cp311-win_amd64.whl (84 kB)
     ---------------------------------------- 84.7/84.7 kB 2.4 MB/s eta 0:00:00
Installing collected packages: line_profiler
Successfully installed line_profiler-4.0.2
Note: you may need to restart the kernel to use updated packages.

In [111]:
%load_ext line_profiler

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [112]:
timetable_v2 = init_timetable()

In [113]:
%lprun -f local_search_v2 local_search_v2(timetable_v2, teaching_curriculum)

(2520, 0)
(2481, 0)
(2443, 0)
(2407, -2)
(2372, -2)
(2338, -2)
(2306, -4)
(2275, -5)
(2244, -6)
(2214, -6)
(2184, -6)
(2154, -6)
(2126, -6)
(2098, -6)
(2072, -6)
(2046, -5)
(2020, -4)
(1995, -4)
(1971, -4)
(1947, -4)
(1924, -5)
(1901, -5)
(1878, -5)
(1856, -5)
(1834, -5)
(1812, -5)
(1790, -5)
(1769, -5)
(1748, -5)
(1727, -5)
(1706, -5)
(1686, -5)
(1666, -5)
(1647, -7)
(1628, -8)
(1609, -9)
(1590, -10)
(1571, -10)
(1552, -10)
(1534, -11)
(1516, -12)
(1498, -12)
(1480, -12)
(1462, -12)
(1444, -12)
(1427, -14)
(1410, -15)
(1393, -15)
(1376, -15)
(1359, -14)
(1343, -16)
(1327, -17)
(1311, -17)
(1295, -17)
(1279, -16)
(1264, -17)
(1249, -18)
(1234, -18)
(1219, -18)
(1204, -18)
(1190, -18)
(1176, -18)
(1162, -18)
(1148, -18)
(1134, -18)
(1120, -18)
(1106, -18)
(1092, -17)
(1079, -19)
(1066, -19)
(1053, -19)
(1040, -19)
(1027, -19)
(1015, -21)
(1003, -21)
(991, -21)
(979, -21)
(967, -21)
(955, -21)
(944, -22)
(933, -22)
(922, -22)
(911, -22)
(900, -22)
(890, -24)
(880, -24)
(870, -24)
(860, -24)
(850, -24)
(840, -24)
(830, -24)
(820, -24)
(810, -24)
(801, -25)
(792, -25)
(783, -25)
(774, -25)
(765, -25)
(756, -25)
(747, -25)
(738, -25)
(729, -25)
(721, -26)
(713, -26)
(705, -26)
(697, -26)
(689, -26)
(681, -26)
(673, -26)
(665, -25)
(657, -23)
(650, -24)
(643, -25)
(636, -25)
(629, -25)
(622, -25)
(615, -25)
(608, -25)
(601, -25)
(594, -25)
(587, -25)
(580, -25)
(573, -25)
(566, -25)
(560, -26)
(554, -27)
(548, -28)
(542, -29)
(536, -29)
(530, -29)
(524, -29)
(518, -29)
(512, -29)
(506, -29)
(500, -29)
(494, -29)
(489, -31)
(484, -31)
(479, -31)
(474, -31)
(469, -31)
(464, -31)
(459, -31)
(454, -31)
(449, -31)
(444, -31)
(439, -31)
(434, -31)
(429, -31)
(425, -32)
(421, -32)
(417, -32)
(413, -32)
(409, -32)
(405, -32)
(401, -32)
(397, -32)
(393, -32)
(389, -32)
(385, -32)
(381, -32)
(377, -32)
(373, -32)
(369, -32)
(365, -31)
(362, -32)
(359, -32)
(356, -32)
(353, -32)
(350, -32)
(347, -32)
(344, -32)
(341, -32)
(338, -32)
(335, -32)
(332, -32)
(329, -32)
(326, -32)
(323, -32)
(320, -32)
(317, -30)
(315, -31)
(313, -32)
(311, -32)
(309, -32)
(307, -32)
(305, -32)
(303, -32)
(301, -32)
(299, -32)
(297, -32)
(295, -31)
(293, -29)
(292, -31)
(291, -32)
(290, -33)
(289, -34)
(288, -34)
(287, -34)
(286, -34)
(285, -34)
(284, -34)
(283, -34)
(282, -34)
(281, -34)
(280, -34)
(279, -34)
(278, -34)
(277, -34)
(276, -34)
(275, -34)
(274, -34)
(273, -34)
(272, -34)
(271, -34)
(270, -34)
(269, -33)
(269, -35)
(269, -37)
(269, -39)
(269, -40)
(269, -41)
(269, -42)
(269, -43)
(269, -44)
(269, -45)
(269, -46)
(269, -47)
(269, -48)

In [171]:
def test():
    print(teaching_curriculum.iloc[5]['groups'])
    print(teaching_curriculum.iat[5,2])

In [172]:
test()

{'1'}
{'1'}

In [173]:
%lprun -f test test()

{'1'}
{'1'}

In [22]:
def create_helper_matrixes(timetable, teaching_curriculum):
    lecturer_matrix_helper = np.empty((lecturers.shape[0], len(time_slots)), dtype=object)
    for i in range(lecturer_matrix_helper.shape[0]):
        for j in range(lecturer_matrix_helper.shape[1]):
            lecturer_matrix_helper[i,j] = set()
    groups_matrix_helper = np.empty((groups.shape[0], len(time_slots)), dtype=object)
    for i in range(groups_matrix_helper.shape[0]):
        for j in range(groups_matrix_helper.shape[1]):
            groups_matrix_helper[i,j] = set()
    rooms_matrix_helper = np.empty((rooms.shape[0], len(time_slots)), dtype=object)
    for i in range(rooms_matrix_helper.shape[0]):
        for j in range(rooms_matrix_helper.shape[1]):
            rooms_matrix_helper[i,j] = set()
    for i in range(timetable.shape[0]):
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            lecturer_matrix_helper[int(teaching_curriculum.iat[i,0]),j].add(str(i))
            for group in teaching_curriculum.iat[i,2]:
                groups_matrix_helper[int(group),j].add(str(i))
            rooms_matrix_helper[int(timetable.iat[i,0]),j].add(str(i))
    return (lecturer_matrix_helper, groups_matrix_helper, rooms_matrix_helper)

In [65]:
teaching_curriculum['groups'] = teaching_curriculum['groups'].apply(eval)

In [66]:
create_helper_matrixes(timetable_v2, teaching_curriculum)

{0}
{0}
{1}
{1}
{1}
{2}
{2}
{2}
{4}
{4}
{4}
{5}
{5}
{5}
{7}
{7}
{7}
{8}
{8}
{8}
{10}
{10}
{10}
{11}
{11}
{11}
{0}
{0}
{1}
{1}
{1}
{2}
{2}
{2}
{4}
{4}
{4}
{5}
{5}
{5}
{7}
{7}
{7}
{8}
{8}
{8}
{10}
{10}
{10}
{11}
{11}
{11}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{28, 22}
{28, 22}
{28, 22}
{28, 22}
{29, 23}
{29, 23}
{29, 23}
{29, 23}
{25, 31}
{25, 31}
{25, 31}
{25, 31}
{32, 26}
{32, 26}
{32, 26}
{32, 26}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{42, 85, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{18, 12, 15}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{16, 19, 13}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{17, 20, 14}
{28, 22}
{28, 22}
{28, 22}
{28, 22}
{29, 23}
{29, 23}
{29, 23}
{29, 23}
{25, 31}
{25, 31}
{25, 31}
{25, 31}
{32, 26}
{32, 26}
{32, 26}
{32, 26}
{33}
{33}
{33}
{34}
{34}
{35}
{35}
{36}
{36}
{33}
{33}
{34, 35}
{34, 35}
{34, 35}
{34, 35}
{36}
{36}
{42, 39}
{42, 39}
{42, 39}
{42, 39}
{43}
{43}
{44}
{44}
{33}
{33}
{34, 35}
{34, 35}
{34, 35}
{34, 35}
{36}
{36}
{33}
{33}
{37}
{37}
{38}
{38}
{33}
{33}
{37}
{37}
{38}
{38}
{48}
{48}
{49, 50}
{49, 50}
{49, 50}
{49, 50}
{51}
{51}
{42}
{42}
{43}
{43}
{44}
{44}
{48}
{48}
{49, 50}
{49, 50}
{49, 50}
{49, 50}
{51}
{51}
{48, 45, 86}
{48, 45, 86}
{48, 45, 86}
{48, 45, 86}
{48, 45, 86}
{48, 45, 86}
{49}
{49}
{50}
{50}
{51}
{51}
{48}
{48}
{48}
{85}
{85}
{42}
{42}
{43}
{43}
{44}
{44}
{48, 45}
{48, 45}
{48, 45}
{48, 45}
{52}
{52}
{53}
{53}
{48}
{48}
{52}
{52}
{53}
{53}
{48, 74}
{48, 74}
{48, 74}
{48, 74}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{54}
{54}
{54}
{55}
{55}
{55}
{56}
{56}
{56}
{57}
{57}
{57}
{59}
{59}
{59}
{60}
{60}
{60}
{61}
{61}
{61}
{54}
{54}
{54}
{55}
{55}
{56}
{56}
{57}
{57}
{59}
{59}
{60}
{60}
{61}
{61}
{58, 54}
{58, 54}
{58, 54}
{58, 54}
{54}
{54}
{54}
{55}
{55}
{55}
{56}
{56}
{56}
{57}
{57}
{57}
{59}
{59}
{59}
{60}
{60}
{60}
{61}
{61}
{61}
{54}
{54}
{54}
{55}
{55}
{56}
{56}
{57}
{57}
{59}
{59}
{60}
{60}
{61}
{61}
{58, 54}
{58, 54}
{58, 54}
{58, 54}
{62}
{62}
{62}
{63}
{63}
{63}
{64}
{64}
{64}
{66}
{66}
{66}
{67}
{67}
{67}
{62}
{62}
{62}
{63}
{63}
{64}
{64}
{66}
{66}
{67}
{67}
{62}
{62}
{62}
{63}
{63}
{64}
{64}
{66}
{66}
{67}
{67}
{62}
{62}
{62}
{63}
{63}
{64}
{64}
{66}
{66}
{67}
{67}
{62}
{62}
{62}
{63}
{63}
{64}
{64}
{66}
{66}
{67}
{67}
{68}
{68}
{69}
{69}
{69}
{70}
{70}
{70}
{72}
{72}
{72}
{73}
{73}
{73}
{68}
{68}
{69}
{69}
{69}
{70}
{70}
{70}
{72}
{72}
{72}
{73}
{73}
{73}
{68}
{68}
{68}
{69}
{69}
{70}
{70}
{72}
{72}
{73}
{73}
{68}
{68}
{68}
{69}
{69}
{70}
{70}
{72}
{72}
{73}
{73}
{68}
{68}
{68}
{69}
{69}
{70}
{70}
{72}
{72}
{73}
{73}
{68}
{68}
{69}
{69}
{69}
{70}
{70}
{70}
{72}
{72}
{72}
{73}
{73}
{73}
{68}
{68}
{69}
{69}
{69}
{70}
{70}
{70}
{72}
{72}
{72}
{73}
{73}
{73}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75}
{75}
{75}
{76}
{76}
{76}
{77}
{77}
{77}
{78}
{78}
{78}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75}
{75}
{75}
{76}
{76}
{76}
{77}
{77}
{77}
{78}
{78}
{78}
{74}
{74}
{74}
{74}
{74}
{74}
{74}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{74}
{74}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{74}
{74}
{75}
{75}
{75}
{76}
{76}
{76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75}
{75}
{75}
{76}
{76}
{76}
{77}
{77}
{77}
{78}
{78}
{78}
{74}
{74}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{74}
{74}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{75, 76}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{77, 78}
{74}
{74}
{74}
{74}
{74}
{74}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{88, 87}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{80, 83}
{80, 83}
{80, 83}
{80, 83}
{80, 83}
{80, 83}
{81, 84}
{81, 84}
{81, 84}
{81, 84}
{81, 84}
{81, 84}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{82, 79}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}
{89}

(array([[set(), set(), {'62'}, ..., set(), set(), set()],
        [set(), set(), set(), ..., set(), set(), set()],
        [set(), set(), {'54', '55'}, ..., set(), set(), set()],
        ...,
        [set(), {'44'}, {'44'}, ..., set(), set(), set()],
        [set(), {'53'}, {'53'}, ..., set(), set(), set()],
        [set(), set(), set(), ..., set(), set(), set()]], dtype=object),
 array([[{'9', '0'}, {'9', '0'}, set(), ..., set(), set(), set()],
        [{'1', '10'}, {'1', '10'}, {'1', '10'}, ..., set(), set(), set()],
        [{'2', '11'}, {'2', '11'}, {'2', '11'}, ..., set(), set(), set()],
        ...,
        [set(), set(), set(), ..., set(), set(), set()],
        [set(), set(), set(), ..., set(), set(), set()],
        [set(), set(), set(), ..., set(), set(), set()]], dtype=object),
 array([[{'0'}, {'0', '27'}, {'54', '27'}, ..., set(), set(), set()],
        [{'1'}, {'1', '28'}, {'1', '28', '55'}, ..., set(), set(), set()],
        [{'2'}, {'2', '29'}, {'2', '56', '29'}, ..., set(), set(), set()],
        ...,
        [{'24'}, {'24', '51'}, {'78', '51'}, ..., set(), set(), set()],
        [{'25'}, {'52', '25'}, {'52', '79'}, ..., set(), set(), set()],
        [{'26'}, {'53', '26'}, {'53', '80'}, ..., set(), set(), set()]],
       dtype=object))

In [67]:
teaching_curriculum.dtypes

lecturer            int64
class               int64
groups             object
groups_to_check    object
dtype: object

In [23]:
def check_lecturer_constraint_delta(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if old_timeslot % 13 > 0:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 13 < 12:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [24]:
def check_lecturer_constraint_delta_room(timetable, teaching_curriculum, lecturer_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr_room(timetable, teaching_curriculum, lecturer_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [25]:
def check_groups_constraint_delta(timetable, teaching_curriculum, groups_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for group_index in groups_indexes:
        for j in range(old_timeslot, old_timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if old_timeslot % 13 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), old_timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 13 < 12:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), old_timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_groups_constraint_delta_curr(timetable, teaching_curriculum, groups_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [26]:
def check_groups_constraint_delta_room(timetable, teaching_curriculum, groups_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_groups_constraint_delta_curr_room(timetable, teaching_curriculum, groups_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 13 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 13 < 12:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [27]:
def check_room_constraint_delta(timetable, teaching_curriculum, room_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

def check_room_constraint_delta_curr(timetable, teaching_curriculum, room_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

In [28]:
def check_room_constraint_delta_room(timetable, teaching_curriculum, room_matrix_helper, i, room):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

def check_room_constraint_delta_curr_room(timetable, teaching_curriculum, room_matrix_helper, i, room):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[int(room), j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

In [29]:
def check_lecturer_constraint_delta(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if old_timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [379]:
helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)

In [383]:
check_groups_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[1], 1, 36)

0

In [364]:
global_count

0

In [327]:
start = datetime.now()
check_lecturer_constraint_delta(timetable, teaching_curriculum, helper_matrixes[0], 8, 26)
end = datetime.now()
 
# find difference loop start and end time and display
td1 = (end - start).total_seconds()

In [328]:
start = datetime.now()
lecturer_constraint_delta(timetable, teaching_curriculum, 8)
end = datetime.now()
 
# find difference loop start and end time and display
td2 = (end - start).total_seconds()

In [329]:
td1

0.001133

In [330]:
td2

0.002382

In [312]:
timetable

   room  time_slot
0     0         39
1     0         36
2    10         30
3     0         41
4     5          6
5     0         19
6     0          3
7     1         16
8     0         16
9    13         28
10   11         30
11    0         13

In [269]:
mat = np.empty((lecturers.shape[0], len(time_slots)), dtype=object)
for i in range(mat.shape[0]):
    for j in range(mat.shape[1]):
        mat[i,j] = set()
mat[0,0].add('a')
mat

array([[{'a'}, set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()]], dtype=object)

In [262]:
np.full((5,5), {'a'})

array([[{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}]], dtype=object)

In [61]:
start = datetime.now()
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

init (352, 4)
iteration 0
(121, 9)
(112, 9)
(104, 9)
(96, 9)
(88, 9)
(80, 9)
(74, 8)
(68, 8)
(63, 8)
(58, 8)
(53, 8)
(48, 8)
(43, 8)
(39, 8)
(35, 8)
(31, 9)
(28, 9)
(25, 9)
(22, 9)
(19, 9)
(16, 10)
(14, 8)
(12, 8)
(11, 5)
(10, 3)
(9, 2)
(8, 2)
(7, 2)
(6, 2)
(5, 2)
(4, 2)
(3, 2)
(2, 2)
(1, 2)
(0, 2)
(0, 0)
iteration 1
(22, 12)
(19, 12)
(16, 12)
(14, 10)
(12, 9)
(10, 9)
(8, 9)
(7, 7)
(6, 6)
(5, 5)
(4, 4)
(3, 4)
(2, 4)
(1, 4)
(0, 4)
(0, 2)
(0, 1)
(0, 0)
iteration 2
(22, 9)
(19, 9)
(16, 9)
(14, 7)
(12, 7)
(10, 7)
(8, 7)
(6, 7)
(4, 8)
(3, 7)
(2, 7)
(1, 7)
(0, 7)
(0, 4)
(0, 2)
(0, 1)
(0, 0)
iteration 3
(20, 8)
(17, 8)
(14, 8)
(11, 8)
(9, 8)
(7, 8)
(5, 8)
(4, 6)
(3, 6)
(2, 6)
(1, 6)
(0, 6)
(0, 4)
(0, 2)
(0, 0)
iteration 4
(17, 12)
(14, 12)
(12, 10)
(10, 9)
(8, 9)
(6, 9)
(5, 7)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 5)
(0, 3)
(0, 1)
(0, 0)
iteration 5
(28, 7)
(25, 6)
(22, 6)
(20, 4)
(18, 3)
(16, 2)
(14, 2)
(12, 2)
(10, 2)
(8, 4)
(7, 4)
(6, 4)
(5, 4)
(4, 4)
(3, 4)
(2, 4)
(1, 4)
(0, 4)
(0, 2)
(0, 0)
iteration 6
(18, 10)
(15, 10)
(13, 8)
(11, 7)
(9, 7)
(7, 7)
(6, 5)
(5, 4)
(4, 3)
(3, 3)
(2, 3)
(1, 3)
(0, 3)
(0, 1)
(0, 0)
iteration 7
(26, 14)
(23, 14)
(21, 12)
(19, 11)
(17, 10)
(15, 9)
(13, 8)
(11, 8)
(9, 8)
(7, 8)
(5, 8)
(3, 8)
(2, 8)
(1, 8)
(0, 8)
(0, 6)
(0, 4)
(0, 2)
(0, 0)
iteration 8
(19, 16)
(16, 16)
(14, 15)
(12, 14)
(10, 14)
(8, 14)
(7, 12)
(6, 10)
(5, 8)
(4, 7)
(3, 7)
(2, 7)
(1, 7)
(0, 7)
(0, 5)
(0, 3)
(0, 2)
(0, 1)
(0, 0)
iteration 9
(22, 15)
(19, 15)
(16, 15)
(14, 14)
(12, 13)
(10, 13)
(8, 13)
(7, 11)
(6, 9)
(5, 8)
(4, 7)
(3, 6)
(2, 6)
(1, 6)
(0, 6)
(0, 4)
(0, 2)
(0, 1)
(0, 0)

In [62]:
td

1131.971241

In [59]:
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))

a
b
a
b
a
count 0
drugi count 0
a
count 0
drugi count 0
a
count 0
drugi count 0
a
b
a
b
a
b
a
count 0
drugi count 0
a
count 0
drugi count 0
a
b
a
count 0
drugi count 0
a
b
a
b
a
count 0
drugi count 0
a
b
a
b
a
b
a
b
a
b
a
count 0
drugi count 0
a
count 0
drugi count 0
a
count 2
drugi count 2
a
b
a
b
a
b
a
b
a
count 3
drugi count 3
a
count 4
drugi count 4
a
b
a
count 4
drugi count 4
a
b
a
count 4
drugi count 4
a
count 4
drugi count 4
a
count 4
drugi count 4
a
b
a
b
a
b
a
b
a
b
a
b
a
count 4
drugi count 4
a
b
a
count 4
drugi count 4
a
count 4
drugi count 4
a
b
a
b
a
count 4
drugi count 4
a
b
a
b
a
count 4
drugi count 4
a
b
a
b
a
b
a
count 4
drugi count 4
init (352, 4)

In [33]:
teaching_curriculum

    lecturer  class groups groups_to_check
0         41     19   {75}            {75}
1         34     10   {75}            {75}
2         21     67   {54}            {54}
3         22     33   {30}            {30}
4         27     44   {54}            {54}
..       ...    ...    ...             ...
68         2     59   {51}            {51}
69        34    119   {51}            {51}
70         3    127   {51}            {51}
71        27     73   {51}            {51}
72        27    128   {51}            {51}

[73 rows x 4 columns]

In [41]:
result_timetable

    room  time_slot
0      0          0
1      1          0
2      2          0
3      3          0
4      4          0
..   ...        ...
68    12          4
69    13          4
70     0          5
71     1          5
72     2          5

[73 rows x 2 columns]

In [68]:
result_timetable.iloc[60:]

    room  time_slot
60     4         18
61     5          6
62     6          4
63     7         12
64     8         16
65     9         14
66    11         50
67     5          0
68     3          3
69    13         26
70    13         31
71     1         36
72    10          8

In [67]:
teaching_curriculum_copy.iloc[60:]

                    lecturer   class groups groups_to_check
60            Милан Банковић    Р306  [5ир]            {53}
61            Младен Николић    Р308  [5ир]            {53}
62              Мирко Спасић   МФАСП   [П1]            {51}
63               Ненад Митић    МФИП   [П1]            {51}
64            Младен Николић    МФМУ   [П1]            {51}
65         Александар Картељ    МФРИ   [П1]            {51}
66          Јована Ковачевић   МФУБИ   [П1]            {51}
67          Јована Ковачевић   ХФУПБ   [П1]            {51}
68         Александар Картељ  УУХЈВИ   [П1]            {51}
69  Сана Стојановић Ђурђевић  УУААВИ   [П1]            {51}
70          Мирјана Маљковић   УУДЗП   [П1]            {51}
71   Сташа Вујичић Станковић   УУПУ1   [П1]            {51}
72   Сташа Вујичић Станковић   УУПУ2   [П1]            {51}

In [79]:
print('init', calculate_fittnes(result_timetable, teaching_curriculum))

IndexError: index 0 is out of bounds for axis 0 with size 0