In [102]:
import json
import copy
import random
import numpy as np
import pandas as pd
import math
from datetime import datetime

In [135]:
time_slots = range(0, 60)
k = 5

In [136]:
lecturers = pd.DataFrame(np.array([['Kartelj'], ['Cukic'], ['Mitic'], ['Malkov']]),
                   columns=['name'])
preffered_timeslots = [[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],[],[],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]]
lecturers['preffered_timeslots'] = preffered_timeslots
not_preffered_timeslots = [[24,25,26,27,28,29,30,31,32,33,34,35],[],[],[36,37,38,39,40,41,42,43,44,45,46,47]]
lecturers['not_preffered_timeslots'] = not_preffered_timeslots
preffered_locations = [{'1', '2'},set(),set(),{'0'}]
lecturers['preffered_locations'] = preffered_locations
lecturers

,name,preffered_timeslots,not_preffered_timeslots,preffered_locations
0,Kartelj,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]","{2, 1}"
1,Cukic,[],[],{}
2,Mitic,[],[],{}
3,Malkov,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]",{0}

In [137]:
classes = pd.DataFrame(np.array([['Racunarske mreze', None, 2], ['Racunarske mreze - vezbe', 'racunari', 3], 
                                 ['Racunarska inteligencija', None, 2], ['Racunarska inteligencija - vezbe', 'racunari', 3], 
                                 ['Funkcionalno programiranje', None, 2], ['Funkcionalno programiranje - vezbe', 'racunari', 3],
                                 ['Programiranje za veb', None, 2], ['Programiranje za veb - vezbe', 'racunari', 3],
                                 ['Istrazivanje podataka 2', None, 2], ['Istrazivanje podataka 2 - vezbe', 'racunari', 3],
                                 ['Razvoj sofvtvera', None, 2], ['Razvoj softvera - vezbe', 'racunari', 3],
                                 ['Projektovanje baza podataka', None, 2], ['Projektovanje baza podataka - vezbe', 'racunari', 3],
                                ]), columns=['name', 'equipment', 'number_of_classes'])
classes

                                   name equipment number_of_classes
0                      Racunarske mreze      None                 2
1              Racunarske mreze - vezbe  racunari                 3
2              Racunarska inteligencija      None                 2
3      Racunarska inteligencija - vezbe  racunari                 3
4            Funkcionalno programiranje      None                 2
5    Funkcionalno programiranje - vezbe  racunari                 3
6                  Programiranje za veb      None                 2
7          Programiranje za veb - vezbe  racunari                 3
8               Istrazivanje podataka 2      None                 2
9       Istrazivanje podataka 2 - vezbe  racunari                 3
10                     Razvoj sofvtvera      None                 2
11              Razvoj softvera - vezbe  racunari                 3
12          Projektovanje baza podataka      None                 2
13  Projektovanje baza podataka - vezbe  racunari                 3

In [138]:
groups = pd.DataFrame(np.array([['4i', None], ['4i1a', '4i'], ['4i1b', '4i'], ['4i2a', '4i'], ['4i2b', '4i'],
                                ['4r', None], ['r4gr1', '4r'], ['r4gr2', '4r'], ['r4gr3', '4r']
                               ]), columns=['name', 'parent'])
groups

    name parent
0     4i   None
1   4i1a     4i
2   4i1b     4i
3   4i2a     4i
4   4i2b     4i
5     4r   None
6  r4gr1     4r
7  r4gr2     4r
8  r4gr3     4r

In [139]:
locations = pd.DataFrame(np.array([['Studentski trg'], ['Sv. Nikole'], ['Jagic']]), columns=['name'])
locations

             name
0  Studentski trg
1      Sv. Nikole
2           Jagic

In [140]:
location_distances = pd.DataFrame(np.array([['0', '1', 1], ['0', '2', 1], ['1', '2', 1]]), columns=['first', 'second', 'hours'])
location_distances

  first second hours
0     0      1     1
1     0      2     1
2     1      2     1

In [141]:
rooms = pd.DataFrame(np.array([['704', '0', 'racunari'], ['718', '0', 'racunari'], ['706', '0', None], ['821', '0', None],
                               ['BIM', '0', 'racunari'], ['RLAB', '0', 'racunari'], ['830', '0', None], ['N201', '1', 'racunari'],
                               ['N202', '1', 'racunari'], ['N253', '1', None], ['Jag1', '2', 'racunari'],
                               ['Jag2', '2', 'racunari'], ['Jag3', '2', None], ['Jag4', '2', None]
                              ]), columns=['name', 'location', 'equipment'])
rooms

    name location equipment
0    704        0  racunari
1    718        0  racunari
2    706        0      None
3    821        0      None
4    BIM        0  racunari
5   RLAB        0  racunari
6    830        0      None
7   N201        1  racunari
8   N202        1  racunari
9   N253        1      None
10  Jag1        2  racunari
11  Jag2        2  racunari
12  Jag3        2      None
13  Jag4        2      None

In [370]:
groups

    name parent
0     4i   None
1   4i1a     4i
2   4i1b     4i
3   4i2a     4i
4   4i2b     4i
5     4r   None
6  r4gr1     4r
7  r4gr2     4r
8  r4gr3     4r

In [372]:
teaching_curriculum = pd.DataFrame(np.array([['0', '0', {'0'}, {'0','1','2','3','4'}], 
                                             ['0', '1', {'1', '2'}, {'0','1','2'}], 
                                             ['0', '1', {'3', '4'}, {'0','3','4'}], 
                                             ['3', '10', {'1', '2'}, {'0','1','2'}],
                                             ['3', '10', {'3', '4', '5'}, {'0','3','4','5','6','7','8'}], 
                                             ['3', '11', {'1'}, {'0','1'}], 
                                             ['3', '11', {'2'}, {'0','2'}], 
                                             ['3', '11', {'3', '5'}, {'0','3','5','6','7','8'}],
                                             ['3', '11', {'4'}, {'0','4'}], 
                                             ['2', '8', {'0'}, {'0','1','2','3','4'}], 
                                             ['2', '9', {'1', '2'}, {'0','1','2',}], 
                                             ['2', '9', {'3', '4'}, {'0','3','4'}]                                               
                                            ]), columns=['lecturer', 'class', 'groups', 'groups_to_check'])
teaching_curriculum

   lecturer class     groups        groups_to_check
0         0     0        {0}        {0, 1, 3, 2, 4}
1         0     1     {2, 1}              {2, 0, 1}
2         0     1     {3, 4}              {3, 0, 4}
3         3    10     {2, 1}              {2, 0, 1}
4         3    10  {3, 5, 4}  {7, 0, 5, 3, 4, 8, 6}
5         3    11        {1}                 {0, 1}
6         3    11        {2}                 {2, 0}
7         3    11     {3, 5}     {7, 0, 5, 3, 8, 6}
8         3    11        {4}                 {0, 4}
9         2     8        {0}        {0, 1, 3, 2, 4}
10        2     9     {2, 1}              {2, 0, 1}
11        2     9     {3, 4}              {3, 0, 4}

In [146]:
teaching_curriculum_copy = teaching_curriculum.copy()
teaching_curriculum_copy['lecturer'] = lecturers.iloc[teaching_curriculum_copy['lecturer'].tolist()].name.tolist()
teaching_curriculum_copy['class'] = classes.iloc[teaching_curriculum_copy['class'].tolist()].name.tolist()
teaching_curriculum_copy['groups'] = list(map(lambda gs: list(map(lambda g: groups.iloc[int(g)]['name'], gs)), teaching_curriculum_copy['groups'].tolist()))
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2a, 4i2b]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2a, 4r, 4i2b]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4i2a, 4r]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2a, 4i2b]

In [147]:
time_slots = range(0, 60)

In [188]:
def init_timetable():
    init = []
    for i in range(teaching_curriculum.shape[0]):
        init.append([rooms.iloc[i % len(rooms)].name, time_slots[i // len(rooms)]])
    timetable = pd.DataFrame(np.array(init), columns = ['room', 'time_slot'])
    return timetable

In [442]:
def are_classes_intersected(timetable,teaching_curriculum, i, j):
    first = timetable.iat[i, 1] + classes.iat[int(teaching_curriculum.iat[i, 1]), 2] <= timetable.iat[j, 1]
    second = timetable.iat[j, 1] + classes.iat[int(teaching_curriculum.iat[j, 1]), 2] <= timetable.iat[i, 1]
    return not (first or second)

def are_locations_intersected(timetable,teaching_curriculum, i, j):
    i_location = rooms.iat[int(timetable.iat[i,0]),1]
    j_location = rooms.iat[int(timetable.iat[j,0]),1]
    if (i_location == j_location) or ((timetable.iat[i, 1] // 12) != (timetable.iat[j, 1] // 12)):
        return False
    first_location = min(int(i_location), int(j_location))
    second_location = max(int(i_location), int(j_location))
    distance_in_hours = int(location_distances[(location_distances['first'] == str(first_location)) & (location_distances['second'] == str(second_location))].iat[0,2])
    first = abs(timetable.iat[i,1] + classes.iat[int(teaching_curriculum.iat[i, 1]), 2] - timetable.iat[j, 1]) >= distance_in_hours 
    second = abs(timetable.iat[j,1] + classes.iat[int(teaching_curriculum.iat[j,1]), 2] - timetable.iat[i, 1]) >= distance_in_hours
    return not (first and second)

def are_groups_intersected(teaching_curriculum, i, j):
    set1 = teaching_curriculum.iat[i,2]
    set2 = teaching_curriculum.iat[j,2]
    whole_set1 = teaching_curriculum.iat[i,3]
    whole_set2 = teaching_curriculum.iat[j,3]
    for el1 in set1:
        for el2 in set2:
            if el1 == el2 or el1 in whole_set2 or el2 in whole_set1:
                return True
    return False

In [221]:
def calculate_soft_constraints(timetable, teaching_curriculum, indexes):
    list_of_timeslots = [set() for x in range(60)]
    for i in indexes:
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            list_of_timeslots[j].add(rooms.iat[int(timetable.iat[i,0]),1])
    count = 0
    last_set = set()
    last_index = 0
    for i in range(len(list_of_timeslots)):
        if i % 12 == 0:
            last_set = set()
        if last_set and last_index < i - 1 and list_of_timeslots[i]:
            count += 1
        if last_set and list_of_timeslots[i] and last_set.isdisjoint(list_of_timeslots[i]):
            count += 1
        if (list_of_timeslots[i]):
            last_set = list_of_timeslots[i]
            last_index = i
    return count

def calculate_lecturer_preferences(timetable, teaching_curriculum, indexes):
    list_of_timeslots = [False for x in range(60)]
    list_of_locations = set()
    lecturer = lecturers.iloc[int(teaching_curriculum.iat[indexes[0],0])]
    for i in indexes:
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        list_of_locations.add(rooms.iat[int(timetable.iat[i,0]),1])
        for j in range(timeslot, timeslot + num_of_classes):
            list_of_timeslots[j] = True
    count = 0
    if lecturer['preffered_locations'] and list_of_locations.difference(lecturer['preffered_locations']):
        count += 1
    for i in range(len(lecturer['not_preffered_timeslots'])):
        if list_of_timeslots[lecturer['not_preffered_timeslots'][i]]:
            count += 1
    if lecturer['preffered_timeslots']:
        for i in range(len(list_of_timeslots)):
            if list_of_timeslots[i] and i not in lecturer['preffered_timeslots']:
                count += 1
    return count

In [190]:
def lecturer_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if teaching_curriculum.iat[i,0] == teaching_curriculum.iat[j,0] and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

def lecturer_constraint_delta(timetable, teaching_curriculum, i):
    lecturer = teaching_curriculum.iat[i,0]
    teaching_curriculum_with_lecturer = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer]
    count = 0
    for j in teaching_curriculum_with_lecturer.index:
        if i != j:
            if (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [191]:
def group_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

def group_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    for j in range(teaching_curriculum.shape[0]):
        if i != j:
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [213]:
def room_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if timetable.iat[i,0] == timetable.iat[j,0] and are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

def room_constraint_delta(timetable, teaching_curriculum, i):
    room = timetable.iat[i,0]
    timetable_with_room = timetable[timetable['room'] == room]
    count = 0
    for j in timetable_with_room.index:
        if i != j:
            if are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

In [193]:
def equipment_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        if classes.iat[int(teaching_curriculum.iat[i,1]),1] is not None and classes.iat[int(teaching_curriculum.iat[i,1]),1] != rooms.iat[int(timetable.iat[i,0]),2]:
            count += 1
    return count

def equipment_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    if classes.iat[int(teaching_curriculum.iat[i,1]),1] is not None and classes.iat[int(teaching_curriculum.iat[i,1]),1] != rooms.iat[int(timetable.iat[i,0]),2]:
        count += 1
    return count

In [435]:
def lecturer_soft_constraint(timetable, teaching_curriculum):
    count = 0
    for i in lecturers.index:
        indexes = teaching_curriculum[teaching_curriculum['lecturer'] == str(i)].index
        if indexes.empty:
            continue
        count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
        print('count', count)
        count += calculate_lecturer_preferences(timetable, teaching_curriculum, indexes)
        print('drugi count', count)
    return count

def lecturer_soft_constraint_delta(timetable, teaching_curriculum, i):
    lecturer_index = teaching_curriculum.iat[i,0]
    indexes = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer_index].index
    return calculate_soft_constraints(timetable, teaching_curriculum, indexes) + calculate_lecturer_preferences(timetable, teaching_curriculum, indexes)

In [444]:
def groups_soft_constraint(timetable, teaching_curriculum):
    count = 0
    for i in groups.index:
        if groups.iat[i,1]:
            indexes = teaching_curriculum[(teaching_curriculum['groups_to_check'].astype(str).str.contains(str(i))) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iat[i,1]].index[0])))].index
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

def groups_soft_constraint_delta(timetable, teaching_curriculum, i):
    group_set = teaching_curriculum.iat[i,2]
    count = 0
    for el in group_set:
        if groups.iat[int(el),1]:
            indexes = teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(el)) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iat[int(el),1]].index[0])))].index
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
        else:
            children_groups = groups[groups['parent'] == groups.iat[int(el),0]].index
            for j in children_groups:
                indexes = teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(str(j))) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iat[j,1]].index[0])))].index
                count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

In [434]:
def calculate_fittnes(timetable, teaching_curriculum):
    first = lecturer_constraint(timetable, teaching_curriculum) + group_constraint(timetable, teaching_curriculum) + room_constraint(timetable, teaching_curriculum) + equipment_constraint(timetable, teaching_curriculum)
    second = lecturer_soft_constraint(timetable, teaching_curriculum)+ groups_soft_constraint(timetable, teaching_curriculum)
    return (first, second)

def calculate_fitness_delta(timetable, teaching_curriculum, i):
    first = lecturer_constraint_delta(timetable, teaching_curriculum, i) + group_constraint_delta(timetable, teaching_curriculum, i) + room_constraint_delta(timetable, teaching_curriculum, i) + equipment_constraint_delta(timetable, teaching_curriculum, i)
    second = lecturer_soft_constraint_delta(timetable, teaching_curriculum, i) + groups_soft_constraint_delta(timetable, teaching_curriculum, i)
    return (first, second)

In [197]:
pd.DataFrame(False, index=np.arange(lecturers.shape[0]), columns=time_slots)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [198]:
def create_constraint_matrixes(timetable, teaching_curriculum):
    lecturer_constraint_matrix = pd.DataFrame(False, index=np.arange(lecturers.shape[0]), columns=time_slots)
    groups_constraint_matrix = pd.DataFrame(False, index=np.arange(groups.shape[0]), columns=time_slots)
    rooms_constraint_matrix = pd.DataFrame(False, index=np.arange(rooms.shape[0]), columns=time_slots)
    for i in range(timetable.shape[0]):
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            lecturer_constraint_matrix.iat[int(teaching_curriculum.iat[i,0]),j] = True
            for group in teaching_curriculum.iat[i,2]:
                groups_constraint_matrix.iat[int(group),j] = True
            rooms_constraint_matrix.iat[int(timetable.iat[i,0]),j] = True
    return (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix)

In [199]:
groups

    name parent
0     4i   None
1   4i1a     4i
2   4i1b     4i
3   4i2a     4i
4   4i2b     4i
5     4r   None
6  r4gr1     4r
7  r4gr2     4r
8  r4gr3     4r

In [200]:
groups.iat[1,1]

'4i'

In [201]:
teaching_curriculum.iat[1,2]

{'1', '2'}

In [202]:
def check_for_constraints(timetable, teaching_curriculum, constraint_matrixes, i, timeslot):
    (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix) = constraint_matrixes
    old_timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    old_place = range(old_timeslot, old_timeslot + num_of_classes)
    set_of_groups = set()
    for group in teaching_curriculum.iat[i,2]:
        set_of_groups.add(group)
        if groups.iat[int(group),1]:
            set_of_groups.add(groups[groups['name'] == groups.iat[int(group),1]].index[0])
    for j in range(timeslot, timeslot + num_of_classes):
        if j in old_place:
            continue
        if lecturer_constraint_matrix.iat[int(teaching_curriculum.iat[i,0]),j]:
            return True
        for group in set_of_groups:
            if groups_constraint_matrix.iat[int(group),j]:
                return True
        if rooms_constraint_matrix.iat[int(timetable.iat[i,0]),j]:
            return True
    return False

In [203]:
def check_for_constraints_room(timetable, teaching_curriculum, constraint_matrixes, i, room):
    (lecturer_constraint_matrix, groups_constraint_matrix, rooms_constraint_matrix) = constraint_matrixes
    timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    for j in range(timeslot, timeslot + num_of_classes):
        if rooms_constraint_matrix.iat[int(room),j]:
            return True
    return False

In [204]:
constraint_matrixes = create_constraint_matrixes(result_timetable, teaching_curriculum)
check_for_constraints_room(result_timetable, teaching_curriculum, constraint_matrixes, int('2'), '0')

False

In [450]:
calculate_fittnes(result_timetable, teaching_curriculum)

count 0
drugi count 4
count 4
drugi count 4
count 4
drugi count 5

(0, 12)

In [446]:
result_timetable

    room  time_slot
0      0          7
1      7         48
2      5          9
3     13         12
4      0         24
5      0          1
6      1         26
7      0          4
8     10         14
9      7         32
10     7         51
11     7         29

In [206]:
def local_search(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in timeslot_range:
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness < calculate_fittnes(timetable, teaching_curriculum):
            print(best_fitness)
            timetable = best_timetable.copy()
        else:
            break
    return timetable

In [421]:
def local_search_v2(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    fitness = best_fitness
    helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
#             timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in time_slots:
                if timeslot % 12 + classes.iat[int(teaching_curriculum.iat[i,1]),2] > 11:
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                first_fitness_delta = 0
                first_fitness_delta += check_lecturer_constraint_delta(timetable, teaching_curriculum, helper_matrixes[0], i, timeslot)
                first_fitness_delta += check_groups_constraint_delta(timetable, teaching_curriculum, helper_matrixes[1], i, timeslot)
                first_fitness_delta += check_room_constraint_delta(timetable, teaching_curriculum, helper_matrixes[2], i, timeslot)
                first_fitness_delta += equipment_constraint_delta(timetable, teaching_curriculum, i)
                first_currfitness_delta = 0
                first_currfitness_delta += check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[0], i, timeslot)
                first_currfitness_delta += check_groups_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[1], i, timeslot)
                first_currfitness_delta += check_room_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[2], i, timeslot)
                first_currfitness_delta += equipment_constraint_delta(current_timetable, teaching_curriculum, i)
                if fitness[0] - first_fitness_delta + first_currfitness_delta > best_fitness[0]:
                    continue
                second_fitness_delta = 0
                second_fitness_delta += lecturer_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_fitness_delta += groups_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_currfitness_delta = 0
                second_currfitness_delta += lecturer_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                second_currfitness_delta += groups_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                fitness_delta = (first_fitness_delta, second_fitness_delta)
                current_fitness_delta = (first_currfitness_delta, second_currfitness_delta)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] == best_fitness[0]:
                    a = 'a'
                if current_fittness[0] > best_fitness[0]:
                    b = 'b'
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                first_fitness_delta = 0
                first_fitness_delta += check_lecturer_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[0], i, str(j))
                first_fitness_delta += check_groups_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[1], i, str(j))
                first_fitness_delta += check_room_constraint_delta_room(timetable, teaching_curriculum, helper_matrixes[2], i, str(j))
                first_fitness_delta += equipment_constraint_delta(timetable, teaching_curriculum, i)
                first_currfitness_delta = 0
                first_currfitness_delta += check_lecturer_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[0], i, str(j))
                first_currfitness_delta += check_groups_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[1], i, str(j))
                first_currfitness_delta += check_room_constraint_delta_curr_room(timetable, teaching_curriculum, helper_matrixes[2], i, str(j))
                first_currfitness_delta += equipment_constraint_delta(current_timetable, teaching_curriculum, i)
                if fitness[0] - first_fitness_delta + first_currfitness_delta > best_fitness[0]:
                    continue
                second_fitness_delta = 0
                second_fitness_delta += lecturer_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_fitness_delta += groups_soft_constraint_delta(timetable, teaching_curriculum, i)
                second_currfitness_delta = 0
                second_currfitness_delta += lecturer_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                second_currfitness_delta += groups_soft_constraint_delta(current_timetable, teaching_curriculum, i)
                fitness_delta = (first_fitness_delta, second_fitness_delta)
                current_fitness_delta = (first_currfitness_delta, second_currfitness_delta)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] == best_fitness[0]:
                    a = 'a'
                if current_fittness[0] > best_fitness[0]:
                    b = 'b'
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness[0] < fitness[0] or (best_fitness[0] == fitness[0] and best_fitness[1] < fitness[1]):
            print(best_fitness)
            timetable = best_timetable.copy()
            fitness = best_fitness
            helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)
        else:
            break
    return timetable

In [208]:
def local_search_v3(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    fitness = best_fitness
    constraint_matrixes = create_constraint_matrixes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iat[i,1] // 12), 12 * (timetable.iat[i,1] // 12 + 1) - classes.iat[int(teaching_curriculum.iat[i,1]),2] + 1)
            for timeslot in timeslot_range:
                if fitness[0] == 0 and check_for_constraints(timetable, teaching_curriculum, constraint_matrixes, int(i), timeslot):
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,1] = timeslot
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                if fitness[0] == 0 and check_for_constraints_room(timetable, teaching_curriculum, constraint_matrixes, int(i), str(j)):
                    continue
                current_timetable = timetable.copy()
                current_timetable.iat[i,0] = str(j)
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness[0] < fitness[0] or (best_fitness[0] == fitness[0] and best_fitness[1] < fitness[1]):
            print(best_fitness)
            timetable = best_timetable.copy()
            fitness = best_fitness
            constraint_matrixes = create_constraint_matrixes(timetable, teaching_curriculum)
        else:
            break
    return timetable

In [209]:
def shaking(timetable, teaching_curriculum):
    time_table_shaking = timetable.copy()
    for j in range(k):
        random_timetable_index = random.choice(range(timetable.shape[0]))
        random_room_index = random.choice(range(rooms.shape[0]))
        random_timeslot = random.choice(time_slots)
        while(random_timeslot % 12 + classes.iat[int(teaching_curriculum.iat[random_timetable_index,1]),2] > 11):
            random_timeslot = random.choice(time_slots)
        time_table_shaking.iloc[random_timetable_index] = np.array([[random_room_index, random_timeslot]])
    return time_table_shaking

In [25]:
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable

init (62, 2)
iteration 0
(5, 29)
(3, 36)
(2, 33)
(1, 33)
(0, 33)
(0, 31)
(0, 29)
(0, 27)
(0, 26)
(0, 25)
(0, 24)
iteration 1
(10, 36)
(8, 35)
(7, 33)
(6, 32)
(5, 32)
(4, 32)
(3, 32)
(2, 34)
(1, 36)
(0, 40)
(0, 36)
(0, 33)
(0, 31)
iteration 2
(2, 31)
(1, 30)
(0, 32)
(0, 29)
(0, 26)
(0, 24)
(0, 22)
(0, 20)
(0, 18)
(0, 17)
iteration 3
(4, 27)
(3, 26)
(2, 25)
(1, 27)
(0, 31)
(0, 29)
(0, 27)
(0, 25)
(0, 24)
(0, 23)
(0, 22)
(0, 21)
(0, 20)
iteration 4
(7, 27)
(5, 31)
(4, 28)
(3, 26)
(2, 25)
(1, 25)
(0, 27)
(0, 24)
(0, 22)
(0, 20)
(0, 18)
(0, 16)
(0, 15)
(0, 14)
iteration 5
(12, 30)
(9, 31)
(7, 31)
(5, 31)
(4, 31)
(3, 31)
(2, 33)
(1, 35)
(1, 34)
(1, 33)
(1, 32)
(1, 31)
iteration 6
(7, 13)
(6, 13)
(5, 13)
(4, 13)
(3, 13)
(2, 13)
(1, 16)
(0, 24)
(0, 20)
(0, 16)
(0, 13)
(0, 11)
(0, 10)
iteration 7
(8, 39)
(7, 35)
(6, 34)
(4, 37)
(3, 37)
(2, 37)
(1, 37)
(0, 37)
(0, 35)
(0, 34)
(0, 33)
(0, 32)
(0, 31)
iteration 8
(8, 21)
(6, 23)
(5, 18)
(4, 16)
(3, 16)
(2, 16)
(1, 16)
(1, 13)
(1, 11)
(0, 10)
iteration 9
(7, 29)
(6, 26)
(4, 35)
(3, 34)
(2, 34)
(1, 34)
(1, 31)
(1, 29)
(1, 28)
(0, 28)
(0, 27)

In [26]:
result_timetable

    room  time_slot
0      7         42
1      0          4
2      1          1
3      0          2
4      0         18
5      1          7
6      0         52
7      0         27
8      1         49
9      8         44
10     0         12
11     5         24

In [27]:
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2a, 4i2b]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2a, 4r, 4i2b]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4i2a, 4r]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2a, 4i2b]

In [28]:
lecturers

,name,preffered_timeslots,not_preffered_timeslots,preffered_locations
0,Kartelj,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]","{2, 1}"
1,Cukic,[],[],{}
2,Mitic,[],[],{}
3,Malkov,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]",{0}

In [29]:
calculate_fittnes(result_timetable, teaching_curriculum)

(0, 10)

In [445]:
start = datetime.now()
global_count = 0
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
tdsoftext = (end - start).total_seconds()

count 0
drugi count 1
count 1
drugi count 1
count 1
drugi count 2
(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [422]:
start = datetime.now()
global_count = 0
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
tdsoftext = (end - start).total_seconds()

(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [423]:
tdsoftext

48.075339

In [418]:
tdsoft

12.133904

In [410]:
tdrooms2

51.675677

In [397]:
tdgroups2

53.314199

In [386]:
tdgroups

72.694977

In [351]:
tdnewnew

85.288966

In [333]:
tdnew

91.944182

In [429]:
start = datetime.now()
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [108]:
td

157.818532

In [223]:
td

97.26642

In [436]:
calculate_fittnes(timetable_v2, teaching_curriculum)

count 0
drugi count 1
count 1
drugi count 1
count 1
drugi count 2

(0, 2)

In [437]:
timetable_v2

   room  time_slot
0     0         12
1     1          3
2     0          0
3     3         14
4     4          3
5     5         16
6     1          0
7     7         26
8     8         29
9     9         48
10   10         36
11   11         39

In [389]:
start = datetime.now()
timetable_v3 = init_timetable()
timetable_v3 = local_search_v3(timetable_v3, teaching_curriculum)
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

(49, 7)
(37, 17)
(28, 22)
(21, 25)
(17, 26)
(14, 20)
(12, 20)
(11, 18)
(10, 18)
(9, 18)
(9, 15)
(9, 13)
(9, 12)
(9, 11)

In [390]:
td

99.630944

In [119]:
start = datetime.now()
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable
end = datetime.now()
 
# find difference loop start and end time and display
td = (end - start).total_seconds()

init (62, 2)
iteration 0
(9, 34)
(7, 34)
(5, 40)
(4, 38)
(3, 38)
(2, 38)
(1, 38)
(0, 42)
(0, 37)
(0, 35)
(0, 33)
(0, 30)
(0, 29)
(0, 28)
(0, 27)
iteration 1
(10, 31)
(7, 37)
(6, 36)
(5, 35)
(4, 35)
(3, 35)
(2, 35)
(1, 35)
(0, 35)
(0, 31)
(0, 27)
(0, 25)
(0, 23)
(0, 22)
(0, 21)
iteration 2
(14, 21)
(11, 24)
(8, 32)
(6, 42)
(5, 37)
(4, 35)
(3, 34)
(2, 34)
(1, 34)
(0, 38)
(0, 31)
(0, 29)
(0, 27)
(0, 25)
(0, 24)
iteration 3
(6, 35)
(4, 34)
(2, 37)
(1, 39)
(1, 37)
(1, 35)
(1, 33)
(1, 32)
(1, 29)
(1, 26)
(1, 24)
(1, 22)
(0, 20)
(0, 19)
iteration 4
(3, 26)
(2, 24)
(1, 24)
(0, 26)
(0, 23)
(0, 21)
(0, 19)
(0, 17)
(0, 16)
(0, 14)
(0, 13)
(0, 12)
iteration 5
(6, 38)
(5, 35)
(4, 33)
(3, 32)
(2, 31)
(1, 31)
(0, 33)
(0, 31)
(0, 28)
(0, 26)
(0, 25)
(0, 24)
(0, 23)
(0, 22)
iteration 6
(6, 31)
(5, 31)
(4, 31)
(3, 31)
(2, 31)
(1, 31)
(0, 33)
(0, 29)
(0, 25)
(0, 24)
(0, 23)
iteration 7
(10, 21)
(7, 24)
(5, 24)
(4, 24)
(3, 24)
(2, 24)
(1, 24)
(0, 26)
(0, 23)
(0, 20)
(0, 18)
iteration 8
(10, 30)
(8, 32)
(7, 30)
(6, 30)
(5, 30)
(4, 30)
(3, 32)
(3, 26)
(3, 21)
(3, 18)
(2, 26)
(2, 22)
(2, 18)
(2, 16)
(2, 14)
(1, 18)
(1, 15)
(1, 13)
(1, 12)
iteration 9
(3, 29)
(2, 26)
(1, 26)
(0, 26)
(0, 23)
(0, 21)
(0, 19)
(0, 17)
(0, 16)
(0, 15)
(0, 14)

In [120]:
td

1946.039653

In [121]:
start = datetime.now()
k = 40
result_timetable2 = init_timetable()
print('init', calculate_fittnes(result_timetable2, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable2.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v3(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable2, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable2 = timetable
end = datetime.now()
 
# find difference loop start and end time and display
td2 = (end - start).total_seconds()

init (62, 2)
iteration 0
(4, 19)
(3, 19)
(2, 19)
(1, 21)
(0, 23)
(0, 21)
(0, 19)
(0, 18)
(0, 16)
(0, 15)
(0, 14)
iteration 1
(12, 29)
(10, 29)
(8, 30)
(7, 28)
(6, 27)
(5, 27)
(4, 27)
(3, 27)
(2, 27)
(1, 29)
(1, 27)
(1, 25)
(1, 24)
(1, 23)
(1, 22)
(1, 21)
iteration 2
(8, 34)
(6, 33)
(5, 32)
(4, 31)
(3, 31)
(2, 35)
(2, 29)
(2, 27)
(2, 26)
iteration 3
(4, 26)
(3, 24)
(2, 24)
(1, 24)
(0, 26)
(0, 24)
(0, 22)
(0, 20)
(0, 18)
(0, 17)
(0, 16)
(0, 15)
iteration 4
(3, 28)
(1, 37)
(0, 39)
(0, 37)
(0, 35)
(0, 33)
(0, 31)
(0, 29)
(0, 28)
(0, 27)
(0, 25)
(0, 20)
iteration 5
(7, 25)
(5, 27)
(4, 27)
(3, 27)
(2, 27)
(2, 25)
(2, 23)
(2, 21)
(2, 19)
(2, 17)
(2, 15)
(1, 18)
iteration 6
(8, 35)
(6, 44)
(5, 42)
(4, 40)
(3, 39)
(2, 38)
(1, 38)
(0, 38)
(0, 35)
(0, 32)
(0, 30)
(0, 28)
(0, 27)
(0, 26)
(0, 24)
iteration 7
(7, 34)
(6, 30)
(5, 28)
(4, 27)
(3, 27)
(2, 27)
(1, 29)
(0, 36)
(0, 33)
(0, 30)
(0, 28)
iteration 8
(5, 37)
(4, 35)
(3, 35)
(2, 35)
(1, 37)
(0, 41)
(0, 38)
(0, 36)
(0, 34)
(0, 32)
(0, 30)
(0, 28)
(0, 27)
(0, 26)
(0, 25)
(0, 24)
(0, 23)
iteration 9
(7, 26)
(5, 29)
(4, 27)
(3, 27)
(2, 27)
(1, 28)
(1, 23)
(1, 21)
(1, 19)
(1, 17)
(1, 15)
(1, 14)
(1, 13)

In [122]:
td2

1236.490169

In [126]:
pip install py-heat-magic

Collecting py-heat-magic
  Downloading py-heat-magic-0.0.2.tar.gz (3.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (1.24.1)
Collecting scipy
  Downloading scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
     --------------------------------------- 42.2/42.2 MB 10.4 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.6.3-cp311-cp311-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (8.7.0)
Collecting jupyter
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: pandas in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from py-heat-magic) (1.5.2)
Collecting sympy
  Downloading sympy-1.11.1-py3-none-any.whl (6.5 MB)
     ---------------------------------------- 6.5/6.5 MB 10.9 MB/s eta 0:00:00
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     -------------------------------------- 154.7/154.7 kB 9.6 MB/s eta 0:00:00
Collecting py-heat
  Downloading py-heat-0.0.6.tar.gz (7.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: backcall in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.2.0)
Requirement already satisfied: decorator in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (2.13.0)
Requirement already satisfied: stack-data in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (5.8.0)
Requirement already satisfied: colorama in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipython->py-heat-magic) (0.4.6)
Requirement already satisfied: notebook in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (6.5.2)
Collecting qtconsole
  Downloading qtconsole-5.4.0-py3-none-any.whl (121 kB)
     -------------------------------------- 121.0/121.0 kB 6.9 MB/s eta 0:00:00
Collecting jupyter-console
  Downloading jupyter_console-6.4.4-py3-none-any.whl (22 kB)
Requirement already satisfied: nbconvert in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (7.2.7)
Requirement already satisfied: ipykernel in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter->py-heat-magic) (6.19.4)
Collecting ipywidgets
  Downloading ipywidgets-8.0.4-py3-none-any.whl (137 kB)
     -------------------------------------- 137.8/137.8 kB 8.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp311-cp311-win_amd64.whl (163 kB)
     -------------------------------------- 163.6/163.6 kB 9.6 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     -------------------------------------- 965.4/965.4 kB 8.7 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->py-heat-magic) (22.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-cp311-cp311-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 9.9 MB/s eta 0:00:00
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->py-heat-magic) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from pandas->py-heat-magic) (2022.7)
Collecting pprofile
  Downloading pprofile-2.1.0.tar.gz (56 kB)
     ---------------------------------------- 56.7/56.7 kB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting mpmath>=0.19
  Downloading mpmath-1.2.1-py3-none-any.whl (532 kB)
     -------------------------------------- 532.6/532.6 kB 8.4 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->py-heat-magic) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython->py-heat-magic) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->py-heat-magic) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (1.6.4)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (7.4.8)
Requirement already satisfied: nest-asyncio in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (1.5.6)
Requirement already satisfied: psutil in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (5.9.4)
Requirement already satisfied: pyzmq>=17 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (24.0.1)
Requirement already satisfied: tornado>=6.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter->py-heat-magic) (6.2)
Collecting widgetsnbextension~=4.0
  Downloading widgetsnbextension-4.0.5-py3-none-any.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 10.0 MB/s eta 0:00:00
Collecting jupyterlab-widgets~=3.0
  Downloading jupyterlab_widgets-3.0.5-py3-none-any.whl (384 kB)
     -------------------------------------- 384.3/384.3 kB 8.1 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (4.11.1)
Requirement already satisfied: bleach in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.0.1)
Requirement already satisfied: defusedxml in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.1.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (2.1.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (0.7.2)
Requirement already satisfied: nbformat>=5.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (5.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbconvert->jupyter->py-heat-magic) (1.2.1)
Requirement already satisfied: argon2-cffi in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (21.3.0)
Requirement already satisfied: ipython-genutils in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.2.0)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.17.1)
Requirement already satisfied: prometheus-client in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.15.0)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter->py-heat-magic) (0.4.8)
Collecting qtpy>=2.0.1
  Downloading QtPy-2.3.0-py3-none-any.whl (83 kB)
     ---------------------------------------- 83.6/83.6 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: executing>=1.2.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->py-heat-magic) (0.2.2)
Requirement already satisfied: entrypoints in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter->py-heat-magic) (0.4)
Requirement already satisfied: platformdirs>=2.5 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert->jupyter->py-heat-magic) (2.6.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert->jupyter->py-heat-magic) (305)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (2.0.6)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.2.2)
Requirement already satisfied: fastjsonschema in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (4.17.3)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from terminado>=0.8.3->notebook->jupyter->py-heat-magic) (2.0.9)
Requirement already satisfied: argon2-cffi-bindings in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi->notebook->jupyter->py-heat-magic) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->nbconvert->jupyter->py-heat-magic) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from bleach->nbconvert->jupyter->py-heat-magic) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.19.3)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (3.6.2)
Requirement already satisfied: jupyter-events>=0.4.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.5.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (0.4.3)
Requirement already satisfied: websocket-client in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (1.4.2)
Requirement already satisfied: cffi>=1.0.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->py-heat-magic) (1.15.1)
Requirement already satisfied: idna>=2.8 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (1.3.0)
Requirement already satisfied: pycparser in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->py-heat-magic) (2.21)
Requirement already satisfied: python-json-logger in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.4.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (2.0.4)
Requirement already satisfied: pyyaml in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.4.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->py-heat-magic) (6.0)
Requirement already satisfied: fqdn in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.5.1)
Requirement already satisfied: isoduration in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (2.3)
Requirement already satisfied: rfc3339-validator in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.1.4)
Requirement already satisfied: rfc3986-validator>0.1.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (0.1.1)
Requirement already satisfied: uri-template in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.2.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.12)
Requirement already satisfied: arrow>=0.15.0 in c:\users\petar\appdata\local\programs\python\python311\lib\site-packages (from isoduration->jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->py-heat-magic) (1.2.3)
Installing collected packages: pprofile, nose, mpmath, widgetsnbextension, sympy, scipy, qtpy, pyparsing, pillow, kiwisolver, jupyterlab-widgets, fonttools, cycler, contourpy, matplotlib, py-heat, qtconsole, jupyter-console, ipywidgets, jupyter, py-heat-magic
  Running setup.py install for pprofile: started
  Running setup.py install for pprofile: finished with status 'done'
  Running setup.py install for py-heat: started
  Running setup.py install for py-heat: finished with status 'done'
  Running setup.py install for py-heat-magic: started
  Running setup.py install for py-heat-magic: finished with status 'done'
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 ipywidgets-8.0.4 jupyter-1.0.0 jupyter-console-6.4.4 jupyterlab-widgets-3.0.5 kiwisolver-1.4.4 matplotlib-3.6.3 mpmath-1.2.1 nose-1.3.7 pillow-9.4.0 pprofile-2.1.0 py-heat-0.0.6 py-heat-magic-0.0.2 pyparsing-3.0.9 qtconsole-5.4.0 qtpy-2.3.0 scipy-1.10.0 sympy-1.11.1 widgetsnbextension-4.0.5
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: pprofile is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  DEPRECATION: py-heat is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  DEPRECATION: py-heat-magic is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

In [127]:
%load_ext heat

In [130]:
%%heat
timetable_v2 = init_timetable()
timetable_v2 = local_search_v2(timetable_v2, teaching_curriculum)

NameError: name 'init_timetable' is not defined

In [131]:
pip install line_profiler

Collecting line_profiler
  Downloading line_profiler-4.0.2-cp311-cp311-win_amd64.whl (84 kB)
     ---------------------------------------- 84.7/84.7 kB 2.4 MB/s eta 0:00:00
Installing collected packages: line_profiler
Successfully installed line_profiler-4.0.2
Note: you may need to restart the kernel to use updated packages.

In [132]:
%load_ext line_profiler

In [425]:
timetable_v2 = init_timetable()

In [426]:
%lprun -f local_search_v2 local_search_v2(timetable_v2, teaching_curriculum)

(49, 2)
(37, 2)
(28, 2)
(20, 4)
(15, 4)
(11, 4)
(7, 5)
(4, 5)
(3, 5)
(2, 5)
(1, 5)
(0, 6)
(0, 4)
(0, 3)
(0, 2)

In [171]:
def test():
    print(teaching_curriculum.iloc[5]['groups'])
    print(teaching_curriculum.iat[5,2])

In [172]:
test()

{'1'}
{'1'}

In [173]:
%lprun -f test test()

{'1'}
{'1'}

In [273]:
def create_helper_matrixes(timetable, teaching_curriculum):
    lecturer_matrix_helper = np.empty((lecturers.shape[0], len(time_slots)), dtype=object)
    for i in range(lecturer_matrix_helper.shape[0]):
        for j in range(lecturer_matrix_helper.shape[1]):
            lecturer_matrix_helper[i,j] = set()
    groups_matrix_helper = np.empty((groups.shape[0], len(time_slots)), dtype=object)
    for i in range(groups_matrix_helper.shape[0]):
        for j in range(groups_matrix_helper.shape[1]):
            groups_matrix_helper[i,j] = set()
    rooms_matrix_helper = np.empty((rooms.shape[0], len(time_slots)), dtype=object)
    for i in range(rooms_matrix_helper.shape[0]):
        for j in range(rooms_matrix_helper.shape[1]):
            rooms_matrix_helper[i,j] = set()
    for i in range(timetable.shape[0]):
        timeslot = timetable.iat[i,1]
        num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
        for j in range(timeslot, timeslot + num_of_classes):
            lecturer_matrix_helper[int(teaching_curriculum.iat[i,0]),j].add(str(i))
            for group in teaching_curriculum.iat[i,2]:
                groups_matrix_helper[int(group),j].add(str(i))
            rooms_matrix_helper[int(timetable.iat[i,0]),j].add(str(i))
    return (lecturer_matrix_helper, groups_matrix_helper, rooms_matrix_helper)

In [321]:
def check_lecturer_constraint_delta(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if old_timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [391]:
def check_lecturer_constraint_delta_room(timetable, teaching_curriculum, lecturer_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr_room(timetable, teaching_curriculum, lecturer_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [376]:
def check_groups_constraint_delta(timetable, teaching_curriculum, groups_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for group_index in groups_indexes:
        for j in range(old_timeslot, old_timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if old_timeslot % 12 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), old_timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 12 < 11:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), old_timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_groups_constraint_delta_curr(timetable, teaching_curriculum, groups_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [392]:
def check_groups_constraint_delta_room(timetable, teaching_curriculum, groups_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_groups_constraint_delta_curr_room(timetable, teaching_curriculum, groups_matrix_helper, i, room):
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    new_room_location = rooms.iat[int(room),1]
    if new_room_location == room_location:
        return 0
    previous_constraint_count = 0
    timeslot = timetable.iat[i,1]
    groups_indexes = teaching_curriculum.iat[i,3]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for group_index in groups_indexes:
        for j in range(timeslot, timeslot + num_of_classes):
            for el in groups_matrix_helper[int(group_index), j]:
                if el != str(i):
                    set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot-1]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                    set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for group_index in groups_indexes:
            for el in groups_matrix_helper[int(group_index), timeslot + num_of_classes]:
                if rooms.iat[int(timetable.iat[int(el),0]),1] != new_room_location:
                    set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [401]:
def check_room_constraint_delta(timetable, teaching_curriculum, room_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

def check_room_constraint_delta_curr(timetable, teaching_curriculum, room_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(timeslot, timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

In [408]:
def check_room_constraint_delta_room(timetable, teaching_curriculum, room_matrix_helper, i, room):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    room_index = int(timetable.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[room_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

def check_room_constraint_delta_curr_room(timetable, teaching_curriculum, room_matrix_helper, i, room):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in room_matrix_helper[int(room), j]:
            if el != str(i):
                set_of_intersections.add(el)
    previous_constraint_count = len(set_of_intersections)
    return previous_constraint_count

In [ ]:
def check_lecturer_constraint_delta(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(old_timeslot, old_timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if old_timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    if (old_timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, old_timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location:
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

def check_lecturer_constraint_delta_curr(timetable, teaching_curriculum, lecturer_matrix_helper, i, timeslot):
    previous_constraint_count = 0
    old_timeslot = timetable.iat[i,1]
    lecturer_index = int(teaching_curriculum.iat[i,0])
    num_of_classes = classes.iat[int(teaching_curriculum.iat[i,1]),2]
    set_of_intersections = set()
    set_of_location_intersections = set()
    room_location = rooms.iat[int(timetable.iat[i,0]),1]
    for j in range(timeslot, timeslot + num_of_classes):
        for el in lecturer_matrix_helper[lecturer_index, j]:
            if el != str(i):
                set_of_intersections.add(el)
    if timeslot % 12 > 0:
        for el in lecturer_matrix_helper[lecturer_index, timeslot-1]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    if (timeslot + num_of_classes - 1) % 12 < 11:
        for el in lecturer_matrix_helper[lecturer_index, timeslot + num_of_classes]:
            if rooms.iat[int(timetable.iat[int(el),0]),1] != room_location and el != str(i):
                set_of_location_intersections.add(el)
    previous_constraint_count = len(set_of_intersections) + len(set_of_location_intersections.difference(set_of_intersections))
    return previous_constraint_count

In [379]:
helper_matrixes = create_helper_matrixes(timetable, teaching_curriculum)

In [383]:
check_groups_constraint_delta_curr(timetable, teaching_curriculum, helper_matrixes[1], 1, 36)

0

In [364]:
global_count

0

In [327]:
start = datetime.now()
check_lecturer_constraint_delta(timetable, teaching_curriculum, helper_matrixes[0], 8, 26)
end = datetime.now()
 
# find difference loop start and end time and display
td1 = (end - start).total_seconds()

In [328]:
start = datetime.now()
lecturer_constraint_delta(timetable, teaching_curriculum, 8)
end = datetime.now()
 
# find difference loop start and end time and display
td2 = (end - start).total_seconds()

In [329]:
td1

0.001133

In [330]:
td2

0.002382

In [312]:
timetable

   room  time_slot
0     0         39
1     0         36
2    10         30
3     0         41
4     5          6
5     0         19
6     0          3
7     1         16
8     0         16
9    13         28
10   11         30
11    0         13

In [269]:
mat = np.empty((lecturers.shape[0], len(time_slots)), dtype=object)
for i in range(mat.shape[0]):
    for j in range(mat.shape[1]):
        mat[i,j] = set()
mat[0,0].add('a')
mat

array([[{'a'}, set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()],
       [set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set(), set(), set(), set(),
        set(), set(), set(), set(), set(), set()]], dtype=object)

In [262]:
np.full((5,5), {'a'})

array([[{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}],
       [{'a'}, {'a'}, {'a'}, {'a'}, {'a'}]], dtype=object)