In [379]:
import json
import copy
import random
import numpy as np
import pandas as pd
import math

In [416]:
time_slots = range(0, 60)
k = 5

In [8]:
lecturers = pd.DataFrame(np.array([['Kartelj'], ['Cukic'], ['Mitic'], ['Malkov']]),
                   columns=['name'])
lecturers

      name
0  Kartelj
1    Cukic
2    Mitic
3   Malkov

In [37]:
classes = pd.DataFrame(np.array([['Racunarske mreze', None, 2], ['Racunarske mreze - vezbe', 'racunari', 3], 
                                 ['Racunarska inteligencija', None, 2], ['Racunarska inteligencija - vezbe', 'racunari', 3], 
                                 ['Funkcionalno programiranje', None, 2], ['Funkcionalno programiranje - vezbe', 'racunari', 3],
                                 ['Programiranje za veb', None, 2], ['Programiranje za veb - vezbe', 'racunari', 3],
                                 ['Istrazivanje podataka 2', None, 2], ['Istrazivanje podataka 2 - vezbe', 'racunari', 3],
                                 ['Razvoj sofvtvera', None, 2], ['Razvoj softvera - vezbe', 'racunari', 3],
                                 ['Projektovanje baza podataka', None, 2], ['Projektovanje baza podataka - vezbe', 'racunari', 3],
                                ]), columns=['name', 'equipment', 'number_of_classes'])
classes

                                   name equipment number_of_classes
0                      Racunarske mreze      None                 2
1              Racunarske mreze - vezbe  racunari                 3
2              Racunarska inteligencija      None                 2
3      Racunarska inteligencija - vezbe  racunari                 3
4            Funkcionalno programiranje      None                 2
5    Funkcionalno programiranje - vezbe  racunari                 3
6                  Programiranje za veb      None                 2
7          Programiranje za veb - vezbe  racunari                 3
8               Istrazivanje podataka 2      None                 2
9       Istrazivanje podataka 2 - vezbe  racunari                 3
10                     Razvoj sofvtvera      None                 2
11              Razvoj softvera - vezbe  racunari                 3
12          Projektovanje baza podataka      None                 2
13  Projektovanje baza podataka - vezbe  racunari                 3

In [133]:
groups = pd.DataFrame(np.array([['4i', None], ['4i1a', '4i'], ['4i1b', '4i'], ['4i2a', '4i'], ['4i2b', '4i'],
                                ['4r', None], ['r4gr1', '4r'], ['r4gr2', '4r'], ['r4gr3', '4r']
                               ]), columns=['name', 'parent'])
groups

    name parent
0     4i   None
1   4i1a     4i
2   4i1b     4i
3   4i2a     4i
4   4i2b     4i
5     4r   None
6  r4gr1     4r
7  r4gr2     4r
8  r4gr3     4r

In [17]:
locations = pd.DataFrame(np.array([['Studentski trg'], ['Sv. Nikole'], ['Jagic']]), columns=['name'])
locations

             name
0  Studentski trg
1      Sv. Nikole
2           Jagic

In [556]:
location_distances = pd.DataFrame(np.array([['0', '1', 1], ['0', '2', 1], ['1', '2', 1]]), columns=['first', 'second', 'hours'])
location_distances

  first second hours
0     0      1     1
1     0      2     1
2     1      2     1

In [477]:
rooms = pd.DataFrame(np.array([['704', '0', 'racunari'], ['718', '0', 'racunari'], ['706', '0', None], ['821', '0', None],
                               ['BIM', '0', 'racunari'], ['RLAB', '0', 'racunari'], ['830', '0', None], ['N201', '1', 'racunari'],
                               ['N202', '1', 'racunari'], ['N253', '1', None], ['Jag1', '2', 'racunari'],
                               ['Jag2', '2', 'racunari'], ['Jag3', '2', None], ['Jag4', '2', None]
                              ]), columns=['name', 'location', 'equipment'])
rooms

    name location equipment
0    704        0  racunari
1    718        0  racunari
2    706        0      None
3    821        0      None
4    BIM        0  racunari
5   RLAB        0  racunari
6    830        0      None
7   N201        1  racunari
8   N202        1  racunari
9   N253        1      None
10  Jag1        2  racunari
11  Jag2        2  racunari
12  Jag3        2      None
13  Jag4        2      None

In [97]:
teaching_curriculum = pd.DataFrame(np.array([['0', '0', {'0'}], ['0', '1', {'1', '2'}], ['0', '1', {'3', '4'}], ['3', '10', {'1', '2'}],
                                             ['3', '10', {'3', '4', '5'}], ['3', '11', {'1'}], ['3', '11', {'2'}], ['3', '11', {'3', '5'}],
                                             ['3', '11', {'4'}], ['2', '8', {'0'}], ['2', '9', {'1', '2'}], ['2', '9', {'3', '4'}]                                               
                                            ]), columns=['lecturer', 'class', 'groups'])
teaching_curriculum

   lecturer class     groups
0         0     0        {0}
1         0     1     {2, 1}
2         0     1     {4, 3}
3         3    10     {2, 1}
4         3    10  {4, 3, 5}
5         3    11        {1}
6         3    11        {2}
7         3    11     {5, 3}
8         3    11        {4}
9         2     8        {0}
10        2     9     {2, 1}
11        2     9     {4, 3}

In [415]:
teaching_curriculum_copy = teaching_curriculum.copy()
teaching_curriculum_copy['lecturer'] = lecturers.iloc[teaching_curriculum_copy['lecturer'].tolist()].name.tolist()
teaching_curriculum_copy['class'] = classes.iloc[teaching_curriculum_copy['class'].tolist()].name.tolist()
teaching_curriculum_copy['groups'] = list(map(lambda gs: list(map(lambda g: groups.iloc[int(g)]['name'], gs)), teaching_curriculum_copy['groups'].tolist()))
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2b, 4i2a]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2b, 4i2a, 4r]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4r, 4i2a]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2b, 4i2a]

In [158]:
time_slots = range(0, 60)

In [403]:
def init_timetable():
    init = []
    for i in range(teaching_curriculum.shape[0]):
        init.append([rooms.iloc[i % len(rooms)].name, time_slots[i // len(rooms)]])
    timetable = pd.DataFrame(np.array(init), columns = ['room', 'time_slot'])
    return timetable

In [671]:
def are_classes_intersected(timetable,teaching_curriculum, i, j):
    first = timetable.iloc[i]['time_slot'] + classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['number_of_classes'] <= timetable.iloc[j].time_slot
    second = timetable.iloc[j]['time_slot'] + classes.iloc[int(teaching_curriculum.iloc[j]['class'])]['number_of_classes'] <= timetable.iloc[i].time_slot
    return not (first or second)

In [612]:
def are_locations_intersected(timetable,teaching_curriculum, i, j):
    i_location = rooms.iloc[timetable.iloc[i]['room']]['location']
    j_location = rooms.iloc[timetable.iloc[j]['room']]['location']
    if (i_location == j_location) or ((timetable.iloc[i]['time_slot'] // 12) != (timetable.iloc[j]['time_slot'] // 12)):
        return False
    first_location = min(int(i_location), int(j_location))
    second_location = max(int(i_location), int(j_location))
    distance_in_hours = int(location_distances[(location_distances['first'] == str(first_location)) & (location_distances['second'] == str(second_location))].iloc[0]['hours'])
    first = abs(timetable.iloc[i]['time_slot'] + classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['number_of_classes'] - timetable.iloc[j].time_slot) >= distance_in_hours 
    second = abs(timetable.iloc[j]['time_slot'] + classes.iloc[int(teaching_curriculum.iloc[j]['class'])]['number_of_classes'] - timetable.iloc[i].time_slot) >= distance_in_hours
    return not (first and second)

In [610]:
newTimetable = init_timetable()
newTimetable.iloc[0]['time_slot'] = 2
newTimetable.iloc[11]['time_slot'] = 2
newTimetable

    room  time_slot
0      0          2
1      1          0
2      2          0
3      3          0
4      4          0
5      5          0
6      6          0
7      7          0
8      8          0
9      9          0
10    10          0
11    11          2

In [611]:
are_locations_intersected(newTimetable,teaching_curriculum, 0, 11)

True True
2

False

In [451]:
def are_groups_intersected(teaching_curriculum, i, j):
    set1 = teaching_curriculum.iloc[i]['groups']
    set2 = teaching_curriculum.iloc[j]['groups']
    for el1 in set1:
        for el2 in set2:
            if el1 == el2 or groups.iloc[int(el1)]['name'] == groups.iloc[int(el2)]['parent'] or groups.iloc[int(el2)]['name'] == groups.iloc[int(el1)]['parent']:
                return True
    return False

In [273]:
are_groups_intersected(teaching_curriculum, 0, 4)

True

In [679]:
def lecturer_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if teaching_curriculum.iloc[i]['lecturer'] == teaching_curriculum.iloc[j]['lecturer'] and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [615]:
lecturer_constraint(timetable,teaching_curriculum)

1

In [694]:
def group_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [617]:
group_constraint(timetable, teaching_curriculum)

1

In [681]:
def room_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        for j in range(i+1, teaching_curriculum.shape[0]):
            if timetable.iloc[i]['room'] == timetable.iloc[j]['room'] and are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

In [401]:
room_constraint(timetable, teaching_curriculum)

0

In [682]:
def equipment_constraint(timetable, teaching_curriculum):
    count = 0
    for i in range(teaching_curriculum.shape[0]):
        if classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['equipment'] is not None and classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['equipment'] != rooms.iloc[int(timetable.iloc[i]['room'])]['equipment']:
            count += 1
    return count

In [633]:
newTimetable = init_timetable()
newTimetable

    room  time_slot
0      0          0
1      1          0
2      2          0
3      3          0
4      4          0
5      5          0
6      6          0
7      7          0
8      8          0
9      9          0
10    10          0
11    11          0

In [634]:
equipment_constraint(newTimetable, teaching_curriculum)

2
6

2

In [850]:
def calculate_fittnes(timetable, teaching_curriculum):
    first = lecturer_constraint(timetable, teaching_curriculum) + group_constraint(timetable, teaching_curriculum) + room_constraint(timetable, teaching_curriculum) + equipment_constraint(timetable, teaching_curriculum)
    second = lecturer_soft_constraint(timetable, teaching_curriculum)+ groups_soft_constraint(timetable, teaching_curriculum)
    return (first, second)

In [293]:
calculate_fittnes(timetable, teaching_curriculum)

52

In [411]:
def local_search(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iloc[i]['time_slot'] // 12), 12 * (timetable.iloc[i]['time_slot'] // 12 + 1) - classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['number_of_classes'] + 1)
            for timeslot in timeslot_range:
                current_timetable = timetable.copy()
                current_timetable.iloc[i]['time_slot'] = timeslot
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iloc[i]['room'] = rooms.iloc[j].name
                current_fittness = calculate_fittnes(current_timetable, teaching_curriculum)
                if current_fittness < best_fitness:
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness < calculate_fittnes(timetable, teaching_curriculum):
            print(best_fitness)
            timetable = best_timetable.copy()
        else:
            break
    return timetable

In [685]:
def shaking(timetable, teaching_curriculum):
    time_table_shaking = timetable.copy()
    for j in range(k):
        random_timetable_index = random.choice(range(timetable.shape[0]))
        random_room_index = random.choice(range(rooms.shape[0]))
        random_timeslot = random.choice(time_slots)
        while(random_timeslot % 12 + classes.iloc[int(teaching_curriculum.iloc[random_timetable_index]['class'])]['number_of_classes'] > 11):
            random_timeslot = random.choice(time_slots)
        time_table_shaking.iloc[random_timetable_index] = np.array([[random_room_index, random_timeslot]])
    return time_table_shaking

In [413]:
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(30):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search(timetable, teaching_curriculum)
    if calculate_fittnes(timetable, teaching_curriculum) < calculate_fittnes(result_timetable, teaching_curriculum):
        result_timetable = timetable

init 57
iteration 0
3
2
1
0
iteration 1
5
3
2
1
iteration 2
iteration 3
5
3
2
iteration 4
3
2
1
0
iteration 5
2
1

KeyboardInterrupt:

In [414]:
result_timetable

    room  time_slot
0      0          0
1      4         28
2      4         12
3      0         12
4      0         53
5      4         44
6      4         20
7      2         36
8      5         16
9      4          4
10     5         24
11     0         20

In [618]:
def lecturer_constraint_delta(timetable, teaching_curriculum, i):
    lecturer = teaching_curriculum.iloc[i]['lecturer']
    teaching_curriculum_with_lecturer = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer]
    count = 0
    for j in teaching_curriculum_with_lecturer.index:
        if i != j:
            if (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [619]:
def group_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    for j in range(teaching_curriculum.shape[0]):
        if i != j:
            if are_groups_intersected(teaching_curriculum, i, j) and (are_classes_intersected(timetable, teaching_curriculum, i, j) or are_locations_intersected(timetable, teaching_curriculum, i, j)):
                count += 1
    return count

In [463]:
def room_constraint_delta(timetable, teaching_curriculum, i):
    room = timetable.iloc[i]['room']
    timetable_with_room = timetable[timetable['room'] == room]
    count = 0
    for j in timetable_with_room.index:
        if i != j:
            if are_classes_intersected(timetable, teaching_curriculum, i, j):
                count += 1
    return count

In [638]:
def equipment_constraint_delta(timetable, teaching_curriculum, i):
    count = 0
    if classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['equipment'] is not None and classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['equipment'] != rooms.iloc[int(timetable.iloc[i]['room'])]['equipment']:
        count += 1
    return count

In [855]:
def calculate_fitness_delta(timetable, teaching_curriculum, i):
    first = lecturer_constraint_delta(timetable, teaching_curriculum, i) + group_constraint_delta(timetable, teaching_curriculum, i) + room_constraint_delta(timetable, teaching_curriculum, i) + equipment_constraint_delta(timetable, teaching_curriculum, i)
    second = lecturer_soft_constraint_delta(timetable, teaching_curriculum, i) + groups_soft_constraint_delta(timetable, teaching_curriculum, i)
    return (first, second)

In [910]:
def local_search_v2(timetable, teaching_curriculum):
    best_timetable = timetable.copy()
    best_fitness = calculate_fittnes(timetable, teaching_curriculum)
    fitness = best_fitness
    while(True):
        for i in range(timetable.shape[0]):
            timeslot_range = range(12 * (timetable.iloc[i]['time_slot'] // 12), 12 * (timetable.iloc[i]['time_slot'] // 12 + 1) - classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['number_of_classes'] + 1)
            for timeslot in timeslot_range:
                current_timetable = timetable.copy()
                current_timetable.iloc[i]['time_slot'] = timeslot
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
            for j in range(rooms.shape[0]):
                current_timetable = timetable.copy()
                current_timetable.iloc[i]['room'] = rooms.iloc[j].name
                fitness_delta = calculate_fitness_delta(timetable, teaching_curriculum, i)
                current_fitness_delta = calculate_fitness_delta(current_timetable, teaching_curriculum, i)
                current_fittness = (fitness[0] - fitness_delta[0] + current_fitness_delta[0], fitness[1] - fitness_delta[1] + current_fitness_delta[1])
                if current_fittness[0] < best_fitness[0] or (current_fittness[0] == best_fitness[0] and current_fittness[1] < best_fitness[1]):
                    best_timetable = current_timetable.copy()
                    best_fitness = current_fittness
        if best_fitness[0] < fitness[0] or (best_fitness[0] == fitness[0] and best_fitness[1] < fitness[1]):
            print(best_fitness)
            timetable = best_timetable.copy()
            fitness = best_fitness
        else:
            break
    return timetable

In [465]:
calculate_fitness_delta(newTimetable, teaching_curriculum, 6)

10

In [457]:
room_constraint_delta(newTimetable, teaching_curriculum, 6)

0

In [429]:
lecturer_constraint_delta(timetable, teaching_curriculum, 3)

In [430]:
timetable

    room  time_slot
0      6         15
1      5         38
2      4          8
3      3         44
4      4         12
5      1         52
6      2         48
7      5          8
8      0         15
9      4         39
10     3          5
11     4         12

In [431]:
newTimetable = init_timetable()

In [432]:
newTimetable

    room  time_slot
0      0          0
1      1          0
2      2          0
3      3          0
4      4          0
5      5          0
6      6          0
7      0          1
8      1          1
9      2          1
10     3          1
11     4          1

In [443]:
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2b, 4i2a]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2b, 4i2a, 4r]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4r, 4i2a]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2b, 4i2a]

In [467]:
newTimetable = init_timetable()

In [472]:
newTimetableResult1 = local_search(newTimetable, teaching_curriculum) 1:36:44

51
38
29
21
17
15
14
13
12

In [473]:
newTimetableResult2 = local_search_v2(newTimetable, teaching_curriculum) 29:89

51
38
29
21
17
15
14
13
12

In [470]:
newTimetableResult1

    room  time_slot
0      0          5
1      3          8
2      2          0
3      3          5
4      4          5
5      5          0
6      6          0
7      0          8
8      1          8
9      2          8
10     3          1
11     4          1

In [471]:
newTimetableResult2

    room  time_slot
0      0          5
1      3          8
2      2          0
3      3          5
4      4          5
5      5          0
6      6          0
7      0          8
8      1          8
9      2          8
10     3          1
11     4          1

In [911]:
k = 40
result_timetable = init_timetable()
print('init', calculate_fittnes(result_timetable, teaching_curriculum))
for i in range(10):
    print('iteration', i)
    timetable = result_timetable.copy()
    timetable = shaking(timetable, teaching_curriculum)
    timetable = local_search_v2(timetable, teaching_curriculum)
    current_fitness = calculate_fittnes(timetable, teaching_curriculum)
    current_best_fitness = calculate_fittnes(result_timetable, teaching_curriculum)
    if current_fitness[0] < current_best_fitness[0] or (current_fitness[0] == current_best_fitness[0] and current_fitness[1] < current_best_fitness[1]):
        result_timetable = timetable

init (62, 0)
iteration 0
(5, 13)
(4, 9)
(3, 8)
(2, 7)
(1, 7)
(0, 7)
(0, 5)
(0, 4)
(0, 3)
(0, 2)
iteration 1
(5, 13)
(4, 13)
(3, 13)
(2, 15)
(1, 17)
(1, 15)
(1, 13)
(1, 11)
(1, 10)
(1, 8)
(1, 7)
(1, 6)
(0, 6)
iteration 2
(6, 11)
(5, 11)
(4, 11)
(3, 11)
(2, 11)
(1, 12)
(0, 15)
(0, 12)
(0, 10)
(0, 8)
(0, 6)
(0, 5)
(0, 4)
(0, 2)
iteration 3
(7, 4)
(5, 2)
(4, 2)
(3, 2)
(2, 2)
(1, 2)
iteration 4
(11, 14)
(8, 14)
(7, 11)
(6, 9)
(5, 9)
(4, 9)
(3, 9)
(2, 9)
(1, 10)
(1, 8)
(1, 6)
(1, 4)
(1, 3)
iteration 5
(8, 7)
(7, 7)
(6, 7)
(5, 7)
(4, 7)
(3, 7)
(2, 7)
(1, 9)
(1, 7)
(1, 5)
(1, 4)
(1, 3)
iteration 6
(12, 8)
(9, 8)
(6, 11)
(5, 10)
(4, 10)
(3, 10)
(2, 13)
(1, 17)
(1, 12)
(1, 10)
(1, 8)
(1, 7)
(1, 3)
(0, 8)
iteration 7
(8, 8)
(6, 12)
(4, 16)
(3, 14)
(2, 14)
(1, 16)
(0, 20)
(0, 17)
(0, 14)
(0, 12)
(0, 10)
(0, 8)
(0, 6)
(0, 5)
(0, 4)
(0, 3)
(0, 2)
(0, 1)
(0, 0)
iteration 8
(6, 7)
(5, 6)
(4, 6)
(3, 6)
(2, 6)
(1, 6)
(0, 8)
(0, 6)
(0, 5)
(0, 4)
iteration 9
(11, 6)
(7, 8)
(5, 10)
(4, 8)
(3, 6)
(2, 8)
(2, 7)
(2, 6)
(2, 5)
(2, 4)
(2, 3)

In [882]:
result_timetable.iloc[6]['time_slot'] = 15

In [912]:
result_timetable

    room  time_slot
0      0         42
1      4         39
2      7         54
3      7         12
4      0          4
5      4          1
6      7         14
7      7         51
8      7         28
9      7         57
10     0         44
11     8         31

In [646]:
teaching_curriculum_copy

   lecturer                            class            groups
0   Kartelj                 Racunarske mreze              [4i]
1   Kartelj         Racunarske mreze - vezbe      [4i1b, 4i1a]
2   Kartelj         Racunarske mreze - vezbe      [4i2b, 4i2a]
3    Malkov                 Razvoj sofvtvera      [4i1b, 4i1a]
4    Malkov                 Razvoj sofvtvera  [4i2b, 4i2a, 4r]
5    Malkov          Razvoj softvera - vezbe            [4i1a]
6    Malkov          Razvoj softvera - vezbe            [4i1b]
7    Malkov          Razvoj softvera - vezbe        [4r, 4i2a]
8    Malkov          Razvoj softvera - vezbe            [4i2b]
9     Mitic          Istrazivanje podataka 2              [4i]
10    Mitic  Istrazivanje podataka 2 - vezbe      [4i1b, 4i1a]
11    Mitic  Istrazivanje podataka 2 - vezbe      [4i2b, 4i2a]

In [881]:
calculate_fittnes(result_timetable, teaching_curriculum)

(0, 0)

In [656]:
timeslot_range = range(12 * (timetable.iloc[0]['time_slot'] // 12), 12 * (timetable.iloc[0]['time_slot'] // 12 + 1) - classes.iloc[int(teaching_curriculum.iloc[0]['class'])]['number_of_classes'] + 1)

In [657]:
timeslot_range

range(24, 35)

In [908]:
neew = local_search_v2(result_timetable, teaching_curriculum)

range(12, 22)
(0, 0) (0, 0)
(0, 1) (0, 0)
(0, 1)
(0, 0)
range(12, 22)
(0, 0) (0, 0)
(0, 0) (0, 0)
(0, 0)

In [909]:
calculate_fittnes(neew, teaching_curriculum)

(0, 0)

In [660]:
newnew = local_search(result_timetable, teaching_curriculum)

lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 6
0 9
group 2
room 0
equip 0
lecturer 0
0 6
0 9
group 2
room 0
equip 0
lecturer 0
0 6
group 1
room 0
equip 0
lecturer 0
0 6
group 1
room 0
equip 0
lecturer 0
0 3
0 6
group 2
room 0
equip 0
lecturer 0
0 3
0 6
group 2
room 0
equip 0
lecturer 0
0 3
group 1
room 0
equip 0
lecturer 0
0 3
group 1
room 0
equip 0
lecturer 0
0 3
group 1
room 0
equip 0
lecturer 0
0 11
group 1
room 1
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 1
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 3
0 9
3 9
group 3
room 0
equip 0
lecturer 1
0 3
0 9
3 6
3 9
group 4
room 0
equip 0
lecturer 1
0 3
0 9
3 6
3 9
group 4
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 4
0 9
4 9
group 3
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 1
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 2
0 9
group 1
room 0
equip 0
lecturer 2
0 9
group 1
room 0
equip 0
lecturer 2
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 6
0 9
6 9
group 3
room 0
equip 0
lecturer 0
0 6
0 9
6 9
group 3
room 0
equip 0
lecturer 0
0 6
0 9
6 9
group 3
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 1
0 9
3 6
group 2
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 1
equip 0
lecturer 2
0 9
group 1
room 1
equip 0
lecturer 2
0 9
group 1
room 1
equip 0
lecturer 2
0 9
group 1
room 1
equip 0
lecturer 1
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9

group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
6 9
group 2
room 0
equip 0
lecturer 0
0 9
6 9
group 2
room 0
equip 0
lecturer 0
6 9
group 1
room 0
equip 0
lecturer 0
6 9
group 1
room 0
equip 0
lecturer 0
3 9
6 9
group 2
room 0
equip 0
lecturer 0
3 9
6 9
group 2
room 0
equip 0
lecturer 0
3 9
group 1
room 0
equip 0
lecturer 0
3 9
group 1
room 0
equip 0
lecturer 0
3 9
group 1
room 0
equip 0
lecturer 1
9 11
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 1
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 1
0 9
0 10
9 10
group 3
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 1
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 0
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 1
lecturer 0
0 9
group 1
room 0
equip 0

In [661]:
newnew

    room  time_slot
0      0         24
1      1          4
2     10          0
3     12         31
4      3         14
5      0         57
6      5         27
7     11         53
8     11         49
9      7         24
10     4         14
11     0         36

In [664]:
newnewnew = newnew.copy()
newnewnew.iloc[0]['time_slot'] = 34

In [665]:
newnewnew

    room  time_slot
0      0         34
1      1          4
2     10          0
3     12         31
4      3         14
5      0         57
6      5         27
7     11         53
8     11         49
9      7         24
10     4         14
11     0         36

In [677]:
calculate_fittnes(newnewnew, teaching_curriculum)

lecturer 0
group 0
room 0
equip 0

0

In [884]:
def calculate_soft_constraints(timetable, teaching_curriculum, indexes):
    list_of_timeslots = [set() for x in range(60)]
    for i in indexes:
        timeslot = timetable.iloc[i]['time_slot']
        num_of_classes = classes.iloc[int(teaching_curriculum.iloc[i]['class'])]['number_of_classes']
        for j in range(timeslot, timeslot + num_of_classes):
            list_of_timeslots[j].add(rooms.iloc[timetable.iloc[i]['room']]['location'])
    count = 0
    last_set = set()
    last_index = 0
    for i in range(len(list_of_timeslots)):
        if i % 12 == 0:
            last_set = set()
        if last_set and last_index < i - 1 and list_of_timeslots[i]:
            count += 1
        if last_set and list_of_timeslots[i] and last_set.isdisjoint(list_of_timeslots[i]):
            count += 1
        if (list_of_timeslots[i]):
            last_set = list_of_timeslots[i]
            last_index = i
    return count

In [768]:
newTimetable = init_timetable()
newTimetable.iloc[1]['time_slot'] = 3
newTimetable.iloc[2]['time_slot'] = 8
newTimetable

    room  time_slot
0      0          0
1      1          3
2      2          8
3      3          0
4      4          0
5      5          0
6      6          0
7      7          0
8      8          0
9      9          0
10    10          0
11    11          0

In [789]:
calculate_soft_constraints(newTimetable, teaching_curriculum, [0, 1, 2])

ovde
ovde

2

In [906]:
def lecturer_soft_constraint(timetable, teaching_curriculum):
    count = 0
    for i in lecturers.index:
        indexes = teaching_curriculum[teaching_curriculum['lecturer'] == str(i)].index
        count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

def lecturer_soft_constraint_delta(timetable, teaching_curriculum, i):
    lecturer_index = teaching_curriculum.iloc[i]['lecturer']
    indexes = teaching_curriculum[teaching_curriculum['lecturer'] == lecturer_index].index
    return calculate_soft_constraints(timetable, teaching_curriculum, indexes)

In [905]:
lecturer_soft_constraint_delta(result_timetable, teaching_curriculum, 6)

indexes Int64Index([3, 4, 5, 6, 7, 8], dtype='int64')

1

In [885]:
def groups_soft_constraint(timetable, teaching_curriculum):
    count = 0
    for i in groups.index:
        if groups.iloc[i]['parent']:
            indexes = teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(str(i))) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iloc[i]['parent']].index[0])))].index
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

def groups_soft_constraint_delta(timetable, teaching_curriculum, i):
    group_set = teaching_curriculum.iloc[i]['groups']
    count = 0
    for el in group_set:
        if groups.iloc[int(el)]['parent']:
            indexes = teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(el)) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iloc[int(el)]['parent']].index[0])))].index
            count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
        else:
            children_groups = groups[groups['parent'] == groups.iloc[int(el)]['name']].index
            for j in children_groups:
                indexes = teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(str(j))) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iloc[j]['parent']].index[0])))].index
                count += calculate_soft_constraints(timetable, teaching_curriculum, indexes)
    return count

In [842]:
groups[groups['parent'] == groups.iloc[0]['name']]

   name parent
1  4i1a     4i
2  4i1b     4i
3  4i2a     4i
4  4i2b     4i

In [844]:
groups_soft_constraint_delta(newTimetable, teaching_curriculum, 0)

Int64Index([1, 2, 3, 4], dtype='int64')
1
1 Int64Index([0, 1, 3, 5, 9, 10], dtype='int64')
[{'0', '2', '1'}, {'0', '2', '1'}, {'0', '2'}, {'0'}, {'0'}, {'0'}, set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set()]
2
2 Int64Index([0, 1, 3, 6, 9, 10], dtype='int64')
[{'0', '2', '1'}, {'0', '2', '1'}, {'0', '2'}, {'0'}, {'0'}, {'0'}, set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set()]
3
3 Int64Index([0, 2, 4, 7, 9, 11], dtype='int64')
[{'0', '2', '1'}, {'0', '2', '1'}, {'2', '1'}, set(), set(), set(), set(), set(), {'0'}, {'0'}, {'0'}, set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set()]
ovde
ili ovde
4
4 Int64Index([0, 2, 4, 8, 9, 11], dtype='int64')
[{'0', '2', '1'}, {'0', '2', '1'}, {'2', '1'}, set(), set(), set(), set(), set(), {'0'}, {'0'}, {'0'}, set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set(), set()]
ovde
ili ovde

4

In [809]:
teaching_curriculum

   lecturer class     groups
0         0     0        {0}
1         0     1     {2, 1}
2         0     1     {4, 3}
3         3    10     {2, 1}
4         3    10  {4, 3, 5}
5         3    11        {1}
6         3    11        {2}
7         3    11     {5, 3}
8         3    11        {4}
9         2     8        {0}
10        2     9     {2, 1}
11        2     9     {4, 3}

In [823]:
teaching_curriculum[(teaching_curriculum['groups'].astype(str).str.contains(str(1))) | (teaching_curriculum['groups'].astype(str).str.contains(str(groups[groups['name'] == groups.iloc[1]['parent']].index[0])))].index

Int64Index([0, 1, 3, 5, 9, 10], dtype='int64')

In [828]:
newTimetable

    room  time_slot
0      0          0
1      1          3
2      2          8
3      3          0
4      4          0
5      5          0
6      6          0
7      7          0
8      8          0
9      9          0
10    10          0
11    11          0

In [827]:
groups_soft_constraint(newTimetable, teaching_curriculum)

RangeIndex(start=0, stop=9, step=1)
1 Int64Index([0, 1, 3, 5, 9, 10], dtype='int64')
2 Int64Index([0, 1, 3, 6, 9, 10], dtype='int64')
3 Int64Index([0, 2, 4, 7, 9, 11], dtype='int64')
ovde
ili ovde
4 Int64Index([0, 2, 4, 8, 9, 11], dtype='int64')
ovde
ili ovde
6 Int64Index([4, 7], dtype='int64')
7 Int64Index([4, 7], dtype='int64')
8 Int64Index([4, 7], dtype='int64')

4

In [777]:
print(lecturers)

      name
0  Kartelj
1    Cukic
2    Mitic
3   Malkov

In [786]:
teaching_curriculum[teaching_curriculum['lecturer'] == str(i)].index

Int64Index([0, 1, 2], dtype='int64')

In [847]:
test = (1,2)
test2 = test
test = (3,4)

In [848]:
test2

(1, 2)

In [849]:
test

(3, 4)